@import 'orpheus-styles/src/scss/variables.scss';

.formattingTooltip {
	visibility: hidden;
	background: $color_grey_900;
	border-radius: 4px;
	position: absolute;
	transform: translate(-50%) scale(0);
	z-index: 10;

	&.formattingTooltipVisible {
		transform: translate(-50%) scale(1);
		transition: transform 0.15s cubic-bezier(.3,1.2,.2,1);
		visibility: visible;
	}

	input {
		margin-bottom: 0;
	}
}

.formattingTooltip:after, .formattingTooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.formattingTooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: $color_grey_900;
	border-width: 4px;
	margin-left: -4px;
}

.formattingTooltip:before {
	border-color: rgba(221, 221, 221, 0);
	border-top-color: $color_grey_900;
	border-width: 6px;
	margin-left: -6px;
}


.formattingTooltipButtons {
	// Hack: Tried putting this in FormattingTooltipButtons.scss,
	// but the code didn't get picked up on the front-end.
  display: flex;
}
