@import 'orpheus-styles/src/scss/variables.scss';

.filter {
	box-shadow: none !important;
	margin-top: 0 !important;

	&::before {
		display: block !important;
		opacity: 1 !important;
	}

	&:first-child {
		&::before {
			display: none !important;
		}
	}
}

.filterPanelSummary {
	opacity: 0.6 !important;
	padding: 0.5rem 0 !important;

	&:hover {
		opacity: 0.8 !important;
	}

	&[aria-expanded="true"] {
		opacity: 1 !important;
	}

	[role="button"] {
		padding: 0 !important;
		right: 0 !important;
	}

	> div {
		&:first-child {
			margin-top: 12px !important;
		}
	}

	+ div {
		transform: translateY(-10px);
	}
}

.filterPanelSummaryTitle {
	font-weight: 500 !important;
}

.filterPanelDetails {
	padding: 0.5rem 0 0 !important;
	flex-wrap: wrap;
}

.filterPanelMore {
	text-align: center;

	> button {
		background: $color_grey_100;
		color: $color_grey_600;
		display: block !important;
		font-size: 0.8rem;
		width: 100%;
	}
}

.filterQueryInput {
	margin-bottom: 10px !important;
	margin-top: 0 !important;

	label:not([data-shrink="true"]) {
		transform: translate(14px, 15px) scale(1) !important;
	}

	input[type="text"] {
		padding-bottom: 14px;
		padding-top: 14px;
	}
}
