@import 'orpheus-styles/src/scss/mixins/breakpoints.scss';

.addTooltip {
	opacity: 0;
	left: -65px;
	position: absolute;
	transition: opacity 0.2s;
	visibility: hidden;
	z-index: 10;

	&.addTooltipVisible {
		@include breakpoint2 {
			opacity: 1;
			transform: scale(1);
			transition: transform 0.15s cubic-bezier(.3,1.2,.2,1), opacity 0.2s;
			visibility: visible;
		}
	}
}
