@import 'orpheus-styles/src/scss/variables.scss';

.post {
	@include breakpoint3 {
		padding-top: 60px;
	}
}

.postHeaderImage {
	background: $color_grey_200;

	img {
		display: block;
		height: -webkit-fill-available;
		margin: 0 auto;
		max-height: 80vh;
		object-fit: cover;
		position: relative;
	}

	figcaption {
		background: $white;
		padding: 10px;
	}
}

.postContent {
	margin-bottom: 6rem;
	margin: 0 auto;
	max-width: 60rem;
	padding: 1rem 0 3rem;

	@include breakpoint3 {
		padding: 3rem 1.5rem;
	}

	@include breakpoint4 {
		padding: 3rem 6rem;
	}
}

.postContentHeader h1 {
	text-align: center;
}

.postContentHeaderMetadata {
	margin-bottom: 2rem;

	ul {
		display: flex;
		justify-content: center;
	}

	li {
		padding: 0 1rem;
		&:not(:nth-child(1)):not(:nth-child(2)) {
			display: none;
			@include breakpoint2 {
				display: block;
			}
		}
	}
}

.postContentMain {
	figure {
		img {
			display: block;
			margin: 0 auto;
			max-height: 700px;
			width: auto;
		}
	}

	.card {
		margin: 2rem auto;
	}
}
