@import 'orpheus-styles/src/scss/variables.scss';

.editor {
  font-size: 1.1rem;
  position: relative;

  ul, ol {
    margin-left: 30px;
  }

  [data-contents="true"] > * {
    margin-bottom: 20px;
  }
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 0;
}

.public-DraftEditorPlaceholder-inner {
  color: $color_grey_500;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}

ol.public-DraftStyleDefault-ol {
  list-style-type: decimal;
}

ul.public-DraftStyleDefault-ul {
  list-style-type: disc;
}

li.public-DraftStyleDefault-unorderedListItem,
li.public-DraftStyleDefault-orderedListItem {
  list-style-type: inherit;
}
