    <section class="archiveContactSection">
        <div class="archiveContact">
            <div class="archiveContactMapOuter">
                <div class="br mh300 mw100 mapInput mapboxgl-map" id="map">
                </div>
									<script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoibHVrZWhvbGxpcyIsImEiOiJ6Rk1vdjc0In0.jQDtXA8wqU_wYi5p1ClCyw';
                    var mapboxClient = mapboxSdk({accessToken: mapboxgl.accessToken});
                    mapboxClient.geocoding
                      .forwardGeocode({query: "Widener Library", autocomplete: false, limit: 1})
                      .send()
                      .then(function(response) {
                        if (response && response.body && response.body.features && response.body.features.length) {
                          var feature = response.body.features[0];

                          var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/lukehollis/cj7dnh4fb11452smw1dj34x04',
                            scrollZoom: false,
                            boxZoom: false,
                            center: feature.center,
                            zoom: 13
                          });
                          new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
                        } else {
                          var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/lukehollis/cj7dnh4fb11452smw1dj34x04',
                            scrollZoom: false,
                            boxZoom: false,
                            center: [
                              -77.0636855, 38.9173157
                            ],
                            zoom: 15
                          });
                        }
                      });
									</script>
            </div>
            <div class="archiveContactDetails">
                <h4 class="jss26 jss41">Oral Tradition Journal</h4>
								<span class="jss26 jss36 archiveContactDetailsLabel">Email</span>
                <p class="jss26 jss35"><a href="mailto:journal@oraltradition.org">journal@oraltradition.org</a></p>
								<span class="jss26 jss36 archiveContactDetailsLabel">Address</span>
                <p class="jss26 jss35">Boylston 223, Harvard University, Cambridge, MA 02138, United States</p>
								<span class="jss26 jss36 archiveContactDetailsLabel">Also see</span>
                <p class="jss26 jss35"><a href="https://mpc.chs.harvard.edu/">Milman Parry Collection of Oral Literature</a></p>
								<span class="jss26 jss36 archiveContactDetailsLabel">ISSN</span>
                <p class="jss26 jss35">E-ISSN 1542-4308</a></p>
            </div>
        </div>
    </section>
