
<div class="articleTeaser">
	{% if article.slug %}
		<a href="/{{article.slug}}">
			<h4>
				{{article.title}}{% if article.subtitle %}: {{article.subtitle}}{%endif%}
			</h4>
		</a>
	{% else %}
		<a href="{{article.meta.pdf}}">
			<h4>
				{{article.title}}{% if article.subtitle %}: {{article.subtitle}}{%endif%}
			</h4>
		</a>
	{% endif %}
	<p class="articleTeaserAuthor">
		{{article.tags(string)|join(', ')}}
	</p>
	<p>
		{% if article.excerpt %}
			{{article.excerpt}}
		{% else %}
			{{article.content|excerpt(20)}}
		{% endif %}
	</p>
	{% if article.meta.attachments %}
		<a class="eCompanion-link" href="/ecompanion/{{article.id}}/{{article.post_name}}">
			View the <em>eCompanion</em> <i class="mdi mdi-image-multiple"></i>
		</a>
	{% endif %}
</div>
