{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} -oralTradition" data-template="base.twig">
    <noscript class="noJavascriptMessage">
        <style>
            body,
            html {
                margin: 0;
                padding: 0
            }

            .noJavascriptMessage {
                align-items: center;
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Liberation Sans", Noto, sans-serif;
                justify-content: center;
                margin: 0;
                min-height: 100vh;
                padding: 0
            }

            .noJavascriptMessage>div {
                max-width: 500px;
                padding: 20px;
                text-align: center
            }

            .noJavascriptMessage svg {
                height: 100px;
                margin-bottom: 40px
            }
        </style>
        <div>
            <svg width="150px" height="146px" viewBox="0 0 150 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M75.016497,145.4 C31.816497,145.4 0.816497,113.2 0.816497,73.4 L0.816497,73 C0.816497,33.2 32.216497,0.6 75.416497,0.6 C118.616497,0.6 149.616497,32.8 149.616497,72.6 L149.616497,73 C149.616497,112.8 118.216497,145.4 75.016497,145.4 Z M75.416497,117 C100.216497,117 117.416497,97.4 117.416497,73.4 L117.416497,73 C117.416497,49 99.816497,29 75.016497,29 C50.216497,29 33.016497,48.6 33.016497,72.6 L33.016497,73 C33.016497,97 50.616497,117 75.416497,117 Z" id="O" fill="#000000"></path>
            </svg>
            <p>Enable JavaScript and refresh the page to view Orpheus.</p>
            <p><a href="https://www.enable-javascript.com/" target="_blank">See how to enable JavaScript in your browser.</a></p>
        </div>
    </noscript>

    <div id="root">
	    <div>
				{% block header %}
					{% include 'partial/header.twig' with { header_dark: true }%}
				{% endblock %}
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% block footer %}
	        <section class="footer">
	            <div class="sticky-reactnode-boundary"></div>
	            <div class="footerCopyright">© Oral Tradition Journal {{ "now"|date("Y") }}</div>
	            <div class="footerLinks">
	                <ul>
	                    <li><a href="https://gdpr.harvard.edu/eeaprivacydisclosures">Terms of use</a></li>
	                    <li><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a></li>
	                    <li><a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0 License</a></li>
	                    <li>
												<a href="//archive.journal.oraltradition.org" class="archiveLink">
													Archives
													<span class="archiveLinkHelpText">
														For reference purposes, please also see archive.journal.oraltradition.org
													</span>
												</a>
											</li>
	                </ul>
	            </div>
	        </section>
				{% endblock %}
	        <div></div>
	    </div>
	</div>

		{{ function('wp_footer') }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script async defer="defer" src="{{ site.theme.link }}/static/js/headroom.min.js"></script>
    <script async defer="defer" src="{{ site.theme.link }}/static/js/site.js"></script>

		<script src="{{ site.theme.link }}/client/build/static/js/2.bundle.js"></script>
		<script src="{{ site.theme.link }}/client/build/static/js/0.bundle.js"></script>
		<script src="{{ site.theme.link }}/client/build/static/js/bundle.js"></script>

		<!--
		<script src="http://localhost:3000/static/js/main.bundle.js"></script>
		<script src="http://localhost:3000/static/js/bundle.js"></script>
		<script src="http://localhost:3000/static/js/1.bundle.js"></script>
		-->

	  <script>
	  </script>
	</body>
</html>
