<header class="headerExternal
  {% if header_dark %}
    -dark
  {% endif %}
">
    <div class="headerExternalDefault">
        <div class="headerExternalSite">
						<a class="headerExternalSiteArchiveTitle" href="/"><span>Oral Tradition</span></a></div>
        <ul class="headerExternalNav">
          {% if menu %}
      			{% for item in menu.items %}
      				<li class="headerExternalNavLinkHideOnMobile {{ item.classes | join(' ') }}">
      					<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      				</li>
      			{% endfor %}
    			{% endif %}

            <li class="headerExternalNavLinkHideOnMobile featureButton"><a href="/subscribe">Subscribe</a></li>
            <!--li>
                <button class="jss7 jss1 headerExternalButton" tabindex="0" type="button" aria-owns="menu-list-grow" aria-haspopup="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg></span><span class="jss19"></span></button>
            </li-->
            <li>
              <button class="headerExternalButton headerExternalButtonSearch" type="button">
                  <svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                      <path fill="none" d="M0 0h24v24H0z"></path>
                  </svg>
              </button>
            </li>
        </ul>
    </div>
    <div class="headerExternalSearch -hidden">
        <div class="headerExternalSearchContent">
            <button id="header_external_search_back">
              <i class="mdi mdi-arrow-left"></i>
            </button>
            <form id="search_form" >
              <input id="header_external_search" type="search" placeholder="Search" value="">
            </form>
        </div>
        <div class="headerExternalSearchBackground"></div>
    </div>
</header>
