<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/rangeslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft-js-inline-toolbar-plugin.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draft-js-mention-plugin.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draftjs-inline-toolbar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/draftjs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/chs.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/orpheus.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/annotations.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/static/css/oraltradition.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <meta name="theme-color" content="#000000">
  	<link rel="manifest" href="{{ site.theme.link }}/static/manifest.json">
  	<link rel="shortcut icon" href="{{ site.theme.link }}/static/favicon.ico">
    <script src="https://cdn.ravenjs.com/3.21.0/raven.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css">
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

    <script async defer="defer" src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoZmCz1xYcNNa3XvFQeXkbafy-Gn6sp-0" type="text/javascript"></script>

    <title>
      {% if page_title %}
        {{page_title}} | Oral Tradition Journal
      {% else %}
        Oral Tradition Journal at Harvard University
      {% endif %}
    </title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36250260-20"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-36250260-20');
  </script>

    {{function('wp_head')}}
