{% extends "base.twig" %}

	{% block content %}
	<div class="archive">
		{% include "partial/cover.twig" with { title: "Oral Tradition", subtitle: "An open-access journal devoted to the study of the world’s oral traditions, past and present.", image: "https://journal.oraltradition.org/wp-content/uploads/headerbackground.jpg" } %}


			<section>
		    <div class="archiveFeatureBlock">
	        <div class="archiveFeatureBlockInner">
	          <a href="/issues/34i/volume-34-issue-1" class="archiveFeatureBlockContent" style="background-image: url(&quot;//journal.oraltradition.org/wp-content/uploads/Fig.-10.-Mmer%C9%9Bmma.png&quot;);">
	            <div class="archiveFeatureGradient"></div>
	            <div class="archiveFeatureBlockTextContent">
	              <div class="archiveFeatureBlockUpper">
	                <label class="archiveFeatureBlockLead">December 2020</label>
								<h3>Volume 34</h3>{% if meta.Subtitle %}<span class="archiveFeatureBlockSubtitle">{{meta.Subtitle}}</span>{% endif %}</div>
	              <div class="archiveFeatureBlockLower"><span class="archiveFeatureBlockIntro">Read more</span></div>
	            </div>
	          </a>
	        </div>
		    </div>
			</section>
			<section class="recentIssueArticles">
					<div class="articleTeasers">
						{% for article in posts %}
								{% if article.title not in ["Editors’ Column"] %}
									{% include 'article-teaser.twig' with { article: article } %}
								{% endif %}
						{% endfor %}
					</div>

					<!--a href="/issues/34i/volume-34-issue-1/">
						<button class="orpheusButton readMoreButton">
							Read More
						</button>
					</a-->

			</section>
	    <section>
				<div id="IssuesView"><div class="loadingGrid">Loading Issues . . .</div></div>
			</section>
			{% include "about-info.twig" %}
	</div>
	{% endblock %}
