{% if attachments.length %}
  <section>
      <h2 class="jss26 jss39 archiveSectionTitle">Media</h2>
      <div class="ItemThumbnailListContainer">
          <div class="list-info"><span class="jss26 jss46 itemsCountTitle">{{attachments|length}} items in the eCompanions included in this issue</span><a class="jss7 jss62 jss64 jss65 jss67 jss68 viewAllButton" tabindex="0" role="button" href="/search?type=post"><span class="jss63">View all</span><span class="jss19"></span></a></div>
          <div class="image-wrapper">
  					{% for attachment in attachments %}
              <a href="{{attachment.ecompanionLink}}">
  							<img src="{{attachment.url}}" alt="{{attachment.fields.caption}}">
  						</a>
  					{% endfor %}
          </di>
      </div>
  </section>
{% endif %}
