{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper page">
		<div class="cover"><div class="coverBackground" style="background-image: url(&quot;http://iiif.orphe.us/orpheus/art/oral-tradition-journal.jpg/full/full/0/default.jpg&quot;);"></div><div class="coverBackgroundGradient"></div><div class="coverContent"></div></div>
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="postHead">
					<h1 class="article-h1">Thanks! Check your email to confirm</h1>
				</div>
				<div class="article-body postSection postContent">
					<div class="postContentInner">
					<p>
						Great. We've just sent you an email. Click on the link in there to confirm your subscription.
					</p>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	{% include "about-info.twig" %}
{% endblock %}
