{% extends "base.twig" %}

{% block header %}
	{% include 'partial/header.twig' with { header_dark: false }%}
{% endblock %}
{% block content %}
	<div class="content-wrapper page">
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body postSection postContent">
					<div class="postContentInner">
						<div id="IssuesView"></div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	{% include "about-info.twig" %}
{% endblock %}
