{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper page">
    <div class="cover">
      <div class="coverBackground" style="background-image: url(&quot;http://iiif.orphe.us/orpheus/art/oral-tradition-journal.jpg/full/full/0/default.jpg&quot;);"></div>
      <div class="coverBackgroundGradient"></div>
      <div class="coverContent"></div>
    </div>
    <article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="postHead">
          {% if meta.Date %}
            <p class="overline">
              {{meta.Date|date('F Y')}}
            </p>
          {% endif %}
          <h1 class="article-h1">
            Volume
            {{meta.Volume}}{% if meta.Volume != 34 %}, Issue
            {{meta.Number}}{% endif %}
            {% if meta.Subtitle %}:&nbsp;{{meta.Subtitle}}
            {% endif %}
          </h1>
          <div class="postHeadLinks">
						{% if meta["Complete Issue"]%}
							<a href="{{meta["Complete Issue"]}}">Download <i class="mdi mdi-file-pdf"></i></a>
						{% endif %}


						{% if meta["All Files"]%}
							<a href="{{meta['All Files']}}">Media <i class="mdi mdi-image-outline"></i></a>
						{% endif %}
          </div>
        </div>
        <div class="article-body postSection postContent">
          <div class="postContentInner">
            <div class="issueSection">
              <label>Front Matter</label>
              <div class="articleTeasers">
                {% for article in issue.posts %}
                  {% if article.title == "Editors’ Column"  or article.title == "Editor's Column" or article.title == "Editor’s Column" %}
                    {% include 'article-teaser.twig' with { article: article } %}
                  {% endif %}
                {% endfor %}
                {% if meta['Editor’s Column'] and not hasEditors %}
                  <div class="articleTeaser">
                    <a href="{{meta['Editor’s Column']}}">
                      <h4>
                        Editor's Column
                      </h4>
                    </a>
                    <p class="articleTeaserAuthor"></p>
                    <p></p>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="issueSection">
              <label>Articles</label>
              <div class="articleTeasers">
                {% for article in posts %}
                  {% if article.title not in ["Editors’ Column", "Editor's Column", "Editor’s Column", "About the Authors"] %}
                    {% include 'article-teaser.twig' with { article: article } %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="issueSection">
              <label>Supplemental Materials</label>
              {% for article in issue.posts %}
                {% if article.title == "About the Authors" %}
                  {% include 'article-teaser.twig' with { article: article } %}
                {% endif %}
              {% endfor %}
              {% if meta["About the Authors"] and not hasAboutAuthors %}
                <div class="articleTeaser">
                  <a href="{{meta['About the Authors']}}">
                    <h4>
                      About the Authors
                    </h4>
                  </a>
                  <p class="articleTeaserAuthor"></p>
                  <p></p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </article>
    {% include 'media-block.twig' %}
  </div>
  <!-- /content-wrapper -->
{% endblock %}
