{% extends "base.twig" %}
{% block header %}
	{% include 'partial/header.twig' with { header_dark: false }%}
{% endblock %}

{% block content %}
	<div class="content-wrapper page ecompanion-post">
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				{% if post.meta.attachments %}
	        <div id="PostView">
	        </div>
				{% endif %}
				<div class="postHead">
					<h1 class="article-h1">{{post.title}}</h1>
					{% if post.subtitle %}
						<h3>{{post.subtitle}}</h3>
					{% endif %}
          <h2 class="byline">
            {{byline}}
          </h2>

					<div class="postHeadLinks">
						{% if post.pdf %}
							{% set file = TimberImage(post.pdf) %}
							<a href="{{file.src}}">Download <i class="mdi mdi-file-pdf"></i></a>
						{% endif %}
						{% if post.media %}
							{% set media_file = TimberImage(post.media) %}
							<a href="{{media_file}}"></i></a>
						{% endif %}
					</div>
				</div>
				<div class="article-body postSection postContent">
					<div class="postContentInner">
            {{post.content}}
					</div>
				</div>
			</section>
		</article>
    <script>
      window.__orpheus__ = window.__orpheus__ || {};
      window.__orpheus__.eCompanionFiles = [
        {% for attachment in attachments %}
          {
      			fileURI: "{{attachment.url}}",
      			caption: "{{attachment.fields.caption}}",
          },
        {% endfor %}
      ];

    </script>

	</div><!-- /content-wrapper -->
	<!--div id="Annotations">Annotations loading . . .</div-->
{% endblock %}
