@import 'orpheus-styles/src/scss/variables.scss';

.selectedFilters {
  background: $color_primary_50;
  border-radius: 4px;
  margin: 1rem;
  overflow: hidden;

  @include breakpoint3 {
    margin-right: 0;
  }

  @include breakpoint4 {
    margin-left: 0;
  }
}

.activeFilter {
  font-size: 12px;
  padding: 10px 10px 0;
}

.activeFilterLabel {
  color: $color_grey_700;
  margin-bottom: 0.5rem;
}

.activeFilterValues {
}

.activeFilterValue {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
  &:hover {
    svg {
      fill: $color_grey_900;
    }
  }

  p {
    max-height: 1.2rem;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }

  svg {
    fill: $color_grey_600;
    margin-left: 5px;
    position: relative;
    top: 1px;
    width: 16px;
  }
}

.selectedFiltersClearAllButton {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  color: $color_grey_700 !important;
  display: block !important;
  font-size: 0.8rem !important;
  margin-top: 0.5rem !important;
  padding-bottom: 0.7rem !important;
  padding-top: 0.6rem !important;
}
