@import 'orpheus-styles/src/scss/variables.scss';

body.-showMobileFilters {
	overflow: hidden;
}

.filters {
	.-showMobileFilters & {
		background: $white;
		left: 0;
		height: 100vh;
		width: 100%;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		z-index: 100;
	}
}

.filtersToggle {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	@include breakpoint3 {
		display: none;
	}

	.-showMobileFilters & {
		display: none;
	}
}

.filtersContent {
	display: none;
	margin-bottom: 0.5rem;
	padding: 0 1rem 70px;

	.-showMobileFilters & {
		display: block;
	}

	@include breakpoint3 {
		display: block;
		padding-right: 0;
	}

	@include breakpoint4 {
		padding-left: 0;
	}
}

.filtersApply {
	align-items: center;
	background: $color_primary_400;
	bottom: 0;
	box-shadow: 0 0 10px rgba($black, 0.5);
	color: $white;
	cursor: pointer;
	display: none;
	height: 50px;
	justify-content: center;
	left: 0;
	position: fixed;
	width: 100%;

	&:hover {
		background: $color_primary_500;
	}

	.-showMobileFilters & {
		display: flex;
	}
}

.filtersLoading {
	padding-top: 1rem;
}

.filtersLoadingInner {
	@include skeletonLoader;
	height: 10rem;
}
