@import 'orpheus-styles/src/scss/variables.scss';

.horizontalList {
  position: relative;

  .-loading & {
    @include skeletonLoader;
  }

  &.-fullWidth {
    background: $white;
    margin: 0 0 2rem;
    position: relative;

  }
}

.horizontalListTitle, .horizontalListButton {
  position: absolute;
  top: 0;
  .-fullWidth & {
    top: 1rem;
  }
}

.horizontalListTitle {
  left: 0;
  padding-top: 0.4rem;
  text-align: left;
	padding-left: 9.6rem;
  width: 100%;
  .-fullWidth & {
    color: $color_grey_700;
    margin-left: 1.3em;
    @include breakpoint3 {
      // left: 3rem;
    }
  }
}

.horizontalListButton {
  right: 0.5rem;
  .-fullWidth & {
    @include breakpoint3 {
      right: 2rem;
    }
  }
}

.horizontalListItems {
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 3rem;
  text-align: center;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  &::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 1rem;
  }
  .-fullWidth & {
    padding-bottom: 2rem;
    padding-top: 4rem;
    text-align: left;
    @include breakpoint3 {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &::after {
      @include breakpoint3 {
        width: 1rem;
      }
    }
  }
}

.horizontalListItem {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  white-space: normal;

  &:first-child {
    margin-left: 1rem;
  }
}
