@import 'orpheus-styles/src/scss/variables.scss';

.footer {
	@include orpheus_font_caption;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 60px 0;
	padding: 0 10px;
	text-align: center;
	width: 100%;
	@include breakpoint2 {
		flex-direction: row;
	}
}

.sticky-reactnode-boundary {
	position: absolute;
	margin-top: -75px;
}

.footerCopyright {
	margin-bottom: 1rem;
	@include breakpoint2 {
		margin-bottom: 0;
		margin-right: 40px;
	}
}

.footerLinks {

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 0 1rem;
	}

	a {
		padding: 10px 0;
		text-decoration: none;
	}
}
