@import 'orpheus-styles/src/scss/variables.scss';



.itemMetaField {

  .thumbnailFiles {
    text-align: left;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;


		.thumbnailFile {

			&:hover {
				outline: 1px solid #222;
			}

			&.pdfFile {
				border: 12px solid transparent;
				outline: 1px solid #eee;

				&:hover {
					outline: 1px solid #222;
				}
			}

			&.audioFile {
				padding: 8px 6px 1px;
				&:hover {
					outline: 1px solid transparent;
				}
			}


		}

  }

}
