@import 'orpheus-styles/src/scss/variables.scss';


.itemEditorMetadataField {
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.itemEditorMetadataFieldInput {
	margin-right: 20px;

	> div {
		&:before, &:after {
			display: none !important;
		}
	}

	> div > div {
		&:before, &:after {
			display: none;
		}
	}

	input {
		border: none;
		line-height: 1;
		margin-bottom: 0;
	}
}

.itemEditorMetadataFieldLabelInput {
	width: 20%;
}

.itemEditorMetadataFieldTypeInput {
	width: 10%;
}

.itemEditorMetadataFieldValueInput {
	width: 60%;
}

.itemEditorMetadataFieldRemove {
	margin-right: 0;
	position: relative;
	top: -9px;
}
