@import 'orpheus-styles/src/scss/variables.scss';



@keyframes fileUploading {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.fileUploadingIcon {
	background: #ddd;
	i {
		animation: fileUploading 1s infinite;
		&:before {
			font-size: 24px;
		}
	}
}
