@import 'orpheus-styles/src/scss/variables.scss';

.itemMetaField {
  width: 100%;
	padding: 10px 0 30px;
}

.itemMetaFieldLabel, .itemMetaFieldValue {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.itemMetaFieldLabel {
	padding-top: 15px !important;
	vertical-align: top !important;
	@include breakpoint2 {
		min-width: 150px;
	}
}

.itemMetaFieldLabel, .itemMetaFieldValue {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.itemMetaFieldLabel {
	color: $color_grey_600 !important;
	min-width: 0;
  span {
  	font-size: 14px !important; 
  }
}

.itemMetaFieldValue {
	color: $color_grey_800 !important;
	padding: 5px 2rem 0 0 !important;
	position: relative;
	width: auto;

}
