@import 'orpheus-styles/src/scss/mixins/breakpoints.scss';

.itemBlock {
  text-align: center;

  .embeddedContent {
    margin: 0 auto;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 600px;
  }
}

.itemBlockRemove {
  position: absolute;
  top: 10px;
  right: 10px;

}
