@import 'orpheus-styles/src/scss/variables.scss';

.ItemThumbnailListContainer {
	width: 100%;
	overflow-x: hidden;
	overflow-y:hidden;
  &.-no-results {
    margin-right: 1rem;
    max-width: 600px;
    padding: 3rem 0;
    text-align: center;
  }
}

.ItemThumbnailListContainer .image-wrapper {
	width: 125%;
	max-height: 480px;
	overflow-y: hidden;
}

.ItemThumbnailListContainer .image-wrapper img, .itemThumbnailDefault {
	height: 150px;
	margin: 5px;
	text-align: center;
	color: $color_grey_700;
	width: auto;
	display: block;
	max-width: none;
}

.ItemThumbnailListContainer .image-wrapper a {
	float: left;
	max-width: 380px;
	overflow: hidden;

	@media (max-width: 600px) {
		& {
			max-width: 240px;
		}
	}

}

.itemThumbnailDefault {
	background: $color_grey_200;
	width: 150px;

}

.itemsCountTitle {
	padding-top: 0rem;
	margin-top: 10px;
	padding-left: 10.6rem;
	padding-right: 2rem;
	color: $color_grey_700!important;
}

.list-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.viewAllButton {
	margin-right: 10.6rem !important;

}



@media (max-width: 990px) {
	.list-info {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 0;
	}

	.itemsCountTitle {
		padding: 2em 0 3em;
		margin: 0;
	}

	.viewAllButton {
		margin: 0 !important;
	}

}
