@import 'orpheus-styles/src/scss/index.scss';
@import 'orpheus-styles/src/scss/variables.scss';

/**
#root {
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px;

  @include breakpoint2 {
    padding: 100px;
  }
}*/
