@import 'orpheus-styles/src/scss/variables.scss';

.collectionListItem {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 30px 0;

  &.loading {

    .collectionListItemText h3, .collectionListItemText p, .collectionListItemImage {
			@include skeletonLoader;
    }

		h3 {
			height: 2rem;
			max-width: 200px;
		}

		p {
			height: 3rem;
			margin-bottom: 0.8rem;
			width: 100%;
			&::after {
				display: none;
			}
		}

    .collectionListItemImagesLoading {
      display: flex;
    }
  }
}

.collectionListItemText {
  width: 33%;
  min-width: 300px;
  padding-right: 30px;

  a {
    text-decoration: none;
    color: #222;
  }

}

.collectionListItemImages {
  width: 66%;
  a {
    display: flex;
  }
}

.collectionListItemImage {
  background-size: cover;
  background-position: center;
}



.collectionListItemImages-quadruple {
  .collectionListItemImages-Left,
  .collectionListItemImages-Right {
    width: 50%;
  }

  .collectionListItemImages-Left {
    padding-right: 10px;
  }

  .collectionListItemImage-1,
  .collectionListItemImage-2,
  .collectionListItemImage-3,
  {
    height: 180px;
  }

  .collectionListItemImage-1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .collectionListItemImages-Left-Lower {
    display: flex;

    .collectionListItemImage-2,
    .collectionListItemImage-3 {
      width: 50%;
    }

    .collectionListItemImage-2 {
      margin-right: 10px;
    }
  }

  .collectionListItemImage-4 {
    width: 100%;
    height: 370px;
  }
}

.collectionListItemImages-triple {
  a {
    display: flex;
  }

  .collectionListItemImagesLeft,
  .collectionListItemImagesRight
  {
    width: 50%;
  }

  .collectionListItemImage-1,
  .collectionListItemImage-2,
  {
    height: 180px;
    width: 100%;
  }

  .collectionListItemImage-1 {
    margin-bottom: 10px;
  }

  .collectionListItemImagesLeft {
    padding-right: 10px;
  }

  .collectionListItemImage-3 {
    width: 100%;
    height: 370px;
  }
}

.collectionListItemImages-double {
  .collectionListItemImage-1,
  .collectionListItemImage-2
  {
    width: 50%;
    height: 370px;
  }

  .collectionListItemImage-1 {
    margin-right: 10px;
  }
}

.collectionListItemImages-single {
  .collectionListItemImage-1 {
    width: 100%;
    height: 370px;
  }
}
