@import 'orpheus-styles/src/scss/variables.scss';

.timelineFilter{
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dateRangeMinLabel {
  display: none;
}

.input-range__label--min,
.input-range__label--max,
.input-range__label-container {
  display: none;
}

.input-range__label--value {
  top: .25rem;
}

.input-range {
  margin-top: -12px;
}

.input-range__track {
  border-color: $color_grey_200;
}

.input-range__slider, .input-range__track--active {
  background-color: $color_primary_500;
  border-color:  $color_primary_500;
}

.input-range__track {
  height: 3px;
}
