@import 'orpheus-styles/src/scss/variables.scss';
@import '../../items.scss';

.itemLoadingHeader, .itemLoadingContent {
	@include skeletonLoader;
	margin: 0 auto 2rem;
	max-width: 920px;
}

.itemLoadingHeader {
	height: 100px;
	width: 80%;
}

.itemLoadingContent {
	height: 400px;
}
