@import 'orpheus-styles/src/scss/variables.scss';

.list {
}

.listItem.-selectable {
	&::before {
		background-image: linear-gradient(to bottom, rgba($color_primary_900, 0.5), rgba($color_primary_900, 0));
	}
}
.listItem {
	// max-width: 600px;
	margin-top: -1px;
	// overflow: hidden;
	position: relative;
	&::before {
		border-radius: 5px;
		content: '';
		height: 150px;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 0.2s;
		width: 100%;
		z-index: 1;
	}
	&:first-child {
		&::before, .card, .listItemSelector::before {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&:last-child {
		&::before, .card, .listItemSelector::before {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	&:not(:first-child):not(:last-child) {
		&::before, .card, .listItemSelector::before {
			border-radius: 0;
		}
	}
	&.-listItemLengthOne {
		&::before, .card, .listItemSelector::before {
			border-radius: 5px;
		}
	}
	&:hover, &.-selected {
		&::before, .listItemSelector {
			opacity: 1;
		}
	}
	&.-selected {
		&::before {
			background: rgba($color_primary_900, 0.4);
			height: 100%;
		}
	}
}

.list.hasMoreToLoad {
	.listItem:last-child {
		.card {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

.listItemSelector {
	height: 50px;
	left: 8px;
	opacity: 0;
	position: absolute;
	top: 4px;
	transition: opacity 0.3s;
	transition-delay: 0.1s;
	width: 50px;
	z-index: 1;
	@include breakpoint3 {
		top: 9px;
	}
	&.-selected {
		opacity: 1;
	}
	path {
		fill: $white;
	}
}

.listItemCard {
}
