@import 'orpheus-styles/src/scss/mixins/breakpoints.scss';

.embedBlock {
  .embeddedContent {
    margin: 0 auto;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 600px;
  }
}

.embedBlockRemove {
  position: absolute;
  top: 10px;
  right: 10px;
}
