@import 'orpheus-styles/src/scss/variables.scss';

.-showSearch {
	overflow: hidden;
}

.headerExternal {
	left: 0;
	// overflow: hidden; (this needs to be disabled for popover menu to work)
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.headerExternalDefault {
	align-items: center;
	color: $black;
	display: flex;
	height: 60px;
	justify-content: space-between;

	.-dark & {
		color: $white;
	}

	.-showSearch & {
		display: none;
	}

	a {
		color: $black;
		opacity: 0.85;
		text-decoration: none;
		transition: opacity 0.2s;

		.-dark & {
			color: $white;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.headerExternalDefault .headerExternalSite { // prevent conflict from .headerExternalDefault a
	margin-right: 2rem;
	padding: 1rem;
	display: flex;
	align-items: center;

	@include breakpoint2 {
		margin-left: 1rem;
	}

	svg {
		fill: $black;
		height: 1.2rem;
		width: 1.2rem;

		.-dark & {
			fill: $white;
		}
	}

	.orpheusLogo {
		margin-right: 1rem;
	}
}

.headerExternalSiteLogo {
	align-items: center;
	border-right: 1px solid rgba($color_grey_500, 0.5);
	display: flex;
	margin-right: 1rem;
}

.headerExternalSiteArchiveTitle {
	padding: 10px 0;
	white-space: nowrap;
	span {
		white-space: nowrap;
	}
}

.headerExternalButton {
	opacity: 0.85;
	padding: 1rem 0.5rem;
	transition: opacity 0.2s;

	&:hover {
		opacity: 1;
	}

	&:focus {
		outline: none;
	}

	&:active {
    svg {
      transform: scale(0.95);
      transition: none;
    }
  }

	svg {
		fill: $black;
		height: 1.5rem;
		width: 1.5rem;

		.-dark & {
			fill: $white;
		}
	}
}

.headerExternalButtonManage {
	margin-left: 5px !important;
	margin-right: 0 !important;
	min-height: 34px !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-left: 1rem !important;;
	padding-right: 1rem !important;;

	span {
		color: #fff;
	}

	@include breakpoint2 {
		padding-bottom: 5px !important;
		padding-top: 4px !important;
	}
}


.headerExternalNav {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 0.3rem 0 0;

	@include breakpoint2 {
		margin-right: 1rem;
	}

	li {
		align-items: center;
		display: flex;
		height: 100%;
		margin: 0 0.2rem;
		position: relative;
		&.-active::before {
			background-color: $color_grey_500;
			content: '';
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		&.headerExternalNavLinkHideOnMobile {
			display: none;
			@include breakpoint2 {
				display: block;
			}
		}
		@include breakpoint2 {
			margin: 0 0.5rem;
		}
	}

	a, button {
		font-weight: 400;
		padding: 1rem 0.5rem;
	}

	a {
		align-items: center;
		display: flex;
		height: 100%;
	}
}

.headerExternalSecondaryNav {
	min-width: 150px;
	li, a {
		display: block;
	}
	.-dark & {
		a {
			color: $black;
		}
	}
}

.headerExternalButtonSearch {
	margin-top: 2px;
}

.headerExternalSearch {
	display: none;

	.-showSearch &, .-onSearchRoute & {
		display: block;
		left: 0;
		max-height: 100vh;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.-onSearchRoute & {
		box-shadow: 0 1px 5px rgba($black, 0.3);
		height: 50px;
		@include breakpoint2 {
			height: 60px;
		}

		.headerExternalSearchBackground {
			display: none;
		}
	}

	button {
		height: 100%;
		left: 0;
		opacity: 0.7;
		padding: 10px;
		position: absolute;
		top: 0;
		@include breakpoint2 {
			left: 10px;
			top: 1px;
		}

		&:hover {
			opacity: 1;
		}

		&:focus {
			outline: none;
		}
	}

	input[type="search"] {
		border-left: none;
		border-right: none;
		border-top: none;
		margin-bottom: 0;
		padding-left: 45px;
		padding-right: 15px;
		padding-bottom: 1rem;
		padding-top: 1rem;
		&:focus {
			outline: none;
		}

		@include breakpoint2 {
			padding-left: 60px;
			padding-right: 30px;
		}
	}
}

@keyframes headerExternalSearchContentAnimation {
  0% {
		opacity: 0;
		transform: translateY(-10px);
	}
  100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.headerExternalSearchContent {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	input[type="search"] {
		height: 50px;
		@include breakpoint2 {
			height: 60px;
		}
	}

	.-showSearch & {
		animation: headerExternalSearchContentAnimation 0.2s;
	}
}

@keyframes headerExternalSearchBackgroundAnimation {
  0% {
		opacity: 0;
	}
  100% {
		opacity: 1;
	}
}
.headerExternalSearchBackground {
	background: rgba($color_grey_900, 0.7);
	height: 100vh;
	z-index: 0;

	.-showSearch {
		animation: headerExternalSearchBackgroundAnimation 0.3s;
	}
}
