@import 'orpheus-styles/src/scss/variables';

.CollectionCard {
  height: 100%;
  opacity: 0.9;
  width: 90%;
  max-width: 320px;
  text-align: left;

  a {
    text-decoration: none;
    display: block;
  }

	&.-loading {
		border-color: $color_grey_300;
		cursor: default;

		&:hover {
			background-color: inherit;
		}

		.CollectionCardTitle, .CollectionCardDescription {
			@include skeletonLoader;
		}
  }

  &:hover {
    background-color: $white !important;
    .CollectionCardFiles, .CollectionCardDescription {
      &::after {
        background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%);
        pointer-events: none;
      }
    }
  }

  &:active {
    box-shadow: 0 1px 1px rgba($black, 0.3);
  }
}

.CollectionThumbnail {
  background: $color_grey_200;
  height: 200px;
  width: 320px;
  min-width: 320px;
	min-height: 200px;
	border-radius: 1rem;
  background-size: cover;
  margin: 0 5px 0 0;
}

.CollectionCardInner {
  padding: 10px 0px 20px;
}

.CollectionCardTitle {
  color: $black !important;
  font-weight: bold !important;
  line-height: 1.3 !important;
  margin: 5px 0 !important;
  max-height: 4rem;
  overflow: hidden;
  position: relative;
  &::after {
    background: linear-gradient(to right, rgba($color_grey_50, 0) 0%, rgba($color_grey_50, 1) 100%);
    bottom: 0;
    content: '';
    display: block;
    height: 1.5rem;
    position: absolute;
    right: 0;
    width: 40px;
  }
}

.CollectionCardDescription {
  color: $color_grey_700 !important;
  height: 2rem;
  overflow: hidden;
  position: relative;
  &::after {
    background: linear-gradient(to right, rgba($color_grey_50, 0) 0%, rgba($color_grey_50, 1) 100%);
    bottom: 0;
    content: '';
    display: block;
    height: 1rem;
    position: absolute;
    right: 0;
    width: 40px;
  }
}

.CollectionCardMeta {
  color: $color_grey_700 !important;
  display: block;
  margin-top: 10px !important;
}
