@import 'orpheus-styles/src/scss/variables.scss';

.settings {
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 8rem;
	@include breakpoint3 {
		padding: 8rem 2rem 0;
	}
}

.expandMoreHeading, .expandMoreSecondaryHeading {
	font-size: 15px;
	display: inline-block;
	vertical-align: baseline;
	padding: 5px 0 7px;
	margin: 0;
}

.expandMoreHeading {
	padding-right: 2rem;
	width: 20%;
}

.expandMoreSecondaryHeading {
	color: $color_grey_500;
	pointer-events: none;
}
