@import 'orpheus-styles/src/scss/variables.scss';

$thumbnailWidth: 20vw;

.thumbnailsOpen {
	.MediaModalActions {
		z-index: 10;
		visibility: visible;
	}
	.annotator {
		width: 80vw;
		left: $thumbnailWidth;

	}

}
.annotation-element {
	visibility: hidden;
	@include breakpoint3 {
		visibility: visible;
	}
}
.zoomedIn.thumbnailsOpen {
	.MediaModalActions {
		visibility: hidden;
		display: none;
		z-index: 10;
		@include breakpoint3 {
			visibility: hidden;
		}
	}
}

.zoomedIn.thumbnailsClosed {
	.MediaModalActions {
		visibility: hidden;
	}
}

.zoomedOut {
	.MediaModalActions {
		z-index: 10;
		visibility: visible;
	}
}

.thumbnailsOpen {
	.MediaModalThumbnailToggle {
		bottom: 180px;
		left: 50%;
		top: auto;
		transform: translateX(-50%);
		@include breakpoint3 {
			bottom: auto;
			left: $thumbnailWidth;
			transform: translateX(0) translateY(-50%);
			top: 50%;
		}
	}
	.MediaModalActions {
		left: 0;

		// margin-bottom:  140px;
		@include breakpoint3 {
			left: $thumbnailWidth;
			// visibility: hidden;
			// margin-bottom: 0;

		}
	}

	#viewer {
		@include breakpoint3 {
			padding-bottom: 0;
			width: 80vw;
		}
	}

	.MediaModalContent {
		align-items: center;
		display: flex;
		padding-bottom: 200px;
		@include breakpoint3 {
			padding-bottom: 0;
			width: 80vw;
		}

		video {
			height: auto !important;
			&:focus {
				outline: 1px solid $color_grey_300;
			}
		}
	}
}

.MediaModal {
  position: relative;
  background: $color_grey_100;
  height: 100vh;
  width: 100%;
	overflow: hidden;
	@include breakpoint3 {
		display: flex;
	  justify-content: center;
	  align-items: center;
	}
}

.fileDetailThumbnails {
	background: $white;
	border-color: $color_grey_300;
	border-style: solid;
	border-top-width: 1px;
	bottom: 0;
	white-space: nowrap;
	height: 180px;
	left: 0;
	list-style-type: none;
	margin: 0;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 20px;
	user-select: none;
	position: absolute;
	width: 100%;
	z-index: 2;

	&::-webkit-scrollbar {
    display: none;
	}
	@include breakpoint3 {
		border-right-width: 1px;
		border-top-width: 0;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: relative;
		width: $thumbnailWidth;
	}
	li {
		display: inline-block;
		margin-right: 15px;
		max-height: 100px;
		vertical-align: top;
		position: relative;
		overflow: hidden;

		@include breakpoint3 {
			display: block;
			margin-bottom: 15px;
			max-height: none;
			width: 100%;
		}
		&:last-child {
			@include breakpoint3 {
				margin-bottom: 0;
			}
			margin-right: 0;
		}

		&.-selected {
			box-shadow: 0 0 5px rgba($color_primary_500, 0.7);
			outline: 1px solid $color_primary_500;
			position: relative;
			&::before {
				background-color: rgba($color_primary_300, 0.7);
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}
	}
	img {
		cursor: pointer;
		display: block;
		max-height: 100px;
		@include breakpoint3 {
			max-height: none;
		}
		&.-error {
			width: 200px;
			max-width: 200px;
			height: 100%;
			padding: 10px;
			background-color: #f5f5f5;
			@include breakpoint3 {
				width: 100%;
				padding-top: -webkit-calc(100% - 40px);
		    padding-top:    -moz-calc(100% - 40px);
		    padding-top:         calc(100% - 40px);
			}
		}
		&.-loading {
			width: 140px;
			height: 100%;
			@include skeletonLoader;
			@include breakpoint3 {
				width: 100%;
				// padding-top: 100%;
			}
		}
	}
}

.MediaModalThumbnailToggle {
	align-items: flex-end;
	bottom: 0;
	cursor: pointer;
	display: flex;
	height: 60px;
	left: 50%;
	margin-bottom: 7px;
	position: absolute;
	transform: translateX(-50%) translateY(0);
	width: 300px;
	z-index: 1000;
	@include breakpoint3 {
		align-items: center;
		bottom: auto;
		height: 300px;
		left: 0;
		margin-bottom: 0;
		top: 50%;
		transform: translateX(0) translateY(-50%);
		width: 60px;
	}
	&:hover {
		.MediaModalThumbnailToggleThumb {
			background: rgba($black, 0.3);
		}
	}
	&:active {
		.MediaModalThumbnailToggleThumb {
			background: rgba($black, 0.4);
			transition: none;
		}
	}
}
.MediaModalThumbnailToggleThumb {
	background: rgba($black, 0.2);
	border-radius: 3px;
	cursor: pointer;
	height: 6px;
	margin: 0 auto;
	transition: background-color 0.2s;
	width: 150px;
	@include breakpoint3 {
		height: 150px;
		margin-left: 10px;
		width: 6px;
	}
}

.MediaModalContent {
	cursor: grab;
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
	// padding: 60px;
	&:active {
		cursor: grabbing;
	}

	canvas, .openseadragon-canvas {
		&:focus {
			outline: none;
		}
	}

  img {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
  }

  #viewer {
    position: relative;
    height: 100%;
    width: 100%;
		&:focus {
			outline: none;
		}
  }

  .viewerLoading {
    height: 60vh;
    width: 40vw;
    margin: 15vh 20vw;
    position: absolute;
		@include skeletonLoader;
		overflow: hidden;
		position: relative;
    z-index: 0;
  }

  .openseadragon-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute !important;
  }
}

.invisible {
	display: none;
}

.MediaModalActions {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg {
    fill: $black;
    width: 30px;
    height: 30px;
  }
}

.MediaModalActionsUpper {
  top: 0;
}

.MediaModalActionsLower {
	bottom: 0;
	padding: 0 5px 5px 0;
	@include breakpoint3 {
		padding: 0 1rem 1rem 0;
	}
}

.thumbnailsClosed .viewerLoading {
	margin: 15vh auto;
}


.MediaModalCaption {
	color: $color_grey_700;
	margin-left: 1.2rem;
	padding: 1rem;
	width: 40%;
}
.MediaModalActionButtons {
	width: 60%;
	text-align: right;

}

.MediaModalActionsButton {
  opacity: 0.6;
  transition: opacity 0.3s !important;
  &:hover {
    opacity: 1;
  }
  &:active {
    svg {
      transform: scale(0.95);
      transition: none;
    }
  }
}

.annotator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
	cursor: crosshair;
	pointer-events: none;
}
.annotator.drawingMode {
  pointer-events: all;
}


.broadCastEvents {
  // pointer-events: none;
  cursor: move;
	svg {
		circle {
			pointer-events: all!important;
		}
	}
}

.drawingModeButton {
	background: $color_grey_300!important;
}

.fileThumbnail {
	align-items: center;
	background: $color_grey_100;
	border: 1px solid $color_grey_300;
	display: flex;
	height: 100px;
	max-width: none;
	padding: 30px;
	width: 100%;
	overflow-x: hidden;
}

.loadingThumbnail {
	width: 100%;
	// padding-bottom: 75%;
	@include skeletonLoader;

}

.fileDetailsDeleteFile {
	display: none;
}

.fileDetailThumbnails li:hover .fileDetailsDeleteFile {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	border-radius: 50px;
	background: white;
	z-index: 100;
}
