@import 'orpheus-styles/src/scss/variables.scss';

#root {
	overflow: hidden;
}

.modal {
	align-items: center;
	background: rgba($color_grey_800, 0.9);
	display: flex;
	left: 0;
	justify-content: center;
	min-height: 100vh;
	opacity: 0;
	overflow-y: scroll;
	position: absolute;
	transition: visibility 0s linear 0.2s, opacity 0.2s;
	top: 0;
	visibility: hidden;
	width: 100vw;
	z-index: 100;

	.js-showing-modal & {
		opacity: 1;
		transition: opacity 0.2s;
		visibility: visible;
	}
}

.modalInner {
	align-items: center;
	background: $white;
	border-radius: 10px;
	display: flex;
	margin: 30px auto;
	min-height: 200px;
	max-width: 720px;
	padding: 20px;
	transform: scale(0.95);
	transition: transform 0.2s ease-out;
	width: 95%;

	.js-showing-modal & {
		transform: scale(1);
	}

	> div {
		width: 100%;
	}

	.-loading & {
		min-height: 400px;
		text-align: center;
	}
}

.modalClose {
	align-items: center;
	border-radius: 100%;
	color: $white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 10px;
	position: fixed;
	right: 10px;
	top: 10px;
	transition: all 100ms ease-in-out;

	@include breakpoint2 {
		right: 15px;
		top: 15px;
		svg {
			height: 35px;
			width: 35px;
		}
	}

	&:hover {
		color: $color_grey_100;
	}

	&:active {
		> svg {
			opacity: 0.9;
			transform: scale(0.98);
		}
	}
}
