@import 'orpheus-styles/src/scss/variables.scss';
@import '../../../modules/items/items.scss';


.itemHeader, .itemContentDescription, .itemContentMetadataGroup {
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
}

.itemHeader {
	min-height: 51px;
	overflow: hidden;
	margin-bottom: 1rem;

	h1 {
		font-size: 54px;
		line-height: 1.2em;
	}

	@include breakpoint3 {
		margin-bottom: 2.5rem;
	}

	@media (max-width: 990px) {
		h1 {
			font-size: 42px;
		}
	}

	@media (max-width: 600px) {
		h1 {
			font-size: 34px;
		}
	}

	@media (max-width: 300px) {
		h1 {
			font-size: 28px;
		}
	}
}

.itemTabs {
	position: relative;

	&:before {
		bottom: 0;
		background-color: $color_grey_400;
		content: '';
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	> div > div > div {
		justify-content: center;
	}
}

.itemTab {
	// TODO: this should be managed for each active tab
	/**
	&:first-child {
		border-bottom: 2px solid $color_primary_500 !important;
		color: $color_primary_500;
	}
	*/
}

.itemContentWrapper {
	margin: 0 auto;
	width: 100%;
}
.itemContent {
	margin-bottom: 6rem;
	margin: 0 auto;
	max-width: 60rem;

}
.itemContentGrid {
	// hack to make grid stay within viewport, there was strangeness with the grid's ne
	// max-width: 100%;
	width: calc(100%+22px)!important;
}



.itemContentHeader {
	h1 {
		text-align: center;
		word-wrap: break-word;
	}
}

.itemContentHeaderMetadata {
	margin-bottom: 2rem;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		margin: 0;
	}

	li {
		padding: 0 0.5rem;
		max-width: 50%;
		&:not(:nth-child(1)):not(:nth-child(2)) {
			display: none;
			@include breakpoint2 {
				display: block;
			}
		}
	}

}

.itemEditLink {
	padding: 10px;
}

.itemMetadata {
	margin-top: 5em;
}

.itemContentMetadataGroup {
	border-top: 2px solid #E0E0E0;
	margin: 2em auto;
	padding: 3em 0;
	width: 100%;
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;

	h3 {
		font-size: 28px;
	}

	@media (max-width: 600px) {
		flex-wrap: wrap;
		.itemContentMetadataColumnLeft, .itemContentMetadataColumnRight {
			width: 100%;
		}
	}
}

.itemContentMetadataColumnLeft {
	width: 30%;
	padding-top: 16px;
}
.itemContentMetadataColumnRight {
	width: 70%;
}

.itemContentDescription {
	margin-bottom: 2rem;
}

.itemContentLoadingHeader, .itemContentLoadingContent {
	@include skeletonLoader;
	margin: 0 auto 2rem;
	max-width: 920px;
}

.itemContentLoadingHeader {
	height: 100px;
	width: 80%;
}

.itemContentLoadingContent {
	height: 400px;
}
