@import 'orpheus-styles/src/scss/variables.scss';

.annotationDetail {
	width: 350px;
	min-width: 350px;
	max-width: 100%;
	position: absolute;
	right: 1rem;
	bottom: 0;
	height: 50vh;
	z-index: 10000;
	overflow-y: scroll!important;
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

}



.AnnotationsToggle {
	align-items: flex-end;
	top: 40vh;
	cursor: pointer;
	display: flex;
	height: 60px;
	right: 10px;
	margin-bottom: 7px;
	position: absolute;
	width: 300px;
	z-index: 1000;
	@include breakpoint3 {
		align-items: center;
		bottom: auto;
		height: 300px;
		right: -30px;
		margin-bottom: 0;
		top: 75%;
		transform: translateX(0) translateY(-50%);
		width: 60px;
	}
	&:hover {
		.AnnotationsToggleThumb {
			background: rgba($black, 0.3);
		}
	}
	&:active {
		.AnnotationsToggleThumb {
			background: rgba($black, 0.4);
			transition: none;
		}
	}
}
.AnnotationsToggleThumb {
	background: rgba($black, 0.2);
	border-radius: 3px;
	cursor: pointer;
	height: 6px;
	margin: 0 auto;
	transition: background-color 0.2s;
	width: 150px;
	@include breakpoint3 {
		height: 150px;
		margin-left: 10px;
		width: 6px;
	}
}

.AnnotationsToggle {
	visibility: hidden;
}

.annotationDetailOpen .AnnotationsToggle {
	visibility: visible;

	@include breakpoint3 {
		right: 334px;
		visibility: visible;
	}
}
