@import 'orpheus-styles/src/scss/variables.scss';

.facet {
  align-items: flex-start;
  display: flex;
  width: 100%;
  cursor: pointer;
  max-height: 90px;
  opacity: 0.7;
  overflow: hidden;
  padding-right: 15px;
  position: relative;

	&.-unavailable {
		color: $color_grey_500;
		pointer-events: none;
	}

  &.-toggled {
    // TODO: toggled state
    opacity: 1;
    p {
      font-weight: bold;
    }
  }

  &:hover {
    opacity: 1;
  }

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 1) 100%);
    height: 100%;
    pointer-events: none;
    right: 0;
    width: 20px;
    top: 0;
  }

  &::after {
    background: linear-gradient(to bottom, rgba($white, 0) 0%, rgba($white, 1) 100%);
    height: 30px;
    pointer-events: none;
    width: 100%;
    top: 60px;
  }

  &:first-child {
    margin-top: -15px;
  }
}

.facetCheckbox {
  margin-left: -5px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.facetText {
  margin-top: 7px !important;
}
