<div class="cover chsCover
  {% if is_home or is_main_home %}
    homeCover
  {% endif %}
">
  {% if is_home or is_main_home %}
    {% if homepage and homepage.thumbnail %}
      <div class="coverBackground" style="background-image: url(&quot;{{homepage.thumbnail.src}}&quot;);"></div>
    {% else %}
      <div class="coverBackground" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_1.jpg&quot;);"></div>
    {% endif %}
  {% else %}
    {% if image %}
      <div class="coverBackground" style="background-image: url(&quot;{{image}}&quot;);"></div>
    {% else %}
      <div class="coverBackground" style="background-image: url(&quot;/wp-content/themes/orpheus/static/images/example_background_{{random(1, 29)}}.jpg&quot;);"></div>
    {% endif %}
  {% endif %}
  <div class="coverBackgroundGradient"></div>
  <div class="coverContent">
    {% if is_home %}
      <p class="overline">The Center for Hellenic Studies</p>
      <h1>{{site.title}}</h1>
      <h2 class="subtitle">
        {{site.description}}
      </h2>

      {% if action_link %}
        <a href="{{action_link.href}}">
          <button class="chsButton coverReadMoreButton">
            <span>{{action_link.text}}</span>
            <i class="mdi mdi-arrow-right"></i>
          </button>
        </a>
      {% endif %}

    {% elseif is_main_home %}
      <p class="overline">The Center for Hellenic Studies</p>
      <h1>{{title}}</h1>
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% endif %}
      <a href="/">
        <button class="chsButton coverReadMoreButton">
          <span>Read More</span>
          <i class="mdi mdi-arrow-right"></i>
        </button>
      </a>
    {% else %}
      <hr class="titleOverline"></hr>
      <h1>{{title}}</h1>
      {% if subtitle %}
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      {% endif %}
    {% endif %}

    {% if with_post_meta %}
      <div class="postMeta">
        <div class="postMetaRow">
          <div class="articleByline">
            <div class="avatarChip"
              {% if post.author.avatar %}
                style="background-image:url('{{post.author.avatar}}')"
              {% endif %}
            >
            </div>
            <span>
              {% if post.author_first_name %}
                {{post.author_first_name}}
                {{post.author_last_name}}
              {% else %}
                {{post.author}}
              {% endif %}
            </span>
          </div>
        </div>
        <div class="postMetaRow">
          <div class="postDate">
            {{post.date}}
          </div>
          <div class="spacer">
          |
          </div>
          <div class="categories">
            {% for cat in post.categories %}
              <a class="category" href="/archive/?category={{cat.slug}}">
                {{cat.title}}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  {% if with_post_meta %}
  <div class="coverShareLinks">
    <div class="postHeadLinks">
      {% if post.pdf %}
        {% set file = TimberImage(post.pdf) %}
        <a href="{{file.src}}">Download&nbsp;&nbsp;<i class="mdi mdi-file-pdf"></i></a>
      {% endif %}
      {% if post.media %}
        {% set media_file = TimberImage(post.media) %}
        <a href="{{media_file}}">Media&nbsp;&nbsp;<i class="mdi mdi-image"></i></a>
      {% endif %}
        <a href="#comments" ><i class="mdi mdi-comment-outline"></i></a>
        <a href="#download" onclick="window.downloadPDF()"><i class="mdi mdi-file-pdf-outline"></i></a>
        <a href="https://twitter.com/intent/tweet?text={{post.title}} at {{post.link}}" target="_blank" rel="noopener noreferrer"><i class="mdi mdi-twitter"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" rel="noopener noreferrer"><i class="mdi mdi-facebook"></i></a>
        <a href="mailto:?subject={{post.title}}&body={{post.link}}" target="_blank" rel="noopener noreferrer"><i class="mdi mdi-email"></i></a>
    </div>
  </div>
  {% endif %}

  {% if cover_caption %}
    <div class="coverCaption">
      <span>{{cover_caption}}</span>
    </div>
  {% endif %}
</div>
