<footer data-html2canvas-ignore="true">
  <div class="footerRow">
    <div class="footerColumn footerColumnBrand">
      <img src='/wp-content/themes/orpheus/static/images/logoHorizontalWhite.svg' />
    </div>
    <div class="footerColumn footerColumnCategories">
      <h3>Categories</h3>
      <ul>
        <li>
          <a href="/archive/?category=art-archaeology">
            Art
            Archaeology
          </a>
        </li>
        <li>
          <a href="/archive/?category=epigraphy-papyrology">
            Epigraphy
            Papyrology
          </a>
        </li>
        <li>
          <a href="/archive/?category=history">
            History
          </a>
        </li>
        <li>
          <a href="/archive/?category=language-literature">
            Language
            Literature
          </a>
        <li>
          <a href="/archive/?category=mythology-religion">
            Mythology
            Religion
          </a>
        </li>
        <li>
          <a href="/archive/?category=philosophy">
            Philosophy
            Science
          </a>
        </li>
      </ul>
    </div>
    <div class="footerColumn footerColumnSubscribe">
      <h3>Subscribe</h3>
      <p>Subscribe to our email list to stay informed of the publications on the CHS Research Bulletin</p>
      <form class="subscribeForm">
        <input type="email" class="enterEmail" placeholder="E-Mail" />
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
  <div class="footerRow footerMeta">
    <div class="footerCopyright">© Center for Hellenic Studies {{"now"|date('Y')}}</div>
    <div class="footerLinks legalLinks">
      <ul>
        <li><a href="https://gdpr.harvard.edu/eeaprivacydisclosures">Terms of use</a></li>
        <li><a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0 License</a></li>
        <li><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a></li>
      </ul>
    </div>
    <div class="footerLinks socialLinks">
      <ul>
        <li>
          <a href="https://twitter.com/HellenicStudies">
            <i class="mdi mdi-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/centerforhellenicstudies/">
            <i class="mdi mdi-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC4CZOzGtFzZe2pcONCNT15w">
            <i class="mdi mdi-youtube"></i>
          </a>
        </li>
        <li>
          <a href="mailto:contact@chs.harvard.edu">
            <i class="mdi mdi-email"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
