<div class="
  horizontalListOuter
  {% if category %}
    -horizontalList-category
    -horizontalList_{{category}}
    {% if category != "art-archaeology" %}
      -hidden
    {% endif %}
  {% endif %}
  {% if volume %}
    -horizontalList-volume
    -horizontalList_{{volume}}
    {% if volume != "volume_9" %}
      -hidden
    {% endif %}
  {% endif %}
">
  {% if list_title %}
    <div class="postsHeader -publicationsHeader">
      <h3>{{list_title}}</h3>
      <a class="postsHeaderViewAll" href="{{more_link}}">
        View All
      </a>
    </div>
  {% endif %}
  <div class="posts -horizontalList {% if horizontal_scroll %}-horizontalScroll{% endif %}">
    {% for post in posts %}
    	{% include "partial/tease-vertical.twig" with { condensed: condensed } %}
    {% endfor %}
  </div>

  {% if more_from %}
    <br >
    <div class="moreFrom -accent">
    	<a href="/archive/?category={{category}}">
    		More from
          {% if category == 'art-archaeology' %}
            Art and Archaeology
          {% elseif category == 'epigraphy-papyrology' %}
            Epigraphy and Papyrology
          {% elseif category == 'history' %}
            History
          {% elseif category == 'language-literature' %}
            Language and Literature
          {% elseif category == 'mythology-religion' %}
            Mythology and Religion
          {% elseif category == 'philosophy' %}
            Philosophy and Science
          {% else %}
            All
          {% endif %}
    	</a>
    </div>
  {% endif %}
</div>
