<aside id="sidebar" class="sidebar -hidden" data-html2canvas-ignore="true">
  <h4 class="overline sidebarTitle">
    You might also like
  </h4>
  <div class="posts -verticalList ">
    {% for post in sidebar_posts %}
    	{% include "partial/tease-vertical.twig" with { condensed: true } %}
    {% endfor %}
  </div>
</aside>
