<aside id="sidebar" class="sidebar">
<div class="sticky-inner-wrapper" style="position: relative; transform: translate3d(0px, 0px, 0px);"><div class="facetedCardsContentFiltersInner"><div><div class="filters"><div><div class="filtersToggle"><span class="jss26 jss37">Filter</span></div><div class="filtersContent"><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Color</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .ColorBrown svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Brown; fill: Brown; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorBrown" style="color: brown; fill: brown;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Brown</p></div><div class="
				facet



			"><style>
					 .ColorYellow svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Yellow; fill: Yellow; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorYellow" style="color: yellow; fill: yellow;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Yellow</p></div><div class="
				facet



			"><style>
					 .ColorOrange svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Orange; fill: Orange; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorOrange" style="color: orange; fill: orange;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Orange</p></div><div class="
				facet



			"><style>
					 .ColorWhite svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: White; fill: White; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorWhite" style="color: white; fill: white;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">White</p></div><div class="
				facet



			"><style>
					 .ColorGreen svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Green; fill: Green; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorGreen" style="color: green; fill: green;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Green</p></div><div class="
				facet



			"><style>
					 .ColorRed svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Red; fill: Red; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox ColorRed" style="color: red; fill: red;"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Red</p></div></div></div></div></div></div><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Διαστάσεις</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .Διαστάσεις76 x 53,5 εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 76 x 53,5 εκ.; fill: 76 x 53,5 εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">76 x 53,5 εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις41,8 x 27εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 41,8 x 27εκ.; fill: 41,8 x 27εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">41,8 x 27εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις36,6 Χ 19,7 εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 36,6 Χ 19,7 εκ.; fill: 36,6 Χ 19,7 εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">36,6 Χ 19,7 εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις41,1 x 29,5 εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 41,1 x 29,5 εκ.; fill: 41,1 x 29,5 εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">41,1 x 29,5 εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις44,6 x 33,5 εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 44,6 x 33,5 εκ.; fill: 44,6 x 33,5 εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">44,6 x 33,5 εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις34,5 x 2,75εκ. έκαστο svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 34,5 x 2,75εκ. έκαστο; fill: 34,5 x 2,75εκ. έκαστο; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">34,5 x 2,75εκ. έκαστο</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις68,5 x 49,7εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 68,5 x 49,7εκ.; fill: 68,5 x 49,7εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">68,5 x 49,7εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις84 x 45,5εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 84 x 45,5εκ.; fill: 84 x 45,5εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">84 x 45,5εκ.</p></div><div class="
				facet



			"><style>
					 .Διαστάσεις92,8 x 53,1 εκ. svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 92,8 x 53,1 εκ.; fill: 92,8 x 53,1 εκ.; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">92,8 x 53,1 εκ.</p></div></div></div></div></div></div><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Ημερομηνία</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .Ημερομηνίαπ. 7ος αιώνας svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: π. 7ος αιώνας; fill: π. 7ος αιώνας; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">π. 7ος αιώνας</p></div><div class="
				facet



			"><style>
					 .Ημερομηνία9ος - 10ος αιώνας svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 9ος - 10ος αιώνας; fill: 9ος - 10ος αιώνας; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">9ος - 10ος αιώνας</p></div><div class="
				facet



			"><style>
					 .Ημερομηνία8ος - 9ος αιώνας svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 8ος - 9ος αιώνας; fill: 8ος - 9ος αιώνας; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">8ος - 9ος αιώνας</p></div><div class="
				facet



			"><style>
					 .ΗμερομηνίαΤέλος 12ου αιώνα svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Τέλος 12ου αιώνα; fill: Τέλος 12ου αιώνα; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Τέλος 12ου αιώνα</p></div><div class="
				facet



			"><style>
					 .Ημερομηνίαπ. 120 svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: π. 120; fill: π. 120; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">π. 120</p></div><div class="
				facet



			"><style>
					 .Ημερομηνίαα' μισό 12ου αιώνα  svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: α' μισό 12ου αιώνα ; fill: α' μισό 12ου αιώνα ; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">α' μισό 12ου αιώνα </p></div><div class="
				facet



			"><style>
					 .Ημερομηνία6ος αιώνας svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: 6ος αιώνας; fill: 6ος αιώνας; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">6ος αιώνας</p></div><div class="
				facet



			"><style>
					 .Ημερομηνίαα μισό 6ου αιώνα svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: α μισό 6ου αιώνα; fill: α μισό 6ου αιώνα; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">α μισό 6ου αιώνα</p></div><div class="
				facet



			"><style>
					 .Ημερομηνίαβ' μισό 6ου - α' μισό 7ου αιώνα svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: β' μισό 6ου - α' μισό 7ου αιώνα; fill: β' μισό 6ου - α' μισό 7ου αιώνα; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">β' μισό 6ου - α' μισό 7ου αιώνα</p></div></div></div></div></div></div><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Τύπος</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .ΤύποςΑρθρο svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Αρθρο; fill: Αρθρο; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Αρθρο</p></div><div class="
				facet



			"><style>
					 .ΤύποςΈγκαυστική svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Έγκαυστική; fill: Έγκαυστική; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Έγκαυστική</p></div><div class="
				facet



			"><style>
					 .ΤύποςΚεντρικό φύλλο τριπτύχου svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Κεντρικό φύλλο τριπτύχου; fill: Κεντρικό φύλλο τριπτύχου; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Κεντρικό φύλλο τριπτύχου</p></div></div></div></div></div></div><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Υλικό</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .ΥλικόΤέμπερα σε ξύλο svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Τέμπερα σε ξύλο; fill: Τέμπερα σε ξύλο; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Τέμπερα σε ξύλο</p></div><div class="
				facet



			"><style>
					 .ΥλικόΨηφιδωτό σε ξύλο svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: Ψηφιδωτό σε ξύλο; fill: Ψηφιδωτό σε ξύλο; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">Ψηφιδωτό σε ξύλο</p></div></div></div></div></div></div><div class="jss66 jss69 jss67 jss62 jss63 filter"><div class="jss7 jss93 filterPanelSummary" tabindex="0" role="button" aria-expanded="false"><div class="jss97"><div class="jss26 jss34 filterPanelSummaryTitle">Tags</div></div><div class="jss7 jss1 jss98" tabindex="-1" role="button" aria-hidden="true"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path><path fill="none" d="M0 0h24v24H0z"></path></svg></span><span class="jss19"></span></div></div><div class="jss99" aria-hidden="true" style="min-height: 0px;"><div class="jss101"><div class="jss102"><div class="jss114 jss115 jss117 filterQueryInput" padding="dense"><label class="jss129 jss118 jss123 jss126 jss128" data-shrink="false">Find tags</label><div class="jss149 jss136 jss158 jss150"><fieldset aria-hidden="true" class="jss166 jss143" style="padding-left: 37.5px;"><legend class="jss167" style="width: 0.01px;"><span>​</span></legend></fieldset><input aria-invalid="false" class="jss159 jss144" type="text" value=""></div></div><div class="jss103 filterPanelDetails"><div class="
				facet



			"><style>
					 .Tagsmonastery svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: monastery; fill: monastery; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">monastery</p></div><div class="
				facet



			"><style>
					 .Tagshousing svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: housing; fill: housing; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">housing</p></div><div class="
				facet



			"><style>
					 .Tagsbuilding svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: building; fill: building; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">building</p></div><div class="
				facet



			"><style>
					 .Tagsarchitecture svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: architecture; fill: architecture; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">architecture</p></div><div class="
				facet



			"><style>
					 .Tagssoil svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: soil; fill: soil; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">soil</p></div><div class="
				facet



			"><style>
					 .Tagsoutdoors svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: outdoors; fill: outdoors; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">outdoors</p></div><div class="
				facet



			"><style>
					 .Tagsground svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: ground; fill: ground; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">ground</p></div><div class="
				facet



			"><style>
					 .Tagsnature svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: nature; fill: nature; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">nature</p></div><div class="
				facet



			"><style>
					 .Tagscastle svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: castle; fill: castle; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">castle</p></div><div class="
				facet



			"><style>
					 .Tagsvehicle svg { border-radius: 2px; margin: 3px; width: 18px; height: 18px; background-color: vehicle; fill: vehicle; }
				 </style><span class="jss7 jss1 jss110 jss104 jss109 facetCheckbox"><span class="jss6"><svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></svg><input class="jss113" type="checkbox" data-indeterminate="false" value=""></span><span class="jss19"></span></span><p class="jss26 jss34 facetText">vehicle</p></div></div><div class="filterPanelMore"><button class="jss7 jss168 jss170 jss173" tabindex="0" type="button"><span class="jss169">Show more</span><span class="jss19"></span></button></div></div></div></div></div></div><div class="filtersApply"><span class="jss26 jss37">Show items</span></div></div></div></div></div></div></aside>
