<article class="tease -teaseHorizontal tease-{{post.post_type}}
{% if condensed %}
	-teaseCondensed
{% endif %}
{% if not post.thumbnail %}
	-teaseNoImage
{% endif %}
"
id="tease-{{post.ID}}">

	{% if not condensed %}
	<div class="postMeta">
		<span class="postDate">
			{{post.date('j F Y') }}
		</span>

		<span class="byline">
      {% if post.author_first_name %}
        {{post.author_first_name}}
        {{post.author_last_name}}
      {% else %}
        {{post.author}}
      {% endif %}
		</span>
	</div>
	{% endif %}
	{% if post.get_thumbnail %}
		<a href="{{post.link}}" class="teaseImageOuter">
			<div class="teaseImage"
				style="background-image:url('{{post.thumbnail.src}}')"
			>
			</div>
		</a>
	{% else %}
		<!--div  class="teaseImageOuter -teaseImageOuterPlaceholder"></div-->
	{% endif %}
	<div class="postText">
		<span class="postCategory">
			{% if is_main_site %}
				{% set site = random([0, 1, 2, 3])%}
				{% if site == 0 %}
					<a class="siteCategory -classicalInquiries" href="//classical-inquiries.chs.harvard.edu">
						<i class="mdi mdi-book-open" ></i>
						Classical Inquiries
					</a>
				{% elseif site == 1 %}
					<a class="siteCategory -kosmos" href="//classical-inquiries.chs.harvard.edu">
						<i class="mdi mdi-pillar" ></i>
						Kosmos Society
					</a>
				{% elseif site == 2 %}
					<a class="siteCategory -kleos" href="//classical-inquiries.chs.harvard.edu">
						<i class="mdi mdi-pencil" ></i>
						Kleos
					</a>
				{% else %}
					<a class="siteCategory -researchBulletin" href="//classical-inquiries.chs.harvard.edu">
						<i class="mdi mdi-alpha" ></i>
						Research Bulletin
					</a>
				{% endif  %}
			{% endif  %}
			{% for cat in post.categories %}
				<a href="/archive/?category={{cat.slug}}">{{cat.title}}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
		</span>
		<h2 class="h2">
			<a href="{{post.link}}">
				{% if condensed %}
					{{post.title| replace({ 'Abstract | ' : ''}) | excerpt(24)}}
				{% else %}
					{{post.title| replace({ 'Abstract | ' : ''}) | excerpt(36)}}
				{% endif %}
			</a>
		</h2>
		{% if condensed %}
			<div class="postMeta">
				<span class="postDate">
					{{post.date('j F Y') }}
				</span>
				<span class="postMetaDivider">|</span>
				<span class="byline">
		      {% if post.author_first_name %}
		        {{post.author_first_name}}
		        {{post.author_last_name}}
		      {% else %}
		        {{post.author}}
		      {% endif %}
				</span>
			</div>
		{% endif %}
		<p>
			{% if request.get.s %}
				{{post.content | search_body_text(request.get.s)}}
			{% else %}
				{{post.preview.length(60).read_more(false) | excerpt(60)}}
			{% endif %}
		</p>
		<div class="teaseLinks">
			<a href="{{post.link}}" class="readMore">
				Read More
			</a>
			<a href="{{post.link}}#download" class="readMore">
				<i class="mdi mdi-file-pdf-outline" ></i>
				&nbsp;
				Download
			</a>
			<a href="{{post.link}}#comments" class="readMore">
				<i class="mdi mdi-comment-outline" ></i>
				{% if post.comments|length %}
					&nbsp;
					{{post.comments|length}}
				{% endif %}
				&nbsp;
				Comments
			</a>
		</div>
	</div>

</article>
