<article class="
	tease -teaseVertical tease-{{post.post_type}}
	{% if publication %}
		-teasePublication
	{% endif %}
	{% if condensed %}
		-teaseCondensed
	{% endif %}
	{% if not post.thumbnail %}
		-teaseNoImage
	{% endif %}
	"
	id="tease-{{post.ID}}"
>
	<div class="tease-body">
		{% if not condensed %}
			{% if post.thumbnail %}
				{% if post.type == "collection"%}
					<a href="{{post.link_url}}" class="teaseImageOuter" target="_blank" rel="noopener noreferrer">
				{% else %}
					<a href="{{post.link}}" class="teaseImageOuter">
				{% endif %}
					<div
						class="teaseImage"
						style="background-image:url('{{post.thumbnail.src}}')"
					>
					</div>
				</a>
			{% endif %}
		{% endif %}
		{% if post.type != "collection" %}
			<h2 class="h2">
					<a href="{{post.link}}">
					{% if condensed %}
						{{post.title| replace({ 'Abstract | ' : ''}) | excerpt(9)}}
					{% else %}
						{{post.title| replace({ 'Abstract | ' : ''}) | excerpt(12)}}
					{% endif %}
				</a>
			</h2>
			<div class="postMeta">
				{% if post.byline %}
					<span class="byline">
						{{post.byline}}
					</span>
				{% else %}
					<span class="byline">
			      {% if post.author_first_name %}
			        {{post.author_first_name}}
			        {{post.author_last_name}}
			      {% else %}
			        {{post.author}}
			      {% endif %}
					</span>
				{% endif %}
				<span class="bylineDivider">
					|
				</span>
				<span class="postDate">
					{{post.date('j M Y') }}
				</span>
			</div>
			<p>
				{% if post.preview %}
					{{post.preview.length(20).read_more(false) | excerpt(20) |replace({ 'Abstract' : ''})}}
				{% else %}
					{{post.content|excerpt(20)|replace({ 'Abstract' : ''})}}
				{% endif %}
			</p>
		</div>

		{% if post.type != "collection"%}
			<a href="{{post.link}}" class="readMore">
			  Read More
		  </a>
		{% endif %}
	{% endif %}
</article>
