/**
 * CHS main site custom styles
 */
.archive .homepage-feature {
  align-items: center;
  justify-content: center;
  max-width: 990px;
  margin: 0 auto;
  padding: 3em;
  background: #fff;
  position: relative;
  top: -3em;
  z-index: 1;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.homepage-feature .featured-image {
  width: 17em;
  height: 21em;
  background-image: url(/wp-content/themes/orpheus/static/images/William_Sanders_Scarborough_Portrait.jpg);
  background-size: cover;
  margin-right: 2em;
  background-position: center;
}

.homepage-feature a {
  text-decoration: none;
}

.homepage-feature h3 {
  font-size: 1.6em;
}

.homepage-feature .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
}

.homepage-feature .postDate {
  padding: 0.3em 0;
  font-size: 1.2em;
}

.homepage-feature .postMeta .description {


  text-transform: none;
  color: #444;
  font-size: 1em;
  padding: 1em 0;
}

.homepage-feature .postMeta span {
  display: block;
  width: 100%;

}

.homepage-feature .postMeta .byline {
  text-transform: none;
  color: #666;
  font-size: 1.2em;
  padding: 0.4em 0 1.3em;
}

.archive section.events {
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  padding: 3em 0 3em 5em;
}

.archive section.events a {
  text-decoration: none;
}

.events .feature-text {
  max-width: 720px;
}

.events .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
}

.events .postDate {
  padding: 0.3em 0;
  font-size: 1.5em;
}

.events .postMeta span {
  display: block;
  width: 100%;

}

.events .postMeta .description {
  text-transform: none;
  color: #444;
  font-size: 1em;
  padding: 1em 0;
}

.events .featured-image {
  width: 33em;
  height: 22em;
  margin-left: 3em;
  background-image: url(/wp-content/themes/orpheus/static/images/example_background_24.jpg);
  background-size: cover;
  background-position: center;
}

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic|Cardo);

.post ol li, .post ul li {
	font-family: Cardo, Times New Roman, serif;
  font-size: 18px;
  font-weight: light;
  line-height: 28px;
  margin: 5px 5px 5px 30px;
}

.post ul li {
	list-style: disc;
}

code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn-link,
.dropdown-menu,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.panel-heading,
.list-group,
.list-group-item,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
  border-radius: 0px !important; }

.search-info {
  margin-bottom: 15px; }
  .search-info .pagination {
    margin: 0; }

.search-results .search-item {
  padding: 5px 5px 10px;
  border-bottom: 1px solid #C9C5C5; }
  .search-results .search-item:last-child {
    border-bottom: none; }
  .search-results .search-item .title {
    padding-bottom: 0; }
  .search-results .search-item .sub-title {
    padding-top: 0; }
  .search-results .search-item .summary-content {
    margin-top: 5px; }

.search-results h3, .search-results h6 {
  margin-top: 0;
  margin-bottom: 0; }

.btn-default.btn-inverse {
  color: #fff;
  background-color: #333;
  border-color: #fff; }

.btn-default.btn-inverse:focus, .btn-default.btn-inverse.focus {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #bfbfbf; }

.btn-default.btn-inverse:hover {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #e0e0e0; }

.btn-default.btn-inverse:active, .btn-default.btn-inverse.active, .open > .btn-default.btn-inverse.dropdown-toggle {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #e0e0e0; }

.btn-default.btn-inverse:active:hover, .btn-default.btn-inverse:active:focus, .btn-default.btn-inverse:active.focus, .btn-default.btn-inverse.active:hover, .btn-default.btn-inverse.active:focus, .btn-default.btn-inverse.active.focus, .open > .btn-default.btn-inverse.dropdown-toggle:hover, .open > .btn-default.btn-inverse.dropdown-toggle:focus, .open > .btn-default.btn-inverse.dropdown-toggle.focus {
  color: #fff;
  background-color: #080808;
  border-color: #bfbfbf; }

.btn-default.btn-inverse:active, .btn-default.btn-inverse.active, .open > .btn-default.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-default.btn-inverse.disabled:hover, .btn-default.btn-inverse.disabled:focus, .btn-default.btn-inverse.disabled.focus, .btn-default.btn-inverse[disabled]:hover, .btn-default.btn-inverse[disabled]:focus, .btn-default.btn-inverse[disabled].focus, fieldset[disabled] .btn-default.btn-inverse:hover, fieldset[disabled] .btn-default.btn-inverse:focus, fieldset[disabled] .btn-default.btn-inverse.focus {
  background-color: #333;
  border-color: #fff; }

.btn-default.btn-inverse .badge {
  color: #333;
  background-color: #fff; }

.btn-default.btn-inverse:hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.btn-default.btn-inverse:hover:focus, .btn-default.btn-inverse:hover.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }

.btn-default.btn-inverse:hover:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default.btn-inverse:hover:active, .btn-default.btn-inverse:hover.active, .open > .btn-default.btn-inverse:hover.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-default.btn-inverse:hover:active:hover, .btn-default.btn-inverse:hover:active:focus, .btn-default.btn-inverse:hover:active.focus, .btn-default.btn-inverse:hover.active:hover, .btn-default.btn-inverse:hover.active:focus, .btn-default.btn-inverse:hover.active.focus, .open > .btn-default.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-default.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-default.btn-inverse:hover.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c; }

.btn-default.btn-inverse:hover:active, .btn-default.btn-inverse:hover.active, .open > .btn-default.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-default.btn-inverse:hover.disabled:hover, .btn-default.btn-inverse:hover.disabled:focus, .btn-default.btn-inverse:hover.disabled.focus, .btn-default.btn-inverse:hover[disabled]:hover, .btn-default.btn-inverse:hover[disabled]:focus, .btn-default.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-default.btn-inverse:hover:hover, fieldset[disabled] .btn-default.btn-inverse:hover:focus, fieldset[disabled] .btn-default.btn-inverse:hover.focus {
  background-color: #fff;
  border-color: #ccc; }

.btn-default.btn-inverse:hover .badge {
  color: #fff;
  background-color: #333; }

.btn-default.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }

.btn-default.btn-transparent:focus, .btn-default.btn-transparent.focus {
  color: #fff;
  background-color: transparent;
  border-color: #bfbfbf; }

.btn-default.btn-transparent:hover {
  color: #fff;
  background-color: transparent;
  border-color: #e0e0e0; }

.btn-default.btn-transparent:active, .btn-default.btn-transparent.active, .open > .btn-default.btn-transparent.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: #e0e0e0; }

.btn-default.btn-transparent:active:hover, .btn-default.btn-transparent:active:focus, .btn-default.btn-transparent:active.focus, .btn-default.btn-transparent.active:hover, .btn-default.btn-transparent.active:focus, .btn-default.btn-transparent.active.focus, .open > .btn-default.btn-transparent.dropdown-toggle:hover, .open > .btn-default.btn-transparent.dropdown-toggle:focus, .open > .btn-default.btn-transparent.dropdown-toggle.focus {
  color: #fff;
  background-color: transparent;
  border-color: #bfbfbf; }

.btn-default.btn-transparent:active, .btn-default.btn-transparent.active, .open > .btn-default.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-default.btn-transparent.disabled:hover, .btn-default.btn-transparent.disabled:focus, .btn-default.btn-transparent.disabled.focus, .btn-default.btn-transparent[disabled]:hover, .btn-default.btn-transparent[disabled]:focus, .btn-default.btn-transparent[disabled].focus, fieldset[disabled] .btn-default.btn-transparent:hover, fieldset[disabled] .btn-default.btn-transparent:focus, fieldset[disabled] .btn-default.btn-transparent.focus {
  background-color: transparent;
  border-color: #fff; }

.btn-default.btn-transparent .badge {
  color: transparent;
  background-color: #fff; }

.btn-default.btn-transparent:hover {
  color: #fff;
  background-color: #bfbfbf;
  border-color: #fff; }

.btn-default.btn-transparent:hover:focus, .btn-default.btn-transparent:hover.focus {
  color: #fff;
  background-color: #a6a6a6;
  border-color: #bfbfbf; }

.btn-default.btn-transparent:hover:hover {
  color: #fff;
  background-color: #a6a6a6;
  border-color: #e0e0e0; }

.btn-default.btn-transparent:hover:active, .btn-default.btn-transparent:hover.active, .open > .btn-default.btn-transparent:hover.dropdown-toggle {
  color: #fff;
  background-color: #a6a6a6;
  border-color: #e0e0e0; }

.btn-default.btn-transparent:hover:active:hover, .btn-default.btn-transparent:hover:active:focus, .btn-default.btn-transparent:hover:active.focus, .btn-default.btn-transparent:hover.active:hover, .btn-default.btn-transparent:hover.active:focus, .btn-default.btn-transparent:hover.active.focus, .open > .btn-default.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-default.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-default.btn-transparent:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #949494;
  border-color: #bfbfbf; }

.btn-default.btn-transparent:hover:active, .btn-default.btn-transparent:hover.active, .open > .btn-default.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-default.btn-transparent:hover.disabled:hover, .btn-default.btn-transparent:hover.disabled:focus, .btn-default.btn-transparent:hover.disabled.focus, .btn-default.btn-transparent:hover[disabled]:hover, .btn-default.btn-transparent:hover[disabled]:focus, .btn-default.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-default.btn-transparent:hover:hover, fieldset[disabled] .btn-default.btn-transparent:hover:focus, fieldset[disabled] .btn-default.btn-transparent:hover.focus {
  background-color: #bfbfbf;
  border-color: #fff; }

.btn-default.btn-transparent:hover .badge {
  color: #bfbfbf;
  background-color: #fff; }

.btn-primary.btn-inverse {
  color: #337ab7;
  background-color: #fff;
  border-color: #337ab7; }

.btn-primary.btn-inverse:focus, .btn-primary.btn-inverse.focus {
  color: #337ab7;
  background-color: #e6e6e6;
  border-color: #183854; }

.btn-primary.btn-inverse:hover {
  color: #337ab7;
  background-color: #e6e6e6;
  border-color: #265a88; }

.btn-primary.btn-inverse:active, .btn-primary.btn-inverse.active, .open > .btn-primary.btn-inverse.dropdown-toggle {
  color: #337ab7;
  background-color: #e6e6e6;
  border-color: #265a88; }

.btn-primary.btn-inverse:active:hover, .btn-primary.btn-inverse:active:focus, .btn-primary.btn-inverse:active.focus, .btn-primary.btn-inverse.active:hover, .btn-primary.btn-inverse.active:focus, .btn-primary.btn-inverse.active.focus, .open > .btn-primary.btn-inverse.dropdown-toggle:hover, .open > .btn-primary.btn-inverse.dropdown-toggle:focus, .open > .btn-primary.btn-inverse.dropdown-toggle.focus {
  color: #337ab7;
  background-color: #d4d4d4;
  border-color: #183854; }

.btn-primary.btn-inverse:active, .btn-primary.btn-inverse.active, .open > .btn-primary.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-primary.btn-inverse.disabled:hover, .btn-primary.btn-inverse.disabled:focus, .btn-primary.btn-inverse.disabled.focus, .btn-primary.btn-inverse[disabled]:hover, .btn-primary.btn-inverse[disabled]:focus, .btn-primary.btn-inverse[disabled].focus, fieldset[disabled] .btn-primary.btn-inverse:hover, fieldset[disabled] .btn-primary.btn-inverse:focus, fieldset[disabled] .btn-primary.btn-inverse.focus {
  background-color: #fff;
  border-color: #337ab7; }

.btn-primary.btn-inverse .badge {
  color: #fff;
  background-color: #337ab7; }

.btn-primary.btn-inverse:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary.btn-inverse:hover:focus, .btn-primary.btn-inverse:hover.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40; }

.btn-primary.btn-inverse:hover:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary.btn-inverse:hover:active, .btn-primary.btn-inverse:hover.active, .open > .btn-primary.btn-inverse:hover.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary.btn-inverse:hover:active:hover, .btn-primary.btn-inverse:hover:active:focus, .btn-primary.btn-inverse:hover:active.focus, .btn-primary.btn-inverse:hover.active:hover, .btn-primary.btn-inverse:hover.active:focus, .btn-primary.btn-inverse:hover.active.focus, .open > .btn-primary.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-primary.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-primary.btn-inverse:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40; }

.btn-primary.btn-inverse:hover:active, .btn-primary.btn-inverse:hover.active, .open > .btn-primary.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-primary.btn-inverse:hover.disabled:hover, .btn-primary.btn-inverse:hover.disabled:focus, .btn-primary.btn-inverse:hover.disabled.focus, .btn-primary.btn-inverse:hover[disabled]:hover, .btn-primary.btn-inverse:hover[disabled]:focus, .btn-primary.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-primary.btn-inverse:hover:hover, fieldset[disabled] .btn-primary.btn-inverse:hover:focus, fieldset[disabled] .btn-primary.btn-inverse:hover.focus {
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary.btn-inverse:hover .badge {
  color: #337ab7;
  background-color: #fff; }

.btn-primary.btn-transparent {
  color: #337ab7;
  background-color: transparent;
  border-color: #337ab7; }

.btn-primary.btn-transparent:focus, .btn-primary.btn-transparent.focus {
  color: #337ab7;
  background-color: transparent;
  border-color: #183854; }

.btn-primary.btn-transparent:hover {
  color: #337ab7;
  background-color: transparent;
  border-color: #265a88; }

.btn-primary.btn-transparent:active, .btn-primary.btn-transparent.active, .open > .btn-primary.btn-transparent.dropdown-toggle {
  color: #337ab7;
  background-color: transparent;
  border-color: #265a88; }

.btn-primary.btn-transparent:active:hover, .btn-primary.btn-transparent:active:focus, .btn-primary.btn-transparent:active.focus, .btn-primary.btn-transparent.active:hover, .btn-primary.btn-transparent.active:focus, .btn-primary.btn-transparent.active.focus, .open > .btn-primary.btn-transparent.dropdown-toggle:hover, .open > .btn-primary.btn-transparent.dropdown-toggle:focus, .open > .btn-primary.btn-transparent.dropdown-toggle.focus {
  color: #337ab7;
  background-color: transparent;
  border-color: #183854; }

.btn-primary.btn-transparent:active, .btn-primary.btn-transparent.active, .open > .btn-primary.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-primary.btn-transparent.disabled:hover, .btn-primary.btn-transparent.disabled:focus, .btn-primary.btn-transparent.disabled.focus, .btn-primary.btn-transparent[disabled]:hover, .btn-primary.btn-transparent[disabled]:focus, .btn-primary.btn-transparent[disabled].focus, fieldset[disabled] .btn-primary.btn-transparent:hover, fieldset[disabled] .btn-primary.btn-transparent:focus, fieldset[disabled] .btn-primary.btn-transparent.focus {
  background-color: transparent;
  border-color: #337ab7; }

.btn-primary.btn-transparent .badge {
  color: transparent;
  background-color: #337ab7; }

.btn-primary.btn-transparent:hover {
  color: #337ab7;
  background-color: #183854;
  border-color: #337ab7; }

.btn-primary.btn-transparent:hover:focus, .btn-primary.btn-transparent:hover.focus {
  color: #337ab7;
  background-color: #0c1d2c;
  border-color: #183854; }

.btn-primary.btn-transparent:hover:hover {
  color: #337ab7;
  background-color: #0c1d2c;
  border-color: #265a88; }

.btn-primary.btn-transparent:hover:active, .btn-primary.btn-transparent:hover.active, .open > .btn-primary.btn-transparent:hover.dropdown-toggle {
  color: #337ab7;
  background-color: #0c1d2c;
  border-color: #265a88; }

.btn-primary.btn-transparent:hover:active:hover, .btn-primary.btn-transparent:hover:active:focus, .btn-primary.btn-transparent:hover:active.focus, .btn-primary.btn-transparent:hover.active:hover, .btn-primary.btn-transparent:hover.active:focus, .btn-primary.btn-transparent:hover.active.focus, .open > .btn-primary.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-primary.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-primary.btn-transparent:hover.dropdown-toggle.focus {
  color: #337ab7;
  background-color: #050b10;
  border-color: #183854; }

.btn-primary.btn-transparent:hover:active, .btn-primary.btn-transparent:hover.active, .open > .btn-primary.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-primary.btn-transparent:hover.disabled:hover, .btn-primary.btn-transparent:hover.disabled:focus, .btn-primary.btn-transparent:hover.disabled.focus, .btn-primary.btn-transparent:hover[disabled]:hover, .btn-primary.btn-transparent:hover[disabled]:focus, .btn-primary.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-primary.btn-transparent:hover:hover, fieldset[disabled] .btn-primary.btn-transparent:hover:focus, fieldset[disabled] .btn-primary.btn-transparent:hover.focus {
  background-color: #183854;
  border-color: #337ab7; }

.btn-primary.btn-transparent:hover .badge {
  color: #183854;
  background-color: #337ab7; }

.btn-success.btn-inverse {
  color: #5cb85c;
  background-color: #fff;
  border-color: #5cb85c; }

.btn-success.btn-inverse:focus, .btn-success.btn-inverse.focus {
  color: #5cb85c;
  background-color: #e6e6e6;
  border-color: #2d672d; }

.btn-success.btn-inverse:hover {
  color: #5cb85c;
  background-color: #e6e6e6;
  border-color: #419641; }

.btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
  color: #5cb85c;
  background-color: #e6e6e6;
  border-color: #419641; }

.btn-success.btn-inverse:active:hover, .btn-success.btn-inverse:active:focus, .btn-success.btn-inverse:active.focus, .btn-success.btn-inverse.active:hover, .btn-success.btn-inverse.active:focus, .btn-success.btn-inverse.active.focus, .open > .btn-success.btn-inverse.dropdown-toggle:hover, .open > .btn-success.btn-inverse.dropdown-toggle:focus, .open > .btn-success.btn-inverse.dropdown-toggle.focus {
  color: #5cb85c;
  background-color: #d4d4d4;
  border-color: #2d672d; }

.btn-success.btn-inverse:active, .btn-success.btn-inverse.active, .open > .btn-success.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-success.btn-inverse.disabled:hover, .btn-success.btn-inverse.disabled:focus, .btn-success.btn-inverse.disabled.focus, .btn-success.btn-inverse[disabled]:hover, .btn-success.btn-inverse[disabled]:focus, .btn-success.btn-inverse[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover, fieldset[disabled] .btn-success.btn-inverse:focus, fieldset[disabled] .btn-success.btn-inverse.focus {
  background-color: #fff;
  border-color: #5cb85c; }

.btn-success.btn-inverse .badge {
  color: #fff;
  background-color: #5cb85c; }

.btn-success.btn-inverse:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success.btn-inverse:hover:focus, .btn-success.btn-inverse:hover.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625; }

.btn-success.btn-inverse:hover:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success.btn-inverse:hover:active:hover, .btn-success.btn-inverse:hover:active:focus, .btn-success.btn-inverse:hover:active.focus, .btn-success.btn-inverse:hover.active:hover, .btn-success.btn-inverse:hover.active:focus, .btn-success.btn-inverse:hover.active.focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-success.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-success.btn-inverse:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625; }

.btn-success.btn-inverse:hover:active, .btn-success.btn-inverse:hover.active, .open > .btn-success.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-success.btn-inverse:hover.disabled:hover, .btn-success.btn-inverse:hover.disabled:focus, .btn-success.btn-inverse:hover.disabled.focus, .btn-success.btn-inverse:hover[disabled]:hover, .btn-success.btn-inverse:hover[disabled]:focus, .btn-success.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-success.btn-inverse:hover:hover, fieldset[disabled] .btn-success.btn-inverse:hover:focus, fieldset[disabled] .btn-success.btn-inverse:hover.focus {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success.btn-inverse:hover .badge {
  color: #5cb85c;
  background-color: #fff; }

.btn-success.btn-transparent {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c; }

.btn-success.btn-transparent:focus, .btn-success.btn-transparent.focus {
  color: #5cb85c;
  background-color: transparent;
  border-color: #2d672d; }

.btn-success.btn-transparent:hover {
  color: #5cb85c;
  background-color: transparent;
  border-color: #419641; }

.btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
  color: #5cb85c;
  background-color: transparent;
  border-color: #419641; }

.btn-success.btn-transparent:active:hover, .btn-success.btn-transparent:active:focus, .btn-success.btn-transparent:active.focus, .btn-success.btn-transparent.active:hover, .btn-success.btn-transparent.active:focus, .btn-success.btn-transparent.active.focus, .open > .btn-success.btn-transparent.dropdown-toggle:hover, .open > .btn-success.btn-transparent.dropdown-toggle:focus, .open > .btn-success.btn-transparent.dropdown-toggle.focus {
  color: #5cb85c;
  background-color: transparent;
  border-color: #2d672d; }

.btn-success.btn-transparent:active, .btn-success.btn-transparent.active, .open > .btn-success.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-success.btn-transparent.disabled:hover, .btn-success.btn-transparent.disabled:focus, .btn-success.btn-transparent.disabled.focus, .btn-success.btn-transparent[disabled]:hover, .btn-success.btn-transparent[disabled]:focus, .btn-success.btn-transparent[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover, fieldset[disabled] .btn-success.btn-transparent:focus, fieldset[disabled] .btn-success.btn-transparent.focus {
  background-color: transparent;
  border-color: #5cb85c; }

.btn-success.btn-transparent .badge {
  color: transparent;
  background-color: #5cb85c; }

.btn-success.btn-transparent:hover {
  color: #5cb85c;
  background-color: #2d672d;
  border-color: #5cb85c; }

.btn-success.btn-transparent:hover:focus, .btn-success.btn-transparent:hover.focus {
  color: #5cb85c;
  background-color: #1e441e;
  border-color: #2d672d; }

.btn-success.btn-transparent:hover:hover {
  color: #5cb85c;
  background-color: #1e441e;
  border-color: #419641; }

.btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
  color: #5cb85c;
  background-color: #1e441e;
  border-color: #419641; }

.btn-success.btn-transparent:hover:active:hover, .btn-success.btn-transparent:hover:active:focus, .btn-success.btn-transparent:hover:active.focus, .btn-success.btn-transparent:hover.active:hover, .btn-success.btn-transparent:hover.active:focus, .btn-success.btn-transparent:hover.active.focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-success.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-success.btn-transparent:hover.dropdown-toggle.focus {
  color: #5cb85c;
  background-color: #132b13;
  border-color: #2d672d; }

.btn-success.btn-transparent:hover:active, .btn-success.btn-transparent:hover.active, .open > .btn-success.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-success.btn-transparent:hover.disabled:hover, .btn-success.btn-transparent:hover.disabled:focus, .btn-success.btn-transparent:hover.disabled.focus, .btn-success.btn-transparent:hover[disabled]:hover, .btn-success.btn-transparent:hover[disabled]:focus, .btn-success.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-success.btn-transparent:hover:hover, fieldset[disabled] .btn-success.btn-transparent:hover:focus, fieldset[disabled] .btn-success.btn-transparent:hover.focus {
  background-color: #2d672d;
  border-color: #5cb85c; }

.btn-success.btn-transparent:hover .badge {
  color: #2d672d;
  background-color: #5cb85c; }

.btn-info.btn-inverse {
  color: #5bc0de;
  background-color: #fff;
  border-color: #5bc0de; }

.btn-info.btn-inverse:focus, .btn-info.btn-inverse.focus {
  color: #5bc0de;
  background-color: #e6e6e6;
  border-color: #1f7e9a; }

.btn-info.btn-inverse:hover {
  color: #5bc0de;
  background-color: #e6e6e6;
  border-color: #2aabd2; }

.btn-info.btn-inverse:active, .btn-info.btn-inverse.active, .open > .btn-info.btn-inverse.dropdown-toggle {
  color: #5bc0de;
  background-color: #e6e6e6;
  border-color: #2aabd2; }

.btn-info.btn-inverse:active:hover, .btn-info.btn-inverse:active:focus, .btn-info.btn-inverse:active.focus, .btn-info.btn-inverse.active:hover, .btn-info.btn-inverse.active:focus, .btn-info.btn-inverse.active.focus, .open > .btn-info.btn-inverse.dropdown-toggle:hover, .open > .btn-info.btn-inverse.dropdown-toggle:focus, .open > .btn-info.btn-inverse.dropdown-toggle.focus {
  color: #5bc0de;
  background-color: #d4d4d4;
  border-color: #1f7e9a; }

.btn-info.btn-inverse:active, .btn-info.btn-inverse.active, .open > .btn-info.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-info.btn-inverse.disabled:hover, .btn-info.btn-inverse.disabled:focus, .btn-info.btn-inverse.disabled.focus, .btn-info.btn-inverse[disabled]:hover, .btn-info.btn-inverse[disabled]:focus, .btn-info.btn-inverse[disabled].focus, fieldset[disabled] .btn-info.btn-inverse:hover, fieldset[disabled] .btn-info.btn-inverse:focus, fieldset[disabled] .btn-info.btn-inverse.focus {
  background-color: #fff;
  border-color: #5bc0de; }

.btn-info.btn-inverse .badge {
  color: #fff;
  background-color: #5bc0de; }

.btn-info.btn-inverse:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info.btn-inverse:hover:focus, .btn-info.btn-inverse:hover.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85; }

.btn-info.btn-inverse:hover:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info.btn-inverse:hover:active, .btn-info.btn-inverse:hover.active, .open > .btn-info.btn-inverse:hover.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc; }

.btn-info.btn-inverse:hover:active:hover, .btn-info.btn-inverse:hover:active:focus, .btn-info.btn-inverse:hover:active.focus, .btn-info.btn-inverse:hover.active:hover, .btn-info.btn-inverse:hover.active:focus, .btn-info.btn-inverse:hover.active.focus, .open > .btn-info.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-info.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-info.btn-inverse:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85; }

.btn-info.btn-inverse:hover:active, .btn-info.btn-inverse:hover.active, .open > .btn-info.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-info.btn-inverse:hover.disabled:hover, .btn-info.btn-inverse:hover.disabled:focus, .btn-info.btn-inverse:hover.disabled.focus, .btn-info.btn-inverse:hover[disabled]:hover, .btn-info.btn-inverse:hover[disabled]:focus, .btn-info.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-info.btn-inverse:hover:hover, fieldset[disabled] .btn-info.btn-inverse:hover:focus, fieldset[disabled] .btn-info.btn-inverse:hover.focus {
  background-color: #5bc0de;
  border-color: #46b8da; }

.btn-info.btn-inverse:hover .badge {
  color: #5bc0de;
  background-color: #fff; }

.btn-info.btn-transparent {
  color: #5bc0de;
  background-color: transparent;
  border-color: #5bc0de; }

.btn-info.btn-transparent:focus, .btn-info.btn-transparent.focus {
  color: #5bc0de;
  background-color: transparent;
  border-color: #1f7e9a; }

.btn-info.btn-transparent:hover {
  color: #5bc0de;
  background-color: transparent;
  border-color: #2aabd2; }

.btn-info.btn-transparent:active, .btn-info.btn-transparent.active, .open > .btn-info.btn-transparent.dropdown-toggle {
  color: #5bc0de;
  background-color: transparent;
  border-color: #2aabd2; }

.btn-info.btn-transparent:active:hover, .btn-info.btn-transparent:active:focus, .btn-info.btn-transparent:active.focus, .btn-info.btn-transparent.active:hover, .btn-info.btn-transparent.active:focus, .btn-info.btn-transparent.active.focus, .open > .btn-info.btn-transparent.dropdown-toggle:hover, .open > .btn-info.btn-transparent.dropdown-toggle:focus, .open > .btn-info.btn-transparent.dropdown-toggle.focus {
  color: #5bc0de;
  background-color: transparent;
  border-color: #1f7e9a; }

.btn-info.btn-transparent:active, .btn-info.btn-transparent.active, .open > .btn-info.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-info.btn-transparent.disabled:hover, .btn-info.btn-transparent.disabled:focus, .btn-info.btn-transparent.disabled.focus, .btn-info.btn-transparent[disabled]:hover, .btn-info.btn-transparent[disabled]:focus, .btn-info.btn-transparent[disabled].focus, fieldset[disabled] .btn-info.btn-transparent:hover, fieldset[disabled] .btn-info.btn-transparent:focus, fieldset[disabled] .btn-info.btn-transparent.focus {
  background-color: transparent;
  border-color: #5bc0de; }

.btn-info.btn-transparent .badge {
  color: transparent;
  background-color: #5bc0de; }

.btn-info.btn-transparent:hover {
  color: #5bc0de;
  background-color: #1f7e9a;
  border-color: #5bc0de; }

.btn-info.btn-transparent:hover:focus, .btn-info.btn-transparent:hover.focus {
  color: #5bc0de;
  background-color: #175b70;
  border-color: #1f7e9a; }

.btn-info.btn-transparent:hover:hover {
  color: #5bc0de;
  background-color: #175b70;
  border-color: #2aabd2; }

.btn-info.btn-transparent:hover:active, .btn-info.btn-transparent:hover.active, .open > .btn-info.btn-transparent:hover.dropdown-toggle {
  color: #5bc0de;
  background-color: #175b70;
  border-color: #2aabd2; }

.btn-info.btn-transparent:hover:active:hover, .btn-info.btn-transparent:hover:active:focus, .btn-info.btn-transparent:hover:active.focus, .btn-info.btn-transparent:hover.active:hover, .btn-info.btn-transparent:hover.active:focus, .btn-info.btn-transparent:hover.active.focus, .open > .btn-info.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-info.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-info.btn-transparent:hover.dropdown-toggle.focus {
  color: #5bc0de;
  background-color: #114352;
  border-color: #1f7e9a; }

.btn-info.btn-transparent:hover:active, .btn-info.btn-transparent:hover.active, .open > .btn-info.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-info.btn-transparent:hover.disabled:hover, .btn-info.btn-transparent:hover.disabled:focus, .btn-info.btn-transparent:hover.disabled.focus, .btn-info.btn-transparent:hover[disabled]:hover, .btn-info.btn-transparent:hover[disabled]:focus, .btn-info.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-info.btn-transparent:hover:hover, fieldset[disabled] .btn-info.btn-transparent:hover:focus, fieldset[disabled] .btn-info.btn-transparent:hover.focus {
  background-color: #1f7e9a;
  border-color: #5bc0de; }

.btn-info.btn-transparent:hover .badge {
  color: #1f7e9a;
  background-color: #5bc0de; }

.btn-warning.btn-inverse {
  color: #f0ad4e;
  background-color: #fff;
  border-color: #f0ad4e; }

.btn-warning.btn-inverse:focus, .btn-warning.btn-inverse.focus {
  color: #f0ad4e;
  background-color: #e6e6e6;
  border-color: #b06d0f; }

.btn-warning.btn-inverse:hover {
  color: #f0ad4e;
  background-color: #e6e6e6;
  border-color: #eb9316; }

.btn-warning.btn-inverse:active, .btn-warning.btn-inverse.active, .open > .btn-warning.btn-inverse.dropdown-toggle {
  color: #f0ad4e;
  background-color: #e6e6e6;
  border-color: #eb9316; }

.btn-warning.btn-inverse:active:hover, .btn-warning.btn-inverse:active:focus, .btn-warning.btn-inverse:active.focus, .btn-warning.btn-inverse.active:hover, .btn-warning.btn-inverse.active:focus, .btn-warning.btn-inverse.active.focus, .open > .btn-warning.btn-inverse.dropdown-toggle:hover, .open > .btn-warning.btn-inverse.dropdown-toggle:focus, .open > .btn-warning.btn-inverse.dropdown-toggle.focus {
  color: #f0ad4e;
  background-color: #d4d4d4;
  border-color: #b06d0f; }

.btn-warning.btn-inverse:active, .btn-warning.btn-inverse.active, .open > .btn-warning.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-warning.btn-inverse.disabled:hover, .btn-warning.btn-inverse.disabled:focus, .btn-warning.btn-inverse.disabled.focus, .btn-warning.btn-inverse[disabled]:hover, .btn-warning.btn-inverse[disabled]:focus, .btn-warning.btn-inverse[disabled].focus, fieldset[disabled] .btn-warning.btn-inverse:hover, fieldset[disabled] .btn-warning.btn-inverse:focus, fieldset[disabled] .btn-warning.btn-inverse.focus {
  background-color: #fff;
  border-color: #f0ad4e; }

.btn-warning.btn-inverse .badge {
  color: #fff;
  background-color: #f0ad4e; }

.btn-warning.btn-inverse:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning.btn-inverse:hover:focus, .btn-warning.btn-inverse:hover.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d; }

.btn-warning.btn-inverse:hover:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning.btn-inverse:hover:active, .btn-warning.btn-inverse:hover.active, .open > .btn-warning.btn-inverse:hover.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512; }

.btn-warning.btn-inverse:hover:active:hover, .btn-warning.btn-inverse:hover:active:focus, .btn-warning.btn-inverse:hover:active.focus, .btn-warning.btn-inverse:hover.active:hover, .btn-warning.btn-inverse:hover.active:focus, .btn-warning.btn-inverse:hover.active.focus, .open > .btn-warning.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-warning.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-warning.btn-inverse:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d; }

.btn-warning.btn-inverse:hover:active, .btn-warning.btn-inverse:hover.active, .open > .btn-warning.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-warning.btn-inverse:hover.disabled:hover, .btn-warning.btn-inverse:hover.disabled:focus, .btn-warning.btn-inverse:hover.disabled.focus, .btn-warning.btn-inverse:hover[disabled]:hover, .btn-warning.btn-inverse:hover[disabled]:focus, .btn-warning.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-warning.btn-inverse:hover:hover, fieldset[disabled] .btn-warning.btn-inverse:hover:focus, fieldset[disabled] .btn-warning.btn-inverse:hover.focus {
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-warning.btn-inverse:hover .badge {
  color: #f0ad4e;
  background-color: #fff; }

.btn-warning.btn-transparent {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #f0ad4e; }

.btn-warning.btn-transparent:focus, .btn-warning.btn-transparent.focus {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #b06d0f; }

.btn-warning.btn-transparent:hover {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #eb9316; }

.btn-warning.btn-transparent:active, .btn-warning.btn-transparent.active, .open > .btn-warning.btn-transparent.dropdown-toggle {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #eb9316; }

.btn-warning.btn-transparent:active:hover, .btn-warning.btn-transparent:active:focus, .btn-warning.btn-transparent:active.focus, .btn-warning.btn-transparent.active:hover, .btn-warning.btn-transparent.active:focus, .btn-warning.btn-transparent.active.focus, .open > .btn-warning.btn-transparent.dropdown-toggle:hover, .open > .btn-warning.btn-transparent.dropdown-toggle:focus, .open > .btn-warning.btn-transparent.dropdown-toggle.focus {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #b06d0f; }

.btn-warning.btn-transparent:active, .btn-warning.btn-transparent.active, .open > .btn-warning.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-warning.btn-transparent.disabled:hover, .btn-warning.btn-transparent.disabled:focus, .btn-warning.btn-transparent.disabled.focus, .btn-warning.btn-transparent[disabled]:hover, .btn-warning.btn-transparent[disabled]:focus, .btn-warning.btn-transparent[disabled].focus, fieldset[disabled] .btn-warning.btn-transparent:hover, fieldset[disabled] .btn-warning.btn-transparent:focus, fieldset[disabled] .btn-warning.btn-transparent.focus {
  background-color: transparent;
  border-color: #f0ad4e; }

.btn-warning.btn-transparent .badge {
  color: transparent;
  background-color: #f0ad4e; }

.btn-warning.btn-transparent:hover {
  color: #f0ad4e;
  background-color: #b06d0f;
  border-color: #f0ad4e; }

.btn-warning.btn-transparent:hover:focus, .btn-warning.btn-transparent:hover.focus {
  color: #f0ad4e;
  background-color: #81500b;
  border-color: #b06d0f; }

.btn-warning.btn-transparent:hover:hover {
  color: #f0ad4e;
  background-color: #81500b;
  border-color: #eb9316; }

.btn-warning.btn-transparent:hover:active, .btn-warning.btn-transparent:hover.active, .open > .btn-warning.btn-transparent:hover.dropdown-toggle {
  color: #f0ad4e;
  background-color: #81500b;
  border-color: #eb9316; }

.btn-warning.btn-transparent:hover:active:hover, .btn-warning.btn-transparent:hover:active:focus, .btn-warning.btn-transparent:hover:active.focus, .btn-warning.btn-transparent:hover.active:hover, .btn-warning.btn-transparent:hover.active:focus, .btn-warning.btn-transparent:hover.active.focus, .open > .btn-warning.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-warning.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-warning.btn-transparent:hover.dropdown-toggle.focus {
  color: #f0ad4e;
  background-color: #603b08;
  border-color: #b06d0f; }

.btn-warning.btn-transparent:hover:active, .btn-warning.btn-transparent:hover.active, .open > .btn-warning.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-warning.btn-transparent:hover.disabled:hover, .btn-warning.btn-transparent:hover.disabled:focus, .btn-warning.btn-transparent:hover.disabled.focus, .btn-warning.btn-transparent:hover[disabled]:hover, .btn-warning.btn-transparent:hover[disabled]:focus, .btn-warning.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-warning.btn-transparent:hover:hover, fieldset[disabled] .btn-warning.btn-transparent:hover:focus, fieldset[disabled] .btn-warning.btn-transparent:hover.focus {
  background-color: #b06d0f;
  border-color: #f0ad4e; }

.btn-warning.btn-transparent:hover .badge {
  color: #b06d0f;
  background-color: #f0ad4e; }

.btn-danger.btn-inverse {
  color: #d9534f;
  background-color: #fff;
  border-color: #d9534f; }

.btn-danger.btn-inverse:focus, .btn-danger.btn-inverse.focus {
  color: #d9534f;
  background-color: #e6e6e6;
  border-color: #8b211e; }

.btn-danger.btn-inverse:hover {
  color: #d9534f;
  background-color: #e6e6e6;
  border-color: #c12e2a; }

.btn-danger.btn-inverse:active, .btn-danger.btn-inverse.active, .open > .btn-danger.btn-inverse.dropdown-toggle {
  color: #d9534f;
  background-color: #e6e6e6;
  border-color: #c12e2a; }

.btn-danger.btn-inverse:active:hover, .btn-danger.btn-inverse:active:focus, .btn-danger.btn-inverse:active.focus, .btn-danger.btn-inverse.active:hover, .btn-danger.btn-inverse.active:focus, .btn-danger.btn-inverse.active.focus, .open > .btn-danger.btn-inverse.dropdown-toggle:hover, .open > .btn-danger.btn-inverse.dropdown-toggle:focus, .open > .btn-danger.btn-inverse.dropdown-toggle.focus {
  color: #d9534f;
  background-color: #d4d4d4;
  border-color: #8b211e; }

.btn-danger.btn-inverse:active, .btn-danger.btn-inverse.active, .open > .btn-danger.btn-inverse.dropdown-toggle {
  background-image: none; }

.btn-danger.btn-inverse.disabled:hover, .btn-danger.btn-inverse.disabled:focus, .btn-danger.btn-inverse.disabled.focus, .btn-danger.btn-inverse[disabled]:hover, .btn-danger.btn-inverse[disabled]:focus, .btn-danger.btn-inverse[disabled].focus, fieldset[disabled] .btn-danger.btn-inverse:hover, fieldset[disabled] .btn-danger.btn-inverse:focus, fieldset[disabled] .btn-danger.btn-inverse.focus {
  background-color: #fff;
  border-color: #d9534f; }

.btn-danger.btn-inverse .badge {
  color: #fff;
  background-color: #d9534f; }

.btn-danger.btn-inverse:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger.btn-inverse:hover:focus, .btn-danger.btn-inverse:hover.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19; }

.btn-danger.btn-inverse:hover:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger.btn-inverse:hover:active, .btn-danger.btn-inverse:hover.active, .open > .btn-danger.btn-inverse:hover.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-danger.btn-inverse:hover:active:hover, .btn-danger.btn-inverse:hover:active:focus, .btn-danger.btn-inverse:hover:active.focus, .btn-danger.btn-inverse:hover.active:hover, .btn-danger.btn-inverse:hover.active:focus, .btn-danger.btn-inverse:hover.active.focus, .open > .btn-danger.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-danger.btn-inverse:hover.dropdown-toggle:focus, .open > .btn-danger.btn-inverse:hover.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19; }

.btn-danger.btn-inverse:hover:active, .btn-danger.btn-inverse:hover.active, .open > .btn-danger.btn-inverse:hover.dropdown-toggle {
  background-image: none; }

.btn-danger.btn-inverse:hover.disabled:hover, .btn-danger.btn-inverse:hover.disabled:focus, .btn-danger.btn-inverse:hover.disabled.focus, .btn-danger.btn-inverse:hover[disabled]:hover, .btn-danger.btn-inverse:hover[disabled]:focus, .btn-danger.btn-inverse:hover[disabled].focus, fieldset[disabled] .btn-danger.btn-inverse:hover:hover, fieldset[disabled] .btn-danger.btn-inverse:hover:focus, fieldset[disabled] .btn-danger.btn-inverse:hover.focus {
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-danger.btn-inverse:hover .badge {
  color: #d9534f;
  background-color: #fff; }

.btn-danger.btn-transparent {
  color: #d9534f;
  background-color: transparent;
  border-color: #d9534f; }

.btn-danger.btn-transparent:focus, .btn-danger.btn-transparent.focus {
  color: #d9534f;
  background-color: transparent;
  border-color: #8b211e; }

.btn-danger.btn-transparent:hover {
  color: #d9534f;
  background-color: transparent;
  border-color: #c12e2a; }

.btn-danger.btn-transparent:active, .btn-danger.btn-transparent.active, .open > .btn-danger.btn-transparent.dropdown-toggle {
  color: #d9534f;
  background-color: transparent;
  border-color: #c12e2a; }

.btn-danger.btn-transparent:active:hover, .btn-danger.btn-transparent:active:focus, .btn-danger.btn-transparent:active.focus, .btn-danger.btn-transparent.active:hover, .btn-danger.btn-transparent.active:focus, .btn-danger.btn-transparent.active.focus, .open > .btn-danger.btn-transparent.dropdown-toggle:hover, .open > .btn-danger.btn-transparent.dropdown-toggle:focus, .open > .btn-danger.btn-transparent.dropdown-toggle.focus {
  color: #d9534f;
  background-color: transparent;
  border-color: #8b211e; }

.btn-danger.btn-transparent:active, .btn-danger.btn-transparent.active, .open > .btn-danger.btn-transparent.dropdown-toggle {
  background-image: none; }

.btn-danger.btn-transparent.disabled:hover, .btn-danger.btn-transparent.disabled:focus, .btn-danger.btn-transparent.disabled.focus, .btn-danger.btn-transparent[disabled]:hover, .btn-danger.btn-transparent[disabled]:focus, .btn-danger.btn-transparent[disabled].focus, fieldset[disabled] .btn-danger.btn-transparent:hover, fieldset[disabled] .btn-danger.btn-transparent:focus, fieldset[disabled] .btn-danger.btn-transparent.focus {
  background-color: transparent;
  border-color: #d9534f; }

.btn-danger.btn-transparent .badge {
  color: transparent;
  background-color: #d9534f; }

.btn-danger.btn-transparent:hover {
  color: #d9534f;
  background-color: #8b211e;
  border-color: #d9534f; }

.btn-danger.btn-transparent:hover:focus, .btn-danger.btn-transparent:hover.focus {
  color: #d9534f;
  background-color: #611715;
  border-color: #8b211e; }

.btn-danger.btn-transparent:hover:hover {
  color: #d9534f;
  background-color: #611715;
  border-color: #c12e2a; }

.btn-danger.btn-transparent:hover:active, .btn-danger.btn-transparent:hover.active, .open > .btn-danger.btn-transparent:hover.dropdown-toggle {
  color: #d9534f;
  background-color: #611715;
  border-color: #c12e2a; }

.btn-danger.btn-transparent:hover:active:hover, .btn-danger.btn-transparent:hover:active:focus, .btn-danger.btn-transparent:hover:active.focus, .btn-danger.btn-transparent:hover.active:hover, .btn-danger.btn-transparent:hover.active:focus, .btn-danger.btn-transparent:hover.active.focus, .open > .btn-danger.btn-transparent:hover.dropdown-toggle:hover, .open > .btn-danger.btn-transparent:hover.dropdown-toggle:focus, .open > .btn-danger.btn-transparent:hover.dropdown-toggle.focus {
  color: #d9534f;
  background-color: #43100f;
  border-color: #8b211e; }

.btn-danger.btn-transparent:hover:active, .btn-danger.btn-transparent:hover.active, .open > .btn-danger.btn-transparent:hover.dropdown-toggle {
  background-image: none; }

.btn-danger.btn-transparent:hover.disabled:hover, .btn-danger.btn-transparent:hover.disabled:focus, .btn-danger.btn-transparent:hover.disabled.focus, .btn-danger.btn-transparent:hover[disabled]:hover, .btn-danger.btn-transparent:hover[disabled]:focus, .btn-danger.btn-transparent:hover[disabled].focus, fieldset[disabled] .btn-danger.btn-transparent:hover:hover, fieldset[disabled] .btn-danger.btn-transparent:hover:focus, fieldset[disabled] .btn-danger.btn-transparent:hover.focus {
  background-color: #8b211e;
  border-color: #d9534f; }

.btn-danger.btn-transparent:hover .badge {
  color: #8b211e;
  background-color: #d9534f; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.paperShadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

/*
 * Typography
  font-family:'Freight Text W03 Book';
  font-family:'FreightText W01 Light';
  font-family:'gotham_mediumregular';
  font-family:'gotham_boldregular';
 * ======================================================================== */
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("/CHS/assets/gotham-medium-webfont.woff2") format("woff2"), url("/CHS/assets/gotham-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_boldregular';
  src: url("/CHS/assets/gotham-bold-webfont.woff2") format("woff2"), url("/CHS/assets/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
 * Layout
 * ======================================================================== */
/*
 * Media queries breakpoints
 * ======================================================================== */
/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/*
 * Colors
 * ======================================================================== */
.annotation {
  width: 100%;
  border-bottom: 1px solid #eee; }

.annotation--reply {
  border-left: 6px solid #eee; }

.annotationUpper {
  width: 100%;
  padding: 10px 5px; }

.annotationUser {
  padding: 5px 0;
  display: inline-block;
  vertical-align: top;
  float: left; }
  .annotationUser a {
    color: #222; }
    .annotationUser a:hover {
      color: #762123; }
  .annotationUser .name {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    padding: 10px; }
    .annotationUser .name em {
      color: #4e1617;
      padding: 0px 7px;
      font-family: "Cardo", Times, serif; }

.avatarIcon {
  display: inline-block;
  vertical-align: top; }

.revisions {
  display: inline-block;
  vertical-align: top;
  float: right;
  background: transparent;
  transition: background 100ms ease-in-out;
  margin-top: 4px;
  border-radius: 2px;
  cursor: pointer; }
  .revisions:hover {
    background: #f6f6f6; }
    .revisions:hover .revisionsActiveLabel,
    .revisions:hover .revisionsToggle {
      color: #444; }

  .revisions.revisionsNoHover {
		cursor: default;
	}
  .revisions.revisionsNoHover:hover {
    background: #fff; }

.revisionsActiveLabel {
  display: inline-block;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0 10px 10px; }

.revisionsToggle {
  display: inline-block;
  vertical-align: top;
  color: #999;
  padding: 5px; }
  .revisionsToggle::before {
    font-size: 22px; }

.annotationContent {
  display: block; }

.annotationBody {
  padding: 0 15px; }

.annotationText {
  clear: both;
  padding: 10px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

.annotationActions {
  padding: 5px 0 10px; }

.annotationAction {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  transition: color 100ms ease-in-out;
	padding: 5px 10px;
}

.annotationActionEdit {
  color: #762123; }
  .annotationActionEdit:hover {
    color: #4e1617; }

.annotationActionDelete {
  color: #aaa; }
  .annotationActionDelete:hover {
    color: #666; }

.replyToggle {
  padding: 0 15px;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  text-align: left;
  transition: background 100ms ease-in-out; }
  .replyToggle:hover {
    background: #f6f6f6; }

.replyLabel {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  padding: 10px 2px 15px;
  display: block;
  border-top: 1px solid #eee;
  width: 100%; }

.annotationCreate {
  padding: 10px 15px; }

.addAnnotationUser {
  padding: 5px; }

.avatarIcon {
  display: inline-block;
  vertical-align: top; }

.name {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  padding: 10px; }

.annotationEditor {
  position: relative;
  padding: 15px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300; }

.annotationActions {
  padding: 5px 0 10px; }

.annotationAction {
  background: transparent;
  border: none;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  transition: color 100ms ease-in-out; }

.annotationActionSave {
  color: #762123; }
  .annotationActionSave:hover {
    color: #4e1617; }

.annotationActionCancel {
  color: #aaa; }
  .annotationActionCancel:hover {
    color: #666; }

.annotationDrawer {
  padding: 0;
  color: #333;
  position: absolute;
  right: 2%;
  background-color: #fff;
  width: 34%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: transform 200ms ease-in-out;
  z-index: 11; }

.drawerHeader {
  padding: 10px 2%;
  background: #eee;
  display: block;
  width: 96%; }

.drawerLabel {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: #aaa;
  font-size: 10px; }
  .drawerLabel.drawerClose {
    float: right;
    cursor: pointer;
    padding: 1px; }
    .drawerLabel.drawerClose:hover {
      color: #666; }

.annotationIconWrapper {
  position: absolute;
  cursor: pointer;
  color: #aaa;
  min-width: 300px;
}

.annotationIconWrapperInner.padding {
background: #fff;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 5px 10px 5px;
}

.annotationIconWrapper span {
	font-size: 14px;
}

.padding {
  padding: 5px 10px 0; }

.createAnnotationBookmarkIcons {
  opacity: 0;
  transition: opacity 100ms ease-in-out; }

.createAnnotationBookmarkIconOuter {
  display: block;
  padding: 0 5px;
}

.createAnnotationBookmarkIconButton {
	margin-top: 10px !important;
  padding: 10px;
	background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
	border-radius: 100%;
}

.createAnnotationBookmarkIcon {
  color: #aaa; }
  .createAnnotationBookmarkIcon::before {
    font-size: 28px; }

.details {
  margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
	display: inline-block;
	vertical-align: top;
}
  .avatar:hover {
    border: 1px solid #f6f6f6; }
  .avatar.avatarIsAuthor {
    width: 41px;
    height: 41px;
    border: 2px solid #762123; }

.header {
  background: #762123;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  z-index: 100;
  transition: background, ease-in-out, 300ms; }
  .header:hover {
    background: #762123; }

.headerToggle {
  display: inline-block;
  vertical-align: top;
  transition: background, ease-in-out, 300ms;
  float: left;
	height: 60px;
}
  .headerToggle:hover {
    background: #4e1617; }

.menuToggle {
  cursor: pointer;
  padding: 15px 20px 14px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  transition: background, ease-in-out, 300ms; }
  .menuToggle:hover {
    background: #4e1617; }
  .menuToggle::before {
    font-size: 22px; }

.readingLocation {
  padding: 16px 20px 15px 5px;
  color: #fff;
  font-family: "Cardo", Times, serif;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5em;
  cursor: pointer;
  max-width: 960px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.dropdownChevron {
  color: #fff;
  cursor: pointer;
  padding: 15px 15px 14px 0;
  display: inline-block;
  vertical-align: top; }
  .dropdownChevron::before {
    font-size: 22px; }

.headerRightButtons {
  float: right;
  padding: 0 30px 0 10px;
  color: #fff; }

.languagesToggle {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 20px 15px;
	font-size: 12px;
}

.language {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 0 10px;
  transition: opacity, ease-in-out, 300ms;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 1.1px; }
  .language:link, .language:visited {
    color: #fff; }
  .language:hover {
    color: #fff; }

.languageActive {
  opacity: 1; }

.languageDisabled {
  cursor: default; }
  .languageDisabled:hover {
    text-decoration: none; }

.languageNotAvailable {
  display: none;
  position: absolute;
  bottom: -60px;
  left: -50px;
  margin-left: 30px;
  width: 120px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px; }
  .languageNotAvailable::before {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent; }

.languageNotAvailableVisible {
  display: block; }

.authenticationToggle {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(255, 255, 255, 0.1); }

.authenticationOption {
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px 19px;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 1.1px;
	height: 21px;
	text-decoration: none;
	font-size: 12px;
	height: 60px;
}
  .authenticationOption:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none; }
  .authenticationOption.authenticationOptionLogin {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }

.profileButton {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  position: relative; }

.profileButtonAvatar {
  margin: 14px 15px;
  cursor: pointer; }
  .profileButtonAvatar .avatar {
    width: 32px;
    height: 32px; }

.chaptersblock {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: normal;
  width: 100%;
  height: 200px;
  background-color: #762123;
  color: #fff; }

/* Left Drawer styles */
.drawerOverlay {
  background-color: rgba(0, 0, 0, 0.2); }

/* Left Drawer styles - Table of content */
.headerBlock {
  background: #4e1617;
  color: #fff;
  font-family: "Cardo", Times, serif;
  padding: 30px 20px 10px;
  font-size: 1.25rem; }

.authorBlock {
  display: flex;
  align-items: center;
	color: #fff;
}

.authorName {
	color: #fff;
}

.authorButtonAvatar {
  display: inline-block;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  background-image: url("/CHS/assets/lenny_avatar.png");
  background-size: cover; }

.titleBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 0 0; }

.bookTitle {
  color: #fff;
  font-size: 1.75rem;
  margin: 0;
  line-height: 2.5rem; }

.bookPublicationInfo {
  display: block;
  padding: 10px 0 20px; }

.showPublications {
  font-size: 2.5rem;
  padding-left: 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms;
  position: absolute;
  top: 10px;
  right: 10px;
	color: #fff;
}
  .showPublications:hover {
    color: #fff;
    opacity: 1; }

.at-oauth {
  padding: 20px 0; }
  .at-oauth button.at-social-btn {
    font-size: 16px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1.8px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 14px 10px;
    height: auto;
    border-radius: 2px; }

.publications .headerBlock {
  background-color: #762123;
  background-image: url("/CHS/assets/CHS_logo_background.png");
  color: #fff;
  font-family: "Cardo", Times, serif;
  font-size: 1.5rem;
  padding: 50px 20px 30px;
  display: flex;
  align-items: flex-start;
  flex-flow: column-reverse;
  transition: opacity 0.5s; }
  .publications .headerBlock div {
    font-size: 24px;
    line-height: 4rem; }

.publications .showList {
  margin-left: 0; }

.showHeaderBlock {
  opacity: 1; }

.list {
  transition: margin 0.5s; }

/* reading environment styles */
body.readingEnvironment {
   }
  body.readingEnvironment nav.navbar {
    margin: 0; }
  body.readingEnvironment #outer-container-wrapper {
    background: #fffefc;
    padding-top: 15px; }
  body.readingEnvironment .leftDisplay.col-sm-3 {
    display: none; }
  body.readingEnvironment .rightDisplay {
    background: transparent; }

.annotationIcons {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
  z-index: 10; }

.annotationIconsHidden {
  opacity: 0; }

.pageOverlay {
  display: none;
  background: rgba(0, 0, 0, 0.02);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10; }

.pageOverlayActive {
  display: block; }

.footerLoginButton {
  position: absolute;
  right: 30px;
  bottom: 0;
  border-radius: 5px;
  border: 1px solid #fff;
  z-index: 101;
  vertical-align: top;
  padding: 8px 15px 25px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer; }
  .footerLoginButton:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none; }

.recentList {
  padding: 2px 0; }

.recentTeaser {
  display: block;
  padding: 0;
  width: 274px;
  padding: 5px 20px;
  cursor: pointer;
  background: #fff;
  text-decoration: none;
}
  .recentTeaser:hover {
    background: #f6f6f6;
    text-decoration: none; }

.recentTeaserTitle {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 5px 0;
  color: #222; }

.recentTeaserChapter {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px;
  color: #666; }

.annotationsToggle {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 18px;
	font-size: 12px;
}

.modalAuthForm {
  width: 100%;
  padding: 20px 0; }

.modalAuthTitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  font-family: "gotham_mediumregular", sans-serif;
  color: #222; }

.atList {
  list-style-type: none;
  padding: 0; }

.atList > li {
  padding: 5px 0; }

.singInDevider {
  text-align: center;
  margin-top: 20px; }

.submitButton {
  margin-top: 30px; }
  .submitButton span {
    padding: 16px;
    display: block; }

.closeButton {
  margin-left: 10px; }

.register {
  text-align: center;
  padding-top: 20px; }

.register > a {
  cursor: pointer; }

.SignUp {
  min-width: 300px;
  max-width: 450px; }

.signUpTitle {
  text-align: center; }

.atList {
  list-style-type: none;
  padding: 0; }

.atList > li {
  padding: 5px 0; }

.singInDevider {
  text-align: center;
  margin-top: 20px; }

.submitButton {
  margin-top: 30px; }

.closeButton {
  margin-left: 10px; }

.register {
  text-align: center;
  padding-top: 20px; }

.register > a {
  cursor: pointer; }

.closeButton {
  position: fixed !important;
  top: 0;
  right: 0; }

.account-modal-errors {
  display: block;
  padding-top: 10px; }
  .account-modal-errors .account-modal-errors--message {
    color: #762123;
    font-size: 12px;
    display: block;
    padding: 5px 0; }

.userDropdown {
  position: absolute;
  background: #eee;
  width: 475px;
  height: 230px;
  left: -235px;
  border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px 0px 2px 2px;
  border: 0px solid #000000; }

.userDropdownLeft, .userDropdownRight {
  display: inline-block;
  vertical-align: top;
  height: 100%; }

.userDropdownLeft {
  width: 314px;
	height: 200px;
  background: #fff;
  padding: 15px 0px; }
  .userDropdownLeft h4 {
    font-family: "Cardo", Times, serif;
    font-size: 18px;
    font-style: italic;
    padding: 0 20px;
    margin: 0;
    color: #4e1617; }

.userDropdownRight {
  width: 120px;
	height: 200px;
  padding: 15px 20px; }
  .userDropdownRight a {
    font-size: 14px;
    color: #666;
    display: block;
    padding: 5px;
  text-decoration: none;
    cursor: pointer; }
    .userDropdownRight a:hover {
      color: #222;
      text-decoration: none; }

@media (max-width: 1500px) {
  .readingLocation {
    max-width: 660px; } }

@media (max-width: 1300px) {
  .readingLocation {
    max-width: 500px; } }


@media (max-width: 1100px) {
  .headerRightButtons {
    display: none; } }

@media (max-width: 990px) {
  .annotationIconWrapper .details {
    display: none; } }

@media (max-width: 850px) {
  .readingLocation {
    max-width: 380px; } }

@media (max-width: 720px) {
  .annotationDrawer {
    width: 100%;
    position: fixed;
    bottom: 0;
    top: auto !important;
    right: auto !important;
    height: 200px;
    overflow: scroll; }
    .annotationDrawer .drawerHeader {
      z-index: 101;
      position: fixed; }
    .annotationDrawer .annotationsList {
      padding-top: 50px; }
  .readingContent.readingContent--primary {
    width: 95%; }
    .readingContent.readingContent--primary h1 {
      font-size: 36px; }
    .readingContent.readingContent--primary .inlineCitation {
      margin-right: 5px;
      padding: 15px 0; } }

@media (max-width: 700px) {
  .readingLocation {
    display: none; } }

.closeModalButton {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  background: #eee;
  border-radius: 50%;
  padding: 8px 0;
  cursor: pointer;
  outline: none;
  text-align: center; }
  .closeModalButton:hover, .closeModalButton:focus {
    background: #762123;
    outline: none; }
    .closeModalButton:hover span, .closeModalButton:hover i, .closeModalButton:focus span, .closeModalButton:focus i {
      color: #fff; }
  .closeModalButton i:before {
    font-size: 24px;
    line-height: 34px; }

.loginLinks {
  width: 90%;
  max-width: 700px;
  margin: 0 auto; }
  .loginLinks .loginOption {
    width: 100%;
    padding: 10px 15px;
    background: #4e1617;
    text-align: left;
    border: none;
    margin: 5px auto; }
    .loginLinks .loginOption span, .loginLinks .loginOption i {
      display: inline-block;
      vertical-align: top;
      color: #fff; }
    .loginLinks .loginOption i {
      width: 10%;
      font-size: 26px;
      padding-top: 2px; }
    .loginLinks .loginOption span {
      width: 80%;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0; }

.loginOtherOption form {
  text-align: left; }

.loginOtherOption input[type="text"], .loginOtherOption input[type="password"] {
  padding: 10px 15px;
  border: 2px solid #b6b3b3;
  outline: none; }
  .loginOtherOption input[type="text"]:focus, .loginOtherOption input[type="password"]:focus {
    border: 2px solid #4e1617; }

.loginOtherOption input[type="submit"] {
  background: #4e1617;
  border: none; }
  .loginOtherOption input[type="submit"]:focus {
    background: #3a1011; }

.forgotPassword {
  float: right;
  padding: 0px 0 20px;
  font-size: 14px; }
  .forgotPassword:hover {
    text-decoration: underline; }

.at-form {
  float: none;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 15px; }

.at-form p {
  font-size: 15px;
  line-height: 20px; }

.at-link.disabled {
  color: #444; }

.at-signin-link {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }

.at-error,
.at-result {
  text-align: center; }

.at-oauth {
  margin-top: 10px; }

button.at-social-btn {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 0px;
  font-size: 16px; }
  button.at-social-btn:focus {
    outline: none; }

button.at-social-btn i {
  float: left;
  width: 40px;
  font-size: 20px;
  margin-top: 1px;
  padding-right: 15px;
  padding-left: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

button.at-social-btn#at-facebook {
  background: #3B5998;
  color: #fff; }

button.at-social-btn#at-facebook.disabled {
  color: #ddd;
  background: #666666; }

button.at-social-btn#at-facebook:hover {
  background: #2C4780; }

button.at-social-btn#at-linkedin {
  background: #338AB0;
  color: #fff; }

button.at-social-btn#at-linkedin.disabled {
  color: #ddd;
  background: #666666; }

button.at-social-btn#at-linkedin:hover {
  background: #0571A6; }

button.at-social-btn#at-twitter {
  background: #4099FF;
  color: #fff; }

button.at-social-btn#at-twitter.disabled {
  color: #ddd;
  background: #666666; }

button.at-social-btn#at-twitter:hover {
  background: #3288EB; }

button.at-social-btn#at-google {
  background: #db5a3c;
  color: #fff; }

button.at-social-btn#at-google.disabled {
  color: #ddd;
  background: #666666; }

button.at-social-btn#at-google:hover {
  background: #CA4C2E; }

button.at-social-btn#at-github {
  background: #666;
  color: #fff; }

button.at-social-btn#at-github.disabled {
  color: #ddd;
  background: #666666; }

button.at-social-btn#at-github:hover {
  background: #555; }

.at-sep {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 5px 5%; }

.at-sep:before,
.at-sep:after {
  display: block;
  content: " ";
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: absolute;
  top: 48%; }

.at-sep:before {
  left: -60%; }

.at-sep:after {
  right: -60%; }

.at-input.validating * {
  cursor: progress; }

.at-pwd-form > form {
  margin-top: 20px; }

.at-pwd-form > form label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px; }

#at-btn {
  font-size: 16px;
  padding: 10px 12px;
  margin-top: 30px; }

.at-signup-link {
  margin-top: 20px;
  margin-bottom: 30px; }

.at-terms-link {
  text-align: center;
  margin-top: 20px;
  font-size: 16px; }

.logged-in.admin-bar header {
	margin-top: 32px;
}
.Paragraph {
  color: #000000;
  padding-top: 15px;
  text-align: left;
  line-height: 25px;
  font-size: 15px;
}

.inlineCitation {
  color: #000000;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 50px;
  margin-right: 100px;
}

.bibl {
  color: #000000;
  text-align: right;
}

.bibl2 {
  text-indent:-50px;
  margin-left:50px

}

.annotationIconToggleName {
  padding-left: 1em;
  padding-top: 7px;
  display: inline-block;
}

.rightOpt{
  margin-top: 10px;
  float:right;
  width: 275px;
  background-color: white;
  border: 1px solid #ddd;
}

.rightOpt>.Paragraph {
  padding: 15px;
}

.rightOpt>.urn {
  padding: 0 15px 15px 15px;
}

.rightOpt>.urn>a {
  word-wrap: break-word;
}

div.urn {
  word-break: break-all;
}

.rightOpt>h2 {
  font-size: 32px;
  line-height: 32px;
  background-color: #00244D;
  color: #FFFFFF;
  margin: 0;
  text-transform: capitalize;
  padding: 10px 5px;
}


/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
  margin: 0.6em 1.25em 0 1.25em;
  padding: 0.3em 1.8em 1.25em;
  position: relative;
  zoom: 1;
  border: none;
}

.property-list .fieldcontain {
  list-style: none;
  overflow: hidden;
  zoom: 1;
}

.fieldcontain {
  margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
  color: #666666;
  text-align: right;
  width: 25%;
}

.fieldcontain .property-label {
  float: left;
}

.fieldcontain .property-value {
  display: block;
  margin-left: 27%;
}

select {
  padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
  vertical-align: top;
}

textarea {
  overflow: auto; /* IE always renders vertical scrollbar without this */
  vertical-align: top;
}

input[type=checkbox], input[type=radio] {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.required-indicator {
  color: #8c707c;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.3em;
  position: relative;
  top: 0.1em;
}

ul.one-to-many {
  display: inline-block;
  list-style-position: inside;
  vertical-align: top;
}

ul.one-to-many li.add {
  list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
  background-color: transparent;
  border: 1px solid #CCCCCC;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

fieldset.embedded legend {
  margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
  font-size: 0.8em;
  line-height: 2;
  margin: 1em 2em;
  padding: 0.25em;
}

.message {
  background: #f3f3ff;
  border: 1px solid #b2d1ff;
  color: #006dba;
     -moz-box-shadow: 0 0 0.25em #b2d1ff;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
          box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
  background: #fff3f3;
  border: 1px solid #ffaaaa;
  color: #cc0000;
     -moz-box-shadow: 0 0 0.25em #ff8888;
  -webkit-box-shadow: 0 0 0.25em #ff8888;
          box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
  padding: 0;
}

.errors li {
  list-style: none;
  background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

.message {
  background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
  text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
  background: #fff3f3;
  border-color: #ffaaaa;
  color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
     -moz-box-shadow: 0 0 0.5em #ffaaaa;
  -webkit-box-shadow: 0 0 0.5em #ffaaaa;
          box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
}
table .default {
  width: 20%;
}

table.default {
        width: 20%;
}


tr {
  border: 0;
}

tr>td:first-child, tr>th:first-child {
  padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
  padding-right: 1.25em;
}

td, th {
  line-height: 1.5em;
  padding: 0.5em 0.6em;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
  color: #666666;
  font-weight: bold;
  line-height: 1.7em;
  padding: 0.2em 0.6em;
}

thead th {
  white-space: nowrap;
}

th a {
  display: block;
  text-decoration: none;
}

th a:link, th a:visited {
  color: #666666;
}

th a:hover, th a:focus {
  color: #333333;
}

th.sortable a {
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 1.1em;
}

th.asc a {
  background-image: url('/CHS/assets/skin/sorted_asc.gif');
}

th.desc a {
  background-image: url('/CHS/assets/skin/sorted_desc.gif');
}

.odd {
  background: #f7f7f7;
}

.even {
  background: #ffffff;
}

th:hover, tr:hover {
  /* background: #E1F2B6; */
}

#hright table {
  border-top: 0;
}


/* PAGINATION */

/*.pagination {*/
  /*border-top: 0;*/
  /*margin: 0;*/
  /*padding: 0.3em 0.2em;*/
  /*text-align: center;*/
     /*-moz-box-shadow: 0 0 3px 1px #AAAAAA;*/
  /*-webkit-box-shadow: 0 0 3px 1px #AAAAAA;*/
          /*box-shadow: 0 0 3px 1px #AAAAAA;*/
  /*background-color: #EFEFEF;*/
/*}*/

/*.pagination ul{*/
  /*list-style-type:none;*/
/*margin:0;*/
/*padding:0;*/
/*}*/

/*.pagination li{*/
  /*display:inline;*/
/*}*/

/*.pagination a,*/
/*.pagination .currentStep {*/
  /*color: #666666;*/
  /*display: inline-block;*/
  /*margin: 0 0.1em;*/
  /*padding: 0.25em 0.7em;*/
  /*text-decoration: none;*/
     /*-moz-border-radius: 0.3em;*/
  /*-webkit-border-radius: 0.3em;*/
          /*border-radius: 0.3em;*/
/*}*/

/*.pagination a:hover, .pagination a:focus,*/
/*.pagination .currentStep {*/
  /*background-color: #999999;*/
  /*color: #ffffff;*/
  /*outline: none;*/
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);*/
/*}*/

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
  background-color: #efefef;
  overflow: hidden;
  padding: 0.3em;
     -moz-box-shadow: 0 0 3px 1px #aaaaaa;
  -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
          box-shadow: 0 0 3px 1px #aaaaaa;
  margin: 0.1em 0 0 0;
  border: none;
}

.buttons input,
.buttons a {
  background-color: transparent;
  border: 0;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0;
  overflow: visible;
  padding: 0.25em 0.7em;
  text-decoration: none;

     -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
          border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
  background-color: #999999;
  color: #ffffff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.buttons .delete {
  background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
  background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
  background-image: url(../images/skin/database_save.png);
}

a.skip {
  position: absolute;
  left: -9999px;
}

/**********Display***********/
.imgDisplay{
  position: relative;
  padding-right: 30px;
}

.imgDisplay .pictureSection {
  border: 1px solid #e3d4b4;
  padding: 10px;
  background: #e6e0cd;
}

.imgDisplay .pictureSection .pic-large img {
  width: 100%;
  height: auto;
  border: 1px solid #e3d4b4;
}

.imgDisplay .pictureSection .pic-large .caption {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
  color: #8c707c;
  font-family: "Optima", sans-serif;
}

.imgDisplay .pictureSection .pic-thumbs {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.imgDisplay .pictureSection .pic-thumbs .item {
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.6;
}

.imgDisplay .pictureSection .pic-thumbs .item.active {
  opacity: 1.0;
}

.imgDisplay .pictureSection .pic-thumbs .item img {
  border: 1px solid #e3d4b4;
}


#commentArea {
  margin-left:20px;
  font-size:12px;
  padding:10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0 #e3d4b4;
  border:1px solid #E3D4B4;
}

.annotations .annotationsHead {
  font-weight:normal;
  font-size:14px;
  margin-bottom:3px;
}

.annotations .annotationsCreatedBy {
  font-size:11px;
  color: #99858F;
  margin-top:3px;
}

a span.textCommentAdd {
  color: #1891C1;
}

a:hover span.textCommentAdd {
  color: #C11839;
  text-decoration: none;
}

span.textCommentNum {
  vertical-align:super;
  font-size:11px;
  color: #1891C1;
}

.margin-bottom-10 {
  margin-bottom:10px;
}

/************* PUBLICATIONS CAROUSEL **************/
#pubs-section-carousel .owl-buttons {
  text-align: left;
}

#pubs-section-carousel .owl-buttons:after {
  clear: both;
}

#pubs-section-carousel .owl-buttons .owl-next {}

#pubs-section-carousel .item img {
  box-shadow: 0 0 2px 1px #aaa;
  margin: 5px;
  max-height: 170px;
}

.flags {
  margin-bottom: 5px;
}

.flags a.active {
  color: #000;
}

.flags span.link-faded {
  opacity: 0.5;
}
