/***
 *
 *        _
 *    ___| |__  ___
 *   / __| '_ \/ __|
 *  | (__| | | \__ \
 *   \___|_| |_|___/
 *
 *
 *   A Wordpress stylesheet building on the Orpheus design system
 *
 **/
/**
 * Variables and global styles
 */
:root {
  --primary-color: hsl(359, 56%, 30%);
  --secondary-color: #66023c;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.-hidden {
  display: none !important;
}

#wpadminbar .display-name {
  color: #fff;
}

.chsButton {
  color: #fff;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.chsButton.-accentButton {
  background: #762123;
}

.chsButton.-dropShadow {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

.headerExternalSiteMenuButton {
  padding-right: 20px;
  padding-top: 20px;
}

.posts {
  width: 90%;
  margin: 0 auto;
}

.avatarChip {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: cover;
  background-image: url("https://kleos.chs.harvard.edu/wp-content/uploads/2020/02/IMG_8122_v2.png");
  border: 1px solid #eee;
  margin-right: 20px;
}

body.logged-in.admin-bar .headerExternal {
  top: 0px;
}

section.featuredSection {
  padding: 10px 0 60px;
}

.archive section.volumesSection {
  padding-top: 2em;
  padding-bottom: 0;
}

.archive section.volumesSection .posts.-horizontalList {
  padding-bottom: 6em;
}

.sectionAlt {
  background: #f9f9f9;
}

.publicationSectionInner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em 0;
}

/**
 * Header
 */
.headerMenu {
  position: absolute;
  padding: 90px 0 60px;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.96);
  z-index: 1;
  max-height: 100vh;
  height: auto;
  overflow: hidden;
  display: none;
  box-shadow: #000 0px 0px 20px;
  transition: all 1s ease;
}

.headerLogo img {
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 5px;
  height: 24px;
}

header.-dark .headerLogo img {
  filter: grayscale(100) brightness(10);
}

header.-dark .headerLogo:hover img {
  filter: none;
}

.headroom--not-top .headerLogo img {
  filter: none;
}

header.-dark.headroom--not-top .headerLogo img {
  filter: none;
}

.-dark .headerExternalDefault a:hover {
  color: var(--secondary-color);
}

header.-menuVisible .headerMenu {
  display: block;
}

header.-menuVisible .headerExternalSiteArchiveTitle span {
  color: #fff;
}

header.-menuVisible .showMenuButton {
  display: none;
}

header.-menuVisible .hideMenuButton {
  display: block;
  color: #fff;
}

header .hideMenuButton {
  display: none;
  color: #fff;
}

header .showMenuButton {
  display: block;
}


.headerMenuInner {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.headerExternalNav, .headerExternalSite {
  position: relative;
  z-index: 2;
}

.headerExternalSiteMenuButton i {
  font-size: 26px;
}

.headerMenuColumns {
  display: flex;
  flex-wrap: wrap;
}

.headerMenuColumns ul {
  list-style: none;
  width: 25%;
}

.headerMenuColumns a {
  display: block;
  padding: 5px 0;
  font-size: 18px;
}

.headerExternalDefault .headerMenuColumns li a {
  font-size: 18px;
  color: #bebebe;
}

.headerExternalDefault .headerMenuColumns li h4 a {
  font-weight: bold;
  color: #fff;
}

.textsearchForm input {
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
}

.headerExternal {
  position: fixed;
}

.headerExternalSiteArchiveTitle {
  font-weight: bold;
}

.headerExternalDefault {}

.headerExternalDefault .headerExternalSite {
  margin-right: 0rem;
  padding-right: 0;
}

.headerExternal.headroom--not-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.home .headerExternal .headerExternalSiteArchiveTitle {
  display: none;
}

.headerExternalSiteLogo {
  padding-right: 0;
}

.headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  display: block;
}

.headerExternal.headroom--not-top a {
  color: #222;
}

.headerExternal.headroom--not-top.-dark .headerExternalButton svg {
  fill: #222;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.-showSearch.headroom--unpinned,
.-onSearchRoute.headroom--unpinned {
  transform: translateY(0%);
}

header.-showSearch {
  overflow: auto;
  height: 100vh;
}


.headerExternalNav .avatarChip {
  width: 30px;
  height: 30px;
  margin: 0;
}

.headerExternalNav a, .headerExternalNav button.-languageSelect {
  padding: 1rem 0;
}

.languageSelectImage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0;
  border: 2px solid #eee;
  background-image: url("/wp-content/themes/orpheus/static/images/us.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.languageSelectImage.-greek {
  background-image: url("/wp-content/themes/orpheus/static/images/greece.svg");
}

.headerExternalSecondaryNav a.languageOption {
  display: flex;
}

.headerExternalSecondaryNav a.languageOption .languageSelectImage {
  margin-right: 1em;
}

.headerExternalSecondaryNav {
  margin: 0;
  padding: 1em 0;
}

.headerExternalSecondaryNav a {
  padding: 1em;
  line-height: 1.3em;
}

.headerExternalSecondaryNav a:hover {
  color: #762123;
}

.-chs .-dark.headroom--top .headerExternalNav .headerExternalSecondaryNav a:hover {
  color: #762123;
}

.headerMenuToggleButton:hover .dropdownHeaderMenu {
  display: block;
}

.dropdownHeaderMenu {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  min-width: 150px;
  position: absolute;
  top: 60px;
  left: -80px;
  text-align: left;
  display: none;
  padding: 0;
}

.-chs .headerExternalNav a:hover {
  color: #762123;
}

.-chs .-dark.headroom--top .headerExternalNav a:hover {
  color: #fff;
}

/**
 * Footer
 */
footer, footer p {
  background: #333;
  color: #888;
  display: block;
  font-size: .75rem;
}

footer h3 {
  font-size: .9rem;
  font-weight: normal;
  color: #fff;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: #eee;
}

.footerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerColumn {
  width: 50%;
  margin: 3em;
}

.footerColumn.footerColumnBrand, .footerColumn.footerColumnCategories {
  width: 10%;
}

.footerColumn.footerColumnBrand {
  padding-top: 2em;
}

.subscribeForm {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #fff;
  max-width: 660px;
}

.subscribeForm input {
  background: #333;
  border: none;
  color: #fff;
  font-size: .8rem;
  padding-left: 0;
}

.subscribeForm input::placeholder {
  color: #fff;
}

.subscribeForm button {
  padding: 1.5em 2em;
  background: #666;
  color: #fff;
  width: 110px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 110px;
}

.footerMeta {
  font-size: .75rem;
  border-top: 1px solid #e1dad2;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
}

.socialLinks a {
  font-size: 1.5em;
  color: #fff;
}

/**
 * Menu
 */

.listMenu {

}

.listMenu ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 3em 0 0 0;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.listMenu li {
  line-height: 1.1em;
  padding: 0 1em;
  font-size: .9em;
  width: auto;
}

.listMenu li:first-child {
  padding-left: 0;
}

.listMenu li:last-child {
  padding-right: 0;
}

.listMenu li.active a,
.listMenu li.active a:hover {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.listMenu a {
  color: #979797;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-bottom: rgba(0, 0, 0, 0) solid 4px;
  padding: .75em 4px;
  transition: all 150ms ease;
}

.listMenu a:hover,
.readmore a:hover,
.tease a:hover {
  color: var(--secondary-color);
}

.-volumesMenu {
  background-color: #f9f9f9;
}

.-volumesMenu h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: .75em 4px;
  margin: 0;
  color: #444;
}

.-volumesMenu ul {
  padding-top: 0;
  padding-bottom: 40px;
}

.-volumesMenu li {
  line-height: 1.1em;
  padding: 2em 2em 0 0;
  font-size: .8em;
}

/**
 * Cover component
 */
.cover {
  min-height: 80vh;
}

.chsCover .coverBackgroundGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(30%, rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
}

.chsCover .coverContent {
  max-width: 1200px;
  color: #fff;
}

.chsCover .coverContent a {
  border-bottom: none;
  text-decoration: none;
}

.chsCover .coverContent p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.chsCover .coverContent h1 {
  margin: 20px 0;
  color: #fff;
  font-size: 50px;
}

.chsCover .coverContent h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  margin: 0;
  padding: 0 10px;
}

.coverCaption {
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-style: italic;
  z-index: 1;
}

.coverCaption span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.coverReadMoreButton {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.coverReadMoreButton:hover {
  transform: scale(.99);
}

.coverReadMoreButton:active {
  transform: scale(.97);
}

.coverReadMoreButton i {
  padding-left: 15px;
  font-size: 22px;
}

.chsButton.coverReadMoreButton {
  padding-left: 1em;
  margin-left: 0;
}

.chsButton.coverReadMoreButton span {
  color: #fff;
}

.single .chsCover .coverBackground {
  filter: blur(2px);
}

.chsCover .postMeta,
.chsCover .postMeta span,
.chsCover .postMeta .postDate,
.chsCover .postMeta a {
  color: #fff;
}

.chsCover .postMeta .postDate {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 3px;
}

.chsCover .postMeta .category {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.chsCover .postMeta .category:hover {
  color: rgba(255, 255, 255, 1);
}

.spacer {
  padding: 0 1em;
  color: rgba(255, 255, 255, 0.6);
}

.coverShareLinks {
  position: absolute;
  bottom: 1em;
  right: 6%;
  left: auto;
  min-width: 220px;
  position: absolute;
  width: 26vw;
  max-width: 380px;
  color: #fff;
  z-index: 1;
}

.coverShareLinks a {
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  /* border: 2px solid rgba(255, 255, 255, 0.9); */
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: inline-block;
}

.coverShareLinks i::before {
  font-size: 24px;
}

/**
 * Post Lists and Teasers
 */
.posts.-horizontalList {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

.posts.-horizontalList .tease {
  width: 31%;
}

.-horizontalList.-horizontalScroll {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: none;
  padding: 30px 0;
  flex-wrap: nowrap;
}

.-horizontalList.-horizontalScroll .tease.-teaseVertical {
  width: 90%;
  max-width: 40em;
  min-width: 25em;
  padding: 1em;
}

.-horizontalList.-horizontalScroll .tease.-teaseVertical:first-child {
  margin-left: 5%;
}

.tease p {
  word-break: break-word;
}

.tease .teaseImageOuter {
  overflow: hidden;
  border: 1px solid #eee;
}

.teaseImageOuter.-teaseImageOuterPlaceholder {
  border: none;
}

.tease .teaseImage {
  background-size: cover;
  background-position: center;
  filter: brightness(.8);
  transition: all 300ms ease-in-out;
}

.tease:hover .teaseImage {
  filter: brightness(1);
  transform: scale(1.01);
}

.tease.-teaseVertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  white-space: normal;
}

.-teaseVertical p {
  font-size: 14px;
  word-wrap: break-word;
  margin: 20px 0 30px;
  color: #666;
  line-height: 1.7em;
}

.-teaseVertical .h2 {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: 1.1px;
  margin-top: 0;
  text-align: left;
}

.-teaseVertical .tease-body {
  width: 100%;
}

.-teaseVertical .h2 a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.-teaseVertical .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
}

.-teaseVertical .postMeta .byline {
  font-weight: 700;
  color: #762123;
}

.-teaseVertical .teaseImageOuter {
  display: block;
  margin-bottom: 2em;
}

.-teaseVertical .teaseImageOuter,
.-teaseVertical .teaseImage {
  width: 100%;
  height: 240px;
}

.-teaseVertical .readMore {
  font-size: 13px;
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

/* vertical list of horizontal tease cards styles */
.posts.-verticalList {
  max-width: 1180px;
}

.-teaseHorizontal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2em 0;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  padding-bottom: 1.75em;
}

.-teaseHorizontal .h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.45em;
  letter-spacing: 1.5px;
  margin-left: 0;
  margin: 5px 0;
}

.-teaseHorizontal .h2 a {
  text-decoration: none;
  color: #222;
}

.-teaseHorizontal p {
  font-size: 15px;
  word-wrap: break-word;
  line-height: 1.75em;
  color: #444;
  letter-spacing: normal;
}

.-teaseHorizontal .postCategory {
  font-size: 12px;
  text-transform: uppercase;
}

.-teaseHorizontal .postCategory a {
  text-decoration: none;
}

.siteCategory {
  font-weight: bold;
  font-size: 14px;
  margin-right: 0.5em;
}

.siteCategory.-classicalInquiries {
  color: #bd4621;
}
.siteCategory.-kleos {
  color: #3b39a5;
}
.siteCategory.-kosmos {
  color: #19541b;
}
.siteCategory.-researchBulletin {
  color: #880000;
}

.-teaseNoImage {
  padding-top: 3em;
}

.-teaseHorizontal .teaseImageOuter,
.-teaseHorizontal .teaseImage {
  width: 36%;
  height: 320px;
  margin: 1em 2em;
}

.-teaseHorizontal .teaseImage {
  width: 100%;
  margin: 0;
}

.-teaseHorizontal .teaseImageOuter {
  display: block;
}

.-teaseHorizontal .postMeta {
  width: 15%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1em 0;
  font-size: 14px;
  color: #666;
}

.-teaseHorizontal .postMeta span {
  display: block;
  width: 100%;
  text-align: right;
}

.-teaseHorizontal .postDate {
  text-transform: uppercase;
}

.-teaseHorizontal .postText {
  width: 40%;
  padding: 1em 0;
  color: #444;
}

.-teaseHorizontal.-teaseCondensed .postText {
  width: 60%;
}

.-teaseNoImage.-teaseHorizontal .postText {
  width: 90%;
}

.-teaseNoImage.-teaseHorizontal .postText h2,
.-teaseNoImage.-teaseHorizontal .postText p
{
  max-width: 820px;
}

.-teaseHorizontal.-teaseCondensed .teaseImageOuter {
  margin-left: 0;
}

.-teaseHorizontal .readMore {
  font-size: 13px;
  color: #222;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.-teaseHorizontal .teaseLinks {
  display: flex;
}

.-teaseHorizontal .teaseLinks .readMore {
  margin-right: 2em;
  display: flex;
  align-items: center;
}

.-teaseHorizontal .teaseLinks i::before {
  font-size: 20px;
}

.-publicationsHeader {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 82%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.-publicationsHeader h3 {
  font-size: .9em;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-weight: bold;
  color: #979797;
  margin: 0;
}

.-publicationsHeader a {
  font-size: .9em;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #979797;
}

.posts.-horizontalList.-publicationsList {
  background-color: #f9f9f9;
  overflow-x: scroll;
  background-color: #f9f9f9;
  margin: 0;
  width: 100%;

}

.volume-section {
  background-color: #f9f9f9;
}

.tease.-teaseVertical.-teasePublication {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  width: 30%;
  min-width: 15em;
  margin-right: 2em;
}

.tease.-teaseVertical.-teasePublication:first-child {
  margin-left: 7em;
}

.tease.-teaseVertical.-teasePublication .teaseImageOuter {
  padding-bottom: 2em;
  border-bottom: 2.25px solid #333;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 2em;
}

.tease.-teaseVertical.-teasePublication .teaseImage,
.tease.-teaseVertical.-teasePublication .teaseImageOuter {
  height: 360px;
}

.tease.-teaseVertical.-teasePublication hr {
  max-width: 120px;
  height: 4px;
  background: #222;
  border: none;
  outline: none;
  margin: 10px auto 30px;
}

.tease.-teaseVertical.-teasePublication h2 {
  font-size: 14px;

}

.tease.-teaseVertical.-teasePublication p {
}

.tease.-teaseVertical.-teasePublication .postMeta {
}

.tease.-teaseVertical.-teasePublication .readMore {
  margin-bottom: 24px;
}

.horizontalList.horizontalListAlt {
  background-color: #f9f9f9:
}

.tease.-teaseVertical.-teaseCondensed {
  width: 22%;
  justify-content: space-between;
  align-content: flex-start;
}

.tease.-teaseVertical.-teaseCondensed h2 a {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.tease.-teaseVertical.-teaseCondensed p {
  font-size: 16px;
  font-family: "Noto Sans Light", sans-serif;
  margin: 15px 0 20px;
}

.tease.-teaseVertical.-teaseCondensed .postMeta {
  font-size: .7em;
}

.tease.-teaseVertical.-teaseCondensed img {
  display: none;
}

/**
 * Pages
 */
.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;
  word-wrap: break-word;
}

.article-body .postContentInner ul,
.article-body .postContentInner ol {
  width: 90%;
  max-width: 720px;
  word-wrap: break-word;
  text-align: left;
  margin:  0 auto;
}

.postContentInner.-withSidebar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.page .cover {
  min-height: 20vh;
}

.cover .titleOverline {
  margin: 0.5em 0;
  width: 120px;
  opacity: 0.5;
  display: none;
}

.articleContent {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: 500px;
  width: 90%;
}

.articleContent.-articleContentWithSidebar {
  max-width: none;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.contentMain {
  width: 100%;
  padding-left: 40%;
  padding-right: 4em;
  padding-bottom: 6em;
}

.page hr.postContentDivider {
  height: 3px;
  border: none;
  border-radius: 2px;
  background: #ddd;
  width: 66%;
  max-width: 220px;
}

/**
 *  Posts
 */
.articleBody {
  padding-bottom: 3em;
}

.postHead h1, .postHead h2.byline, .postHead h3 {
  margin: 0.3em auto 1em;
  max-width: 730px;
  width: 90%;
}

.postContentInner {
  text-align: center;
}

.postContentInner p {
  max-width: 720px;
  margin: 24px auto;
  text-align: left;
  font-size: 19px;
  font-family: "Cardo", serif;
  font-weight: 100;
  line-height: 1.7em;
}

.postContentInner figure {
  margin: 20px auto;
}

.postContentInner h1, h2, h3, h4, h5 {
  max-width: 730px;
  margin: 20px auto;
  text-align: left;
}

.postContentInner h1 {
  margin: 60px auto 30px;
  font-size: 42px;
}

.postContentInner h2 {
  margin: 50px auto 25px;
  font-size: 36px;
}

.postContentInner h3 {
  margin: 30px auto 15px;
  font-size: 28px;
}

.postContentInner h4 {
  margin: 20px auto 10px;
  font-size: 22px;
}

.postContentInner hr {
  max-width: 220px;
  width: 90%;
  margin: 20px auto;
}

/** Catch edge cases with Wordpress pluins that embed custom html
 * in posts */
#main > span, #main > div {
  max-width: 720px;
}


.articleH1 {
  font-size: 50px;
  text-align: center;
  max-width: 840px;
  margin: 90px auto;
  line-height: 1.3em;
}

.articleByline {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleByline {
  font-family: "Cardo", serif;
  font-size: 18px;
  line-height: 1.7em;
}

.postHeadLinks {
  text-align: center;
}

.postHeadLinks a {
  padding: 10px;
  text-decoration: none;
}

.postHeadLinks a:hover {
  color: var(--primary-color));
}

.postHeadLinks i {
  font-size: 20px;
}

.postCitation {
  margin: 60px auto;
}

.postCitation p {
  font-family: "Noto Sans Light", sans-serif;
  font-size: 16px;
  max-width: 720px;
  text-align: left;
}

.postCitation p label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  display: inline;
}

.moreFromOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 6em;
}

.moreFrom {
  text-align: center;
  margin: 0 1em;
}

.-moreFromText {
  text-transform: lowercase;
  font-size: 1.6em;
  color: #999;
}

.moreFrom a {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 20px 30px;
  margin: 20px auto;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  color: #444;
  background: #eee;
  transition: all 150ms ease;
}

.moreFrom a:hover {
  transform: scale(.99);
  background: var(--primary-color);
  color: #fff;
}

.moreFrom a:active {
  transform: scale(.97);
}

.moreFrom.-accent a {
  background: var(--primary-color);
  color: #fff;
}

.single .cover h1 {
  font-size: 2.8em;
  line-height: 1.24em;
  max-width: 820px;
}


.post .wp-block-image {
  max-width: none;
  margin: 4em 0;
}

.post .wp-block-image img {
  width: 100%;
  height: 40em;
  object-fit: contain;
  display: block;
}

.post figcaption {
  width: 66%;
  margin: 10px auto;
  font-size: 14px;
}

.postMetaRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
}

.cover .postMetaRow {
  color: #fff;
}

.postMetaRow .articleByline {
  margin: 0;
}

.postMetaRow .articleByline {
  font-size: 28px;
}

.cover .postHeadLinks {
  padding: 1em 0 2em;
  text-align: left;
}

.cover .postHeadLinks a:first-child {
  padding-left: 0;
}

.cover .postHeadLinks a:hover {
  color: #762123;
}

/**
 * Post blog
 */
.post.-blog .sidebar {
  padding-top: 1em;
  padding-right: 1em;
}

.post.-blog .contentMain {
  width: 100vw;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 0 6rem;
}

.post.-blog .postContentInner.-withSidebar {
  padding: 0 6em;
}

.post.-blog .contentMain .postMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  flex-wrap: wrap;
  max-width: 720px;
}

.post.-blog .categories {
  margin-right: 1em;
}

.post.-blog .contentMain .articleByline {
  flex-wrap: wrap;
}

.post.-blog .postDate {
  font-size: 14px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
}

.post.-blog .tease .postDate {
  font-size: 12px;
}

.post.-blog .contentMain .articleByline {
  margin: 20px 0;
}

.post.-blog .postMetaLeft {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.post.-blog .avatarChip {
  margin: 0 0 0 20px;
}

.post.-blog .postHeadLinks {
  text-align: left;
}

.post.-blog .postHeadLinks a:first-child {
  padding-left: 0;
}

.post.-blog .postCitation {
  margin: 1em 0;
}

.post.-blog .contentMain hr {
  max-width: 220px;
  width: 90%;
  margin: 1em 0 3em;
}

.post.-blog .contentMain hr.wp-block-separator {
  margin: 3em 0;
}

.post.-blog .contentMain p {
  margin: 24px 0;
}

.post.-blog .contentMain h1, h2, h3, h4, h5 {
  margin: 20px 0;
}

.post.-blog .contentMain h1, h2, h3, h4, h5 {
  margin: 20px 0;
}

.post.-blog .contentMain h1 {
  margin: 60px 0 30px;
}

.post.-blog .contentMain h2 {
  margin: 50px 0 25px;
}

.post.-blog .contentMain h3 {
  margin: 30px 0 15px;
}

.post.-blog .contentMain h4 {
  margin: 20px 0 10px;
}

.post.-blog .postContentInner figure {
  margin: 2em 0;
  max-width: 720px;
}

.post.-blog .postContentInner figure.aligncenter {
  margin: 2em auto;
}

.post.-blog .postContentInner figure img {
  width: 66%;
  margin: 1em auto;
  display: block;
}

.pea_cook_wrapper .pea_cook_topcenter {
  bottom: 30px !important;
  top: auto !important;
  color: #fff;
}

.pea_cook_wrapper .pea_cook_topcenter p {
  color: #fff;
}

.contentMain .catsTags {
  text-align: left;
}

.contentMain .catsTags .categories,
.contentMain .catsTags .tags {
  margin: 1em 0;
  text-align: left;
  flex-wrap: wrap;
  max-width: 720px;
}

.contentMain .catsTags .category {
  font-weight: bold;
  font-size: 16px;
}

.contentMain .catsTags .tag {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.contentMain .catsTags .tag {
  font-weight: 300;
  font-size: 16px;
  color: #444;
  padding-right: 0;
  margin-right: 0;
}

.contentMain .catsTags .tag:hover {
  color: #762123;
}

/**
 * Comments
 */
.comments {
  margin: 3em 0;
}

/**
 * Sidebar
 */
.sidebar {
  width: 100%;
  padding: 3em 0;
  max-width: 420px;
  left: 5%;
  padding-right: 5em;
  position: absolute;
  min-width: 420px;
}

.postContentInner h4.sidebarTitle {
  font-size: 14px;
  color: #444;
  width: 100%;
  max-width: 420px;
}

.sidebar .posts {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar .tease {
  padding: 0.9em 0;
}

.sidebar .tease.-teaseVertical.-teaseCondensed {
  width: 100%;
}

.sidebar .tease.-teaseVertical.-teaseCondensed .postMeta {
  text-align: left;
}

.sidebar .tease .readMore {
  display: none;
}

#sidebar-sticky-wrapper #sidebar {
  max-width: 420px;
  width: 100%;
  left: 5%;
}

.post.-blog #sidebar-sticky-wrapper #sidebar {
  right: 6%;
  left: auto;
  min-width: 220px;
  position: absolute;
  width: 26vw !important;
  max-width: 380px;
}

.sidebar .tease.-teaseVertical.-teaseCondensed h2 {
  text-align: left;
}

/**
 * Archive
 */
.archive.archiveLayout {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.archiveLayout main {
  padding: 5em 3em 5em 3em;
  width: 68vw;
}

.archiveContent .posts {
  width: 100%;
}

.archiveLayout .archiveSidebar {
  padding-top: 3em;
}

.archiveLayout .archiveSidebar #sidebar {
  position: relative;
  min-width: 220px;
  position: absolute;
  width: 100vw;
  max-width: 420px;
}

.archiveLayout .archiveSidebar #sidebar-sticky-wrapper #sidebar {
  right: 0;
  left: auto;
  min-width: 220px;
  position: absolute;
  width: 33vw !important;
  max-width: 420px;
}

.categoryHero {
  margin: 2em 0;
  position: relative;
  display: block;
  height: 30em;
  width: 100%;
  overflow: hidden;
}

.categoryHeroBackground {
  height: 30em;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 100ms ease-in-out;
  filter: brightness(.9);
}

.categoryHeroGradient {
  position: absolute;
  height: 30em;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(50%, rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
  transition: all 100ms ease-in-out;
}

.categoryHero:hover .categoryHeroBackground {
  filter: brightness(1);
  transform: scale(1.01);
}

.categoryHero:hover .categoryHeroGradient {
  opacity: 0.8;
}

.categoryHero .categoryHeroContent {
  position: absolute;
  height: 30em;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.categoryHeroContent .h2 {
  color: #fff;
  font-size: 36px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-shadow: 0 0 4px #222;
}

.categoryHeroContent .postMeta {
  font-size: 16px;
  width: 100%;
}

.categoryHeroContent .postMeta span,
.categoryHeroContent .postMeta a {
  color: #fff;
}

.tease.-teaseHorizontal.-teaseCondensed .postMeta {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.tease.-teaseHorizontal.-teaseCondensed .postMeta span {
  display: inline;
  text-align: left;
  width: auto;
  color: #666;
}

.postMetaDivider {
  padding: 0 1em;
}

.archiveLayoutSearch.archiveLayout main {
  padding: 5em 0;
  width: 90%;
  margin: 0 auto;
}

.resultsCount {
  font-style: italic;
  font-size: 42px;
  color: #999;
}

.searchHead {
  margin: 0 0 3em 0;
}

.searchHeadInput {
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 22px;
  padding: 1em;
}

/**
 * Pagination
 */
.pagination {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.pagination li {
  margin: 5px;
  background: #eee;
}

.pagination li.current {
  background: transparent;
  color: #fff;
}

.pagination li.disabled {
  display: none;
}

.pagination li span, .pagination li a, .pagination li button {
  padding: 10px 15px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li i {
  color: #762123;
}

.pagination li.first i,
.pagination li.prev i {
  margin-right: 5px;
}

.pagination li.next i,
.pagination li.last i {
  margin-left: 5px;
}

.pagination li a:hover {
  background: #762123;
  color: #fff;
}

.pagination li a:hover i {
  color: #fff;
}


/**
 * Redesign notification
 */
.redesignFeedback {
  width: 320px;
  border-radius: 40px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: right;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 100ms ease-in-out;
}

.redesignFeedback:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.redesignFeedback span {
  padding: 8px 6em 8px 1em;
  display: block;
  line-height: 1.5em;
}

/**
 * Annotations custom
 */

#Annotations {
}

.annotationsLoadingMessage {
  width: 100vw;
  margin: 0 auto;
  padding: 2em 6em;
  color: #999;
}

.loadingGrid {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
  padding: 2em 0;
}


/**
 * Responsive
 */

@media (max-width: 1300px) {
  .postContentInner.-withSidebar {
    justify-content: flex-start;
  }
  .post.-blog .contentMain {
    width: 52vw;
    margin: 0;
  }

  .archiveLayout main {
    padding: 5em 3em 5em 3em;
    width: 64vw;
  }
}

@media (max-width: 1100px) {
  .posts.-horizontalList {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .posts.-horizontalList .tease {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: 15px auto;
  }

  .post.-blog .contentMain {
    width: 46vw;
    margin: 0;
  }

  .single .cover {
    flex-wrap: wrap;
  }
  .coverShareLinks {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: auto;
  }
  .cover .postHeadLinks {
    padding-bottom: 0;
  }

  .-teaseVertical .h2 {
    text-align: left;
  }
  .-horizontalList.-horizontalScroll .tease.-teaseVertical:first-child {
    margin: 15px auto;
  }
}

@media (max-width: 990px) {
  .headerMenu {
    overflow-y: scroll;
  }

  .headerMenuColumns ul {
    width: 33%;
  }

  .post .sidebar {
    position: relative;
    padding-right: 0;
    width: 90%;
    margin: 0;
  }

  .post .postContentInner.-withSidebar {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .post.-blog .contentMain  {
    padding-bottom: 0em;
  }

  .sidebar {
    left: 5%;
  }

  .archiveSidebar {
    display: none;
  }

  .contentMain {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .post.-blog .contentMain {
    width: 90%;
    margin: 0 auto;
  }

  .archiveLayout main {
    padding: 5em 0;
    width: 90%;
    margin: 0 auto;
  }

  .post.-blog .postContentInner.-withSidebar {
    padding: 0;
  }

  .footerRow {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footerColumn, .footerColumn.footerColumnBrand, .footerColumn.footerColumnCategories {
    width: 100%;
    padding: 1em 3em;
    margin: 0 auto;
  }

  .footerColumnBrand img {
    max-width: 180px;
    padding-top: 3em;
  }

  .footerColumnSubscribe {
    padding-bottom: 3em;
  }

  .footerCopyright, .footerLinks {
    display: block;
    width: 100%;
    padding: 0.5em 0;
  }

  .footerLinks li  {
    padding: 0.5em 2em 0.5em 0;
  }

  .-teaseHorizontal {
    flex-wrap: wrap;
  }

  .-teaseHorizontal .postText,
  .-teaseHorizontal.-teaseCondensed .postText {
    width: 100%;
  }

  .-teaseHorizontal .teaseImageOuter,
  .-teaseHorizontal.-teaseCondensed .teaseImageOuter {
    width: 100%;
    height: 240px;
    margin: 1em auto;
  }
}

@media (max-width: 560px) {
  .-teaseHorizontal .h2 {
    font-size: 22px;
  }

  .redesignFeedback {
    height: 54px;
    bottom: 14px;
    right: 14px;
  }

  .headerMenuColumns ul {
    width: 100%;
  }
}

@media (max-height: 560px) {
  .redesignFeedback {
    height: 54px;
    bottom: 14px;
    right: 14px;
  }
}
