.-oralTradition section a {
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

.-oralTradition section a:hover {
  text-decoration: underline;
}

.-oralTradition .cover {
  min-height: 20vh;
  padding: 7rem 11rem 5rem;
}

.-oralTradition .coverContent h1 {
  font-size: 42px;
}

.-oralTradition .chsCover .coverContent h2 {
  padding: 0;
}

.-oralTradition .coverBackgroundGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(30%, rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.archiveSubtitle {
  font-size: 16px;
}

.headerExternal {
  position: fixed;
}

.headerExternalSiteArchiveTitle {
  font-weight: bold;
}

.headerExternalDefault {}

.headerExternalDefault .headerExternalSite {
  margin-right: 0rem;
  padding-right: 0;
}

.headerExternal.headroom--not-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.home .headerExternal .headerExternalSiteArchiveTitle {
  display: none;
}

.headerExternalSiteLogo {
  padding-right: 0;
}

.headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  display: block;
}

.headerExternal.headroom--not-top a {
  color: #222;
}

.headerExternal.headroom--not-top.-dark .headerExternalButton svg {
  fill: #222;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.-showSearch.headroom--unpinned,
.-onSearchRoute.headroom--unpinned {
  transform: translateY(0%);
}

header.-showSearch {
  overflow: auto;
  height: 100vh;
}

.archive .recentIssueArticles {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 11em;
}

.articleTeasers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleTeaser {
  width: 42%;
  max-width: 520px;
  padding: 2rem 0;
  text-align: left;
}

.articleTeaser h4,
.postContentInner .articleTeaser h4 {
  font-family: "Cardo", serif !important;
  font-size: 24px;
  margin: 0.5rem auto;
}

.articleTeaser p {
  color: #666;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
  font-weight: normal;
}

.articleTeaser p.articleTeaserAuthor {
  font-style: italic;
  color: #666;
  font-size: 16px;
  font-family: "Cardo", serif !important;
}

.readMoreButton {
  margin-top: 20px;
  padding: 15px 20px;
  border: 4px solid #eee;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}

.readMoreButton:hover {
  border: 4px solid #66023c;
  background: #66023c;
  color: #fff;
}

.CollectionCardTitle {
  padding: 15px 0 0px;
  font-family: "Cardo", serif !important;
  font-size: 26px;
  color: #222 !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
  margin: 5px 0 !important;
  max-height: none;
  overflow: hidden;
  position: relative;
}

.-oralTradition section .CollectionCard a:hover {
  text-decoration: none;
}

.page .cover {
  min-height: 20vh;
}

.article-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10rem 0 5rem;
  min-height: 500px;
  width: 90%;
}

.article-content .postHead {
  padding-top: 1em;
  text-align: left;
}

.archive .postHead .article-h1, .-issue .postHead .article-h1 {
  text-align: left;
  margin: 2rem 0;
}

.archive .postHead .article-h1 {
  font-size: 60px;
}

.post .postHead .article-h1 {
  font-size: 42px;
}

.postHeadLinks {
  display: flex;
  justify-content: flex-start;
  margin: 0.3em auto 1em;
  max-width: 730px;
  width: 90%;
}

.postHeadLinks a i {
  margin-left: 3px;
}

.postHeadLinks a:first-child {
  margin-left: 0;
  padding-left: 0;
}

.archive .postHeadLinks, .-issue .postHeadLinks {
  margin: 1rem 0;
}

.issueSection .articleTeasers {
  justify-content: flex-start;
}

.issueSection .articleTeaser {
  padding: 0.5rem 4rem 1rem 0;
  width: 50%;
}

.-oralTradition .articleTeaser {
  max-width: 520px;
  min-width: 320px;
}

.-oralTradition .articleTeaser p.articleTeaserAuthor {
  font-size: 1.2rem;
}

.-oralTradition .articleTeaser p {
  font-size: 1rem;
}

.issueSection label {
  color: #66023c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: left;
  padding: 1.5rem 0 0.5rem;
}

.postHeadLinks {
  padding: 20px 0;
}

.-oralTradition .postHeadLinks a {
  color: #444;
  margin-right: 20px;
}

.-oralTradition .eCompanion-link {
  font-size: 12px;
  color: #66023c;
}

.eCompanion-link em {
  font-style: italic;
  padding-right: 5px;
}

.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;
}

.ecompanion-post {
  padding-bottom: 90px;
}

.archiveContactDetails p {
  padding: 0;
  margin: 0;
}

.CollectionCardMeta {
  font-weight: 300;
  font-size: 14px;
}

.referenceText {
  text-align: center;
  width: 90%;
  margin: 5px auto;
}

.referenceText p {
  font-size: 14px;
  padding: 20px 0 90px;
}

.referenceText a {
  color: #222;
}

.archiveLink {
  position: relative;
}

.archiveLinkHelpText {
  display: none;
}

.archiveLink:hover .archiveLinkHelpText {
  display: block;
  position: absolute;
  bottom: 30px;
  width: 240px;
  margin-left: -120px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  left: 50%;
}

.facetedCards.staticBackup .filterPanelSummary [role=button],
.facetedCards.staticBackup .filterQueryInput,
.facetedCards.staticBackup .filterPanelDetails,
.facetedCards.staticBackup .filterPanelMore {
  display: none;
}

.card.-media:hover {
  text-decoration: none;
}

.card {
  text-align: left;
}

.page .archiveSectionTitle,
.page .list-info {
  max-width: 1100px;
  margin: 0 auto !important;
  padding: 0;
  width: 90%;
}

.page .list-info {
  padding-bottom: 10px;
}

.page .archiveSectionTitle {
  display: block;
}

.page .itemsCountTitle {
  padding: 0;
}

.page .viewAllButton {
  padding: 0;
  margin-right: 0 !important;
}

h2.byline {
  font-family: "Cardo", serif !important;
  font-size: 24px;
  color: #444;
  font-style: italic;
  font-weight: 100;
  margin: 36px 0;
}

.longDescription {
  display: none;
}

.-oralTradition .archiveTitle {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Liberation Sans, Noto, sans-serif;
  font-weight: 900;
  letter-spacing: -.1rem;
  line-height: 1;
}

.postContentInner h2 {
  max-width: 750px;
  width: 90%;
}

.postContentInner audio,
.postContentInner video {
  max-width: 720px;
}

.postContentInner blockquote p {
  padding: 0 1rem;
}

.postContentInner td {
  padding: 1rem;
}

.postContentInner hr, .wp-block-separator, .wp-block-separator.is-style-wide {
  max-width: 320px;
  width: 66%;
  margin: 50px auto;
}

em {
  font-style: italic;
}

.article-body .postContentInner ul.blocks-gallery-grid,
.article-body .postContentInner ol.blocks-gallery-grid {
  max-width: none;
  padding: 1rem 0;
}

.featureButton {
  background: #66023c;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
}

.featureButton a {
  color: #fff;
}

.headerExternalDefault .featureButton a {
  color: #fff;
}

.headerExternal.headroom--not-top .featureButton a {
  color: #fff;
}

.headerExternalDefault .featureButton a {
  color: #fff;
}

.featureButton:hover {
  background: #944e77;
}

.featureButton.featureButtonLarge {
  padding: 0px 20px;
  height: 60px;
  font-size: 15px;
}

.headerExternalNav li.featureButton {
  height: 40px;
}

.-oralTradition .archiveFeatureBlockContent {
  height: 22rem;
}

.archiveFeatureBlockLower h3, .archiveFeatureBlockLower label, .archiveFeatureBlockLower span, .archiveFeatureBlockUpper h3, .archiveFeatureBlockUpper label, .archiveFeatureBlockUpper span {
  color: #fff;
}

.archiveFeatureBlockLower h3, .archiveFeatureBlockUpper h3 {
  margin: 0.5em auto;
  text-align: center;
}

.headerExternalSiteArchiveTitle {
  margin-left: 4px;
}

.page .article-content {
  padding: 3em 0;
  text-align: left;
}

.boardMembers {
  max-width: 750px;
  margin: 0 auto;
}

#IssuesView {
  padding: 0 11rem;
  max-width: 1400px;
  margin: 0 auto;
}

.home #IssuesView {
  max-width: none;
}

#IssuesView .facetedCards {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.-oralTradition .facetedCards .facetedCardsContent {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.-oralTradition .filters {
  padding-left: 1rem;
}

.page.page-id-10692 .article-content {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: none;
}

.page.page-id-10692 .article-content .article-h1 {
  margin: 3rem auto 2rem;
  padding: 0 11rem;
  width: 100%;
  max-width: 1300px;
}

p.has-text-align-right {
  text-align: right;
}

.facetedCardsContentCards .card {
  margin: 0;
}

@media (min-width: 1000px) {
  .cover {
    padding: 8rem 6rem 5rem;
  }
}

@media (max-width: 990px) {
  .articleTeaser {
    width: 100%;
    padding: 10px 0;
  }

  .articleTeasers {
    justify-content: flex-start;
  }

  .facetedCards {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 1100px;
    padding: 0;
  }

  .archive .recentIssueArticles {
    padding: 0;
  }

  .archive .recentIssueArticles .articleTeasers {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .-oralTradition .cover {
    padding: 5rem 0 3rem;
  }

  .-oralTradition .cover .coverContent {
    width: 90%;
    margin: 0 auto;
  }

  #IssuesView {
    padding: 0;
  }

  #IssuesView .facetedCards {
    width: 90%;
  }

  .page.page-id-10692 .article-content .article-h1 {
    margin: 3rem auto 2rem;
    padding: 0;
    max-width: 1200px;
    width: 90%;
  }

  .-oralTradition .articleTeaser {
    margin: 1.2rem 0;
    padding: 0 2rem 0 0;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footerCopyright, .footerLinks {

  }
}

@media (max-width: 640px) {
  .-oralTradition .articleTeaser {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 420px) {
  .-oralTradition .articleTeaser {
    min-width: none;
    width: 100%;
  }
}
