@import 'orpheus-styles/src/scss/variables.scss';

.headerInternal {
	left: 0;
	position: absolute;
	top: 0;
	min-width: 100%;
	z-index: 100;

	&::after {
		background-color: rgba($color_grey_500, 0.3);
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
	}
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar {
		display: none;
	}

}

.headerInternalWrapper {
	// height: 250px;
	width: 100%;
	overflow-x: scroll;
	// position: absolute; // by not defining the height and position here,
	// we can better match the Item detail view
	&::-webkit-scrollbar {
		display: none;
	}
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.headerInternalDefault, .headerInternalSelection {
	color: $black;
	height: 50px;
	@include breakpoint3 {
		height: 60px;
	}

	.-dark & {
		color: $white;
		input {
			color: $white;
		}
	}
}

.headerInternalDefault {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;

	&::-webkit-scrollbar {
		display: none;
	}

	.-showSelectionHeader & {
		display: none;
	}

	a {
		color: $black;
		opacity: 0.85;
		text-decoration: none;
		transition: opacity 0.2s;

		.-dark & {
			color: $white;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.headerInternalScrollHint {
	height: 100%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 30px;
	top: 0;
	transition: opacity 0.5s;
	z-index: 10;
}

.headerInternalScrollHintLeft {
	background: linear-gradient(to right, rgba($black, 0.15), rgba($black, 0));
	left: 0;
	&.-show {
		opacity: 1;
	}
}

.headerInternalScrollHintRight {
	background: linear-gradient(to right, rgba($black, 0), rgba($black, 0.15));
	right: 0;
	&.-show {
		opacity: 1;
	}
}

.headerInternalSite {
	align-items: center;
	display: none;
	white-space: nowrap;
	@include breakpoint3 {
		display: flex;
		padding: 1rem 1.5rem 1rem 1rem;
	}
	@include breakpoint4 {
		margin-left: 1rem;
		padding: 1rem 2rem 1rem 1rem;
	}
	svg {
		fill: $black;
		height: 1.2rem;
		width: 1.2rem;

		.-dark & {
			fill: $white;
		}
	}

	.orpheusLogo {
		margin-right: 1rem;
	}
}

.headerInternalSiteLogo {
	align-items: center;
	border-right: 1px solid rgba($color_grey_500, 0.5);
	display: flex;
	margin-right: 1rem;
}

.headerInternalSiteArchiveTitle {
	padding: 10px 0;
}

.headerInternalSearch {
	align-items: center;
	display: flex;
	position: relative;
	width: 100%;

	svg {
		height: 1.5rem;
		left: 10px;
		opacity: 0.5;
		pointer-events: none;
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		@include breakpoint3 {
			left: 20px;
		}
	}

	input[type="search"] {
		background: none;
		border: none;
		height: 100%;
		margin-bottom: 0;
		min-width: 18rem;
		padding-bottom: 1rem;
		padding-left: 40px;
		padding-top: 1rem;
		@include breakpoint3 {
			padding-left: 50px;
		}

		&:focus {
			outline: none;
		}
	}
}

.headerInternalNav {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 0.3rem 0 0;

	@include breakpoint4 {
		margin-right: 1rem;
	}

	li {
		align-items: center;
		display: flex;
		height: 100%;
		margin: 0 0.2rem;
		position: relative;
		&.-active {
			&::before {
				background-color: $color_grey_800;
				bottom: 0;
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
		&.headerInternalNavLinkHideOnMobile {
			display: none;
			@include breakpoint1 {
				display: block;
			}
		}
		@include breakpoint3 {
			margin: 0 0.5rem;
		}
	}

	a, button {
		font-weight: 400;
		padding: 1rem 0.5rem;
	}

	button {
		&:focus {
			outline: none;
		}
	}
}

.headerInternalSecondaryNav {
	min-width: 150px;
	ul {
		padding-bottom: 0;
		padding-top: 0;
	}
	li {
		margin-left: 0;
		margin-right: 0;
	}
	li, a {
		display: block;
	}
	a {
		align-items: center;
		display: flex;
		padding: 1rem;
	}
	.-dark & {
		a {
			color: $black;
		}
	}
}


.headerInternalButtonMore, .headerInternalButtonUser, .headerInternalButtonLaunch {
	opacity: 0.8;
	&:hover {
		background: none !important;
		opacity: 1;
	}

	svg {
		fill: $black;
		.-dark & {
			fill: $white;
		}
	}
}

.headerInternalButtonUpload {
	margin-left: 5px !important;
	margin-right: 1rem !important;
	min-height: 34px !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-left: 2rem !important;;
	padding-right: 2rem !important;;
	white-space: nowrap;

	span {
		color: #fff;
	}

	@include breakpoint2 {
		padding-bottom: 5px !important;
		padding-top: 4px !important;
	}
}

.headerInternalSelection {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	.-showSelectionHeader & {
		display: block;
	}
}

.headerInternalSelectionPaper {
	align-items: center;
	display: flex;
	height: 100%;
}

.headerInternalSelectionClose {
	margin-left: 0.5rem !important;
}

.headerInternalSelectionCount {
	padding: 0 0.5rem;
}

.headerInternalSelectionActions {
	align-items: center;
	margin-left: auto;
	margin-right: 1rem;
	display: flex;
}

.headerInternalSelectionAdd {
	svg {
		height: 1.6rem;
		width: 1.6rem;
	}
}

.headerInternalPopperIcon {
	margin-left: 16px;
	margin-right: 0 !important;

	svg {
		fill: $black;
		height: 1rem;
	}
}
