@import 'orpheus-styles/src/scss/variables';

.card {
	border-color: $color_grey_400;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: block;
	max-width: 600px;
	padding: 20px;
	text-decoration: none;
	width: 100%;
	color: #222;

	&:hover {
		background-color: $color_grey_50;
	}
	&.-loading {
		border-color: $color_grey_300;
		cursor: default;
		&:hover {
			background-color: inherit;
		}
		.cardTitle, .cardTextShort, .cardTextLong, .cardMedia, .cardMetaLabel, .cardMetaValue, .cardFooterMetaUserImage, .cardFooterMetaUserName, .cardFooterMetaPosted {
			@include skeletonLoader;
		}
		.cardTitle {
			height: 2rem;
			max-width: 200px;
		}
		.cardTextShort {
			height: 3rem;
			margin-bottom: 0.8rem;
			max-width: 100%;
			&::after {
				display: none;
			}
		}
		.cardTextLong {
			height: 14rem;
			margin-bottom: 0.8rem;
			max-width: 100%;
			&::after {
				display: none;
			}
		}
		.cardMedia {
			height: 300px;
			margin-bottom: 0.8rem;
			width: 100%;
		}
		.cardMetas {
			&::after {
				display: none;
			}
		}
		.cardMetaLabel {
			height: 1rem;
			margin-bottom: 0.3rem;
			min-width: 80px;
		}
		.cardMetaValue {
			height: 1.5rem;
			min-width: 140px;
		}
		.cardFooterMetaUserImage {
			img {
				display: none;
			}
		}
		.cardFooterMetaUserName {
			height: 1.3rem;
			min-width: 100px;
		}
		.cardFooterMetaPosted {
			height: 1.3rem;
			min-width: 60px;
		}
	}
	&.-horizontal {
		position: relative;
		&.-media {
			.cardTitle, .cardTextShort, .cardMetas {
				margin-left: 32%;
			}
		}
		.cardMedia {
			align-items: center;
			border-radius: 4px 0 0 4px;
			display: flex;
			height: 100%;
			margin-bottom: 0;
			margin-top: 0;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
			width: 30%;
			img {
				border-radius: 0;
				display: block;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
}

.cardTitle {
	@include orpheus_font_heading6;
	margin-bottom: 0.5rem;
}

.cardTextShort, .cardTextLong {
	@include orpheus_font_body2;
	margin-bottom: 0.5rem;
	overflow: hidden;
	position: relative;
	&::after {
		background: linear-gradient(to right, rgba($white, 0), rgba($white, 100%));
		bottom: 0;
		content: '';
		height: 1.5rem;
		position: absolute;
		right: 0;
		width: 100px;
	}
}

.cardTextShort {
	max-height: 4rem;
}

.cardTextLong {
	max-height: 14rem;
	margin-bottom: 1.5rem;
}

.cardMedia {
	background-color: $color_grey_200;
	margin-bottom: 0.8rem;
	margin-top: 0.8rem;
	max-height: 320px;
	overflow: hidden;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: block;
		object-fit: contain;
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		height: auto;
		width: auto;
	}
}

.cardMedia.cardMediaAudio {
	height: 54px;
	background: transparent;
}

.cardMedia.cardMediaPDF {
	background: transparent;
	flex-wrap: wrap;
	height: auto;

	svg {
		font-size: 50px;
		margin: 10px auto;
	}

	.pdfLabel {
		margin: 10px auto;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.cardMetas {
	align-items: center;
	display: flex;
	overflow: hidden;
	position: relative;
	&::after {
		background: linear-gradient(to right, rgba($white, 0), rgba($white, 100%));
		bottom: 0;
		content: '';
		height: 3rem;
		position: absolute;
		right: 0;
		width: 100px;
	}
}

.cardMeta {
	margin-right: 1.5rem;
}

.cardMetaLabel {
	@include orpheus_font_caption;
	display: block;
	white-space: nowrap;
}

.cardMetaValue {
	@include orpheus_font_body2;
	max-height: 1.5rem;
	line-height: 1.5rem;
	white-space: nowrap;
}

.cardFooter {
	@include orpheus_font_body2;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.cardFooterMeta {
	align-items: center;
	display: flex;
}

.cardFooterMetaUser {
	align-items: center;
	display: flex;
	margin-right: 1rem;
	line-height: 1;
	text-decoration: none;
	white-space: nowrap;
}

.cardFooterMetaUserImage {
	background: $color_grey_300;
	border-radius: 50%;
	margin-right: 0.4rem;
	min-height: 30px;
	min-width: 30px;
	> img {
		border-radius: 50%;
		display: block;
		height: 30px;
		object-fit: cover;
		width: 30px;
	}
}

.cardFooterMetaPosted {
	color: $color_grey_600;
	line-height: 1;
	white-space: nowrap;
}

.cardFooterActions {

}
