@import 'orpheus-styles/src/scss/variables';

.miniCard {
  height: 320px;
  width: 90%;
  max-width: 320px;
  display: block;
  position: relative;
  text-align: left;
  a {
    background: $color_grey_200;
    width: 100%;
    height: 100%;
    display: block;
  }

  &.-compact {
    height: 150px;
  }

  &.-loading {
		.miniCardBackground, .miniCardText {
			@include skeletonLoader;
		}
    .miniCardBackground {
      background-image: none !important;
    }
    .miniCardBackgroundGradient {
      opacity: 0.2;
    }
		.miniCardText {
			height: 4rem;
      opacity: 0.5;
      position: absolute;
			width: 250px;
		}
  }
}

.miniCardBackground, .miniCardBackgroundGradient {
  background-size: cover;
  background-position: center;
}

.miniCardBackground {
  height: 100%;
  width: 100%;
}

.miniCardBackgroundGradient {
  background: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, 0) 50%, rgba($black, 0.95) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .-compact & {
    background: linear-gradient(to bottom, rgba($black, 0.5) 0%, rgba($black, 0.95) 100%);
  }
}

.miniCardText {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  white-space: normal;
  width: 100%;

  label, span {
    color: $white;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

  label {
  	@include orpheus_font_body2;
    max-height: 5rem;
    padding-bottom: 0;
  }

  span {
    @include orpheus_font_subtitle;
    max-height: 2rem;
    padding-top: 0.5rem;
  }
}
