@import 'orpheus-styles/src/scss/variables.scss';


.searchTags {
  width: 100%;
  max-width: 990px;
  margin: 0px auto;
  display: flex;
  padding: 20px 20px 30px 20px;
  background: #f6f6f6;
  border-radius: 0 0 6px 6px;

  a {
    padding: 0 2px;
    margin: 5px 7px;

    &.searchTagActive {
      font-weight: bold;
      border-bottom: 1px solid $black;
    }
  }

  i {
    padding-left: 10px;
  }
}
