@import 'orpheus-styles/src/scss/variables.scss';

.itemFileUploader {
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-height: 80vh;
	max-width: 990px;
	position: relative;

}

.-isUploadingFiles {
	ul {
		width: 100%;
		max-width: 990px;
		margin: 0 auto;
	}

}

.itemMediaEditButtons {
	width: 100%;
	text-align: right;

}

.MediaViewerContentItem.-loading {
	@include skeletonLoader;
	padding-bottom: 15%;
}

.thumbnailLoading {
	with: 100%;
}

.MediaViewer {
	display: flex;
	margin: 2em auto 3em;
	max-height: 60vh;
	max-width: 1200px;
	overflow: hidden;
	position: relative;
	user-select: none;
	list-style: none;
	padding: 0;
	justify-content: center;
	align-items: center;

	ul {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0;
	}
	li {
		background: #f6f6f6;
		overflow: hidden;
	}

	&.-layoutWithOne {
		li {
			background: transparent;
		}
		img {
			object-fit: contain;
		}
	}

	&.-layoutWithTwo {
		height: 60vh;

		li {
			height: 100%;
			&:nth-child(1), &:nth-child(2) {
				float: left;
				width: 50%;
			}
			&:nth-child(1) {
				border-right: 5px solid $white;
			}
			&:nth-child(2) {
				border-left: 5px solid $white;
			}
		}
		img {
			object-fit: cover;
		}
	}

	&.-layoutWithThree {
		height: 60vh;

		li {
			&:nth-child(1) {
				border-right: 10px solid $white;
				float: left;
				height: 100%;
				width: 66%;
			}
			&:nth-child(2), &:nth-child(3) {
				float: right;
				height: 50%;
				width: 34%;
				display: block;
			}
			&:nth-child(2) {
				border-bottom: 5px solid $white;
			}
			&:nth-child(3) {
				border-top: 5px solid $white;
			}
		}
		img {
			object-fit: cover;
			max-width: 100%;
			height: 100%;
			width: 100%;
			max-height: none;
		}
	}

	img {
		cursor: pointer;
		display: block;
		object-fit: contain;
		transition: transform 0.5s ease-out;
		margin: 0 auto;
		max-height: 60vh;

		&:hover {
			opacity: 0.97;
			transform: scale(1.01);
			transition: transform 1s ease-out;
			transition-delay: 0.3s;
		}

		&:active {
			opacity: 0.95;
		}
	}

	embed {
		padding: 60px;
		max-width: 990px;
		margin: 0 auto;
	}
}

.MediaViewerContentItem {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&.-video, &.-audio {
		max-width: 640px;
		margin: 0 auto;
	}
}

.MediaViewerContentItemMore {
	display: flex;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	font-size: 2rem;
	color: $white;
	cursor: pointer;

	align-items: center;
	justify-content: center;

	pointer-events: none;
	background-color: rgba($black, 0.4);
	transition: background-color 0.2s;

	&:hover {
		background-color: rgba($black, 0.5);
	}

	&:active {
		background-color: rgba($black, 0.4);
		transition: none;
	}
}

.itemMetaField .MediaViewer {
	margin: 0;
	justify-content: flex-start;
	align-items: flex-start;

	embed {
		padding: 0px;
		max-width: 990px;
		margin: 0;
	}
}
