@import 'orpheus-styles/src/scss/variables.scss';

svg circle {
	visibility: hidden;
  cursor: pointer!important;
}

.annotationDisplay {
	cursor: pointer!important;
	z-index: 100000;
	margin-top: 85px!important;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  border-style: solid;
  border-width: 3px;
  margin: 0 auto;
  z-index: 1000000;
  position: absolute;


	cursor: pointer!important;
  transition: all 0.1s ease;
  border-color: black;
  background-color: white;
  &.active {
    border-color: white;
    background-color: black;
  }

  @include breakpoint3 {
		margin-top:0!important;
	}
}
.zooming {
  .annotationDisplay {
    opacity: 0;
    visibility: hidden;
  }
}

.not-zooming {
   .annotationDisplay {
     opacity: 1;
     visibility: visible;
   }
}



.annotator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
	cursor: crosshair;
	pointer-events: none;
}
.annotator.drawingMode {
  pointer-events: all;
}


.broadCastEvents {
  // pointer-events: none;
  cursor: move;
	svg {
		circle {
			pointer-events: all!important;
		}
	}
}

.drawingModeButton {
	background: $color_grey_300!important;
}
