@import 'orpheus-styles/src/scss/variables.scss';

.fileUploader {
  border: 2px dashed $color_grey_500;
  text-align: center;
	margin: 2rem;
}

.fileUploaderDropzone {
  // background-color: $color_grey_100;
  margin: 0;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    // background-color: $color_grey_200;
  }
}

.fileUploaderContent {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  padding: 50px;

  [role="progressbar"] {
    height: 100px !important;
    width: 100px !important;
  }

  svg {
    fill: $color_grey_500;
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
  }

  p {
    margin-bottom: 0;
  }

  span {
    color: $color_primary_300;
    font-weight: 700;
  }
}
