@import 'orpheus-styles/src/scss/variables.scss';

.cover {
	align-items: flex-end;
	position: relative;
	background: $black;
	color: $white;
	display: flex;
	min-height: 80vh;
	padding: 8rem 1.5rem 4rem;
	&.-is-archive-cover {
		min-height: 40vh;
		.coverBackgroundGradient {
		  background: linear-gradient(to bottom, rgba($black, 0.6) 0%, rgba($black, 0.3) 10%, rgba($black, 0.1) 30%);
		}
	}
	&.-is-mind-the-gap-cover {
		overflow: hidden;
		min-height: 80vh;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			min-height: 100vh;
		}
	}
	&.-no-cover-image {
		min-height: 60px;
		padding: 0;
	}
	&.-center {
		align-items: center;
		.coverContent {
			text-align: center;
			p {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.-mega {
		align-items: flex-start;
		min-height: 120vh;
		padding-top: 4rem;
		.coverContent {
			padding-top: 10vh;
			text-align: center;
			p {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@include breakpoint2 {
		padding: 8rem 3rem 4rem;
	}

	@include breakpoint4 {
		padding: 9rem 6rem 5rem;
	}
}

.coverBackground,
.coverBackgroundGradient,
{
  position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.coverBackground {
	background-size: cover;
	background-position: center;
}

.coverBackgroundGradient {
  background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0.15) 5%, rgba($black, 0.3) 30%);
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.coverContent {
	position: relative;
	text-align: left;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	width: 100%;
	z-index: 2;

	label, h1, p {
		text-shadow: 0 0 10px $color_grey_800;
	}

	h1 {
		margin-bottom: 1rem;
	}

	label {
		color: $color_primary_200;
	}

	p {
		max-width: 800px;

		a {
			border-bottom: 1px solid rgba($white, 0.4);
			color: $white;
			font-weight: 400;
			text-decoration: none;
			&:hover {
				border-bottom: 1px solid rgba($white, 0.5);
				color: $white;
			}
			&:active {
				border-bottom: 1px solid rgba($white, 0.6);
				color: $white;
			}
		}
	}

	a[role="button"] {
		border-bottom: none;
		margin-top: 1rem;
		&:hover {
			background: $color_primary_400;
		}
	}

	.-loading & {
		label, h1, p {
			@include skeletonLoaderDark;
		}
		label {
			height: 1rem;
			margin-bottom: 1rem;
			max-width: 150px;
		}
		h1 {
			height: 4rem;
			max-width: 600px;
		}
		p {
			height: 3rem;
			max-width: 400px;
		}
	}
}

.coverMedia {
	margin-top: 4rem;
}

.mind-the-gap-click-event {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	&:hover {
		background: rgba(255, 255, 255, 0.05);
	}
}

.mind-the-gap-modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background: rgba(255, 255, 255, 0.99);

	.closeButton {
		position: fixed;
		top: 50px;
		right: 50px;
		z-index: 101;
		color: #222;
		background: #fff;
		&:hover {
			background: rgba(200, 200, 200, 0.6);

		}

	}

}
