@import 'orpheus-styles/src/scss/variables.scss';

.error {
	color: $red;
}

.expansionPanelSummary--heading {
	flex-basis: 33.33%;
	flex-shrink: 0;
}

.expansionPanelSummary--secondary-heading {
	// TODO: (charles) Remove !important
	// once we figure out what's forcing $black
	color: $color_grey_500 !important;
}

.itemEditor {
	min-height: 100vh;
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4rem;
	position: relative;
}

.itemEditorHeader {
	min-height: 51px;
	overflow: hidden;
	@include breakpoint3 {
		min-height: 60px;
	}
}

.itemEditorFormInputOuter {
	margin: 0 auto;
	padding-top: 60px;
	width: 100%;
	max-width: 990px;


	label {
		font-size: 14px;
		display: block;
	}

	.tagSelect {
		display: inline-block;
		vertical-align: top;
		border: none;
		border-bottom: 2px solid $color_grey_500;
		padding: 15px 15px 5px 15px;
		margin: 20px 0;
		outline: none;
		width: 90%;
		max-width: 990px;
		text-align: left;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #bbb;
		}
	}

	.tagSelect {
		font-size: 18px;
		outline: none;
		border: none;
		margin: 0;
		padding: 5px;

		> div {
			border: none;
			outline: none;
			padding: 5px 10px;
		}
	}
}

.itemEditorFormTitle--field-input {
	background: transparent;
	border: none;
	margin-bottom: 0;
	outline: none;
	padding: 0;
	@include orpheus_font_heading1
}

.itemEditorFormTitleOuter {
	margin-bottom: 2.5rem;
}

.itemEditorFormDescriptionOuter {
	margin-top: 20px;
}

.itemEditorFormPrivacyOuter {
	> div {
		max-width: 220px;
	}

	svg {
		right: 8px;
	}
}

.itemEditorExpansionPanels {
	max-width: 920px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.itemEditorFormInputOuterFormSubmit {
	text-align: right;
	button {
		margin-left: 1rem;
	}
}
