@import 'orpheus-styles/src/scss/variables.scss';

.dashboard {
	margin: 0 auto;
	padding-top: 6rem;
}

.dashboardUploader {
	margin: 20px auto;
	max-width: 600px;
	width: 90%;
}

.dashboardEmpty {
	align-items: center;
	animation-duration: 2s;
	animation-name: dashboardEmptyAnimation;
	animation-timing-function: ease-out;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1400px;
	padding: 2rem 2rem 4rem;
	@include breakpoint4 {
		flex-direction: row-reverse;
	}

	h1 {
		margin-bottom: 2rem;
	}
}


@keyframes dashboardEmptyAnimation {
  0% {
		opacity: 0;
		transform: translateY(10px);
  }
	50% {
		opacity: 0;
	}
	60% {
		opacity: 0.5;
	}
  100% {
		opacity: 1;
		transform: translateY(0);
  }
}

.dashboardEmptyInstructions {
	margin-bottom: 50px;
	max-width: 510px;
	width: 100%;
	@include breakpoint4 {
		margin-bottom: 0;
		margin-right: 10%;
	}
}

.dashboardEmptyQuote {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 70vh;
	max-width: 560px;
	min-height: 500px;
	position: relative;
	width: 100%;
	@include breakpoint4 {
		margin-left: 10%;
		margin-right: 100px;
		max-height: 800px;
	}

	&::after {
		background: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, 0.6) 40%, rgba($black, 0.7) 100%);
		border-radius: 0 0 20px 20px;
		bottom: 0;
		content: '';
		display: block;
		height: 70%;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
}

.dashboardEmptyQuoteText, .dashboardEmptyQuoteImageCredits {
	position: relative;
	z-index: 2;
}

.dashboardEmptyQuoteText {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $white !important;
	font-family: 'Noto Serif', serif !important;
	padding: 30px 30px 20px;

	span {
		display: block;
		font-weight: bold;
		margin-top: 1rem;
	}
}

.dashboardEmptyQuoteImageCredits {
	padding: 10px 10px 20px;
	text-align: center;
	a {
		color: $white !important;
		font-weight: 300;
		opacity: 0.5;
		text-decoration: none;
	}
}

.dashboardEmptyQuoteImage {
	background: $color_grey_100;
	border-radius: 20px;
	overflow: hidden;

	&, & > img {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	> img {
		object-fit: cover;
	}
}

.dashboardUploading {
	max-width: 1040px;
	margin: 2rem auto 1rem;
	padding: 0 2rem;
}

.dashboardUploadingPaper {
	background-color: $color_grey_200 !important;
	margin-top: -1rem;
	padding: 2rem;

	p {
		margin-bottom: 1rem;
		margin-top: -1rem;
	}
}

.dashboardAnonymous {
	background: rgba($black, 0.95);
	bottom: 0;
	color: $white;
	padding: 1rem;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 10;
}

.dashboardAnonymousContent {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 1rem auto 1.5rem;
	max-width: 1000px;
}

.dashboardAnonymousContentCaption, .dashboardAnonymousContentParagraph {
	margin: 0 0 0.5rem 0 !important;
	max-width: 600px;
	@include breakpoint2 {
		margin-right: 2rem !important;
	}
}

.dashboardAnonymousContentCaption {
	color: $color_grey_400 !important;
	margin-bottom: 0 !important;
}

.dashboardAnonymousContentButton {
	white-space: nowrap;
}
