@import 'orpheus-styles/src/scss/variables.scss';

.facetedCards {
	margin: 0 auto 6rem;

	@include breakpoint2 {
		// padding: 3rem 3rem;
	}

	@include breakpoint3 {
		padding: 3rem 1rem;
	}

	@include breakpoint4 {
		padding: 3rem 6rem;
	}
}

.facetedCardsContent {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	@include breakpoint3 {
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
}

.facetedCardsContentCards {
	padding-top: 50px;
	max-width: 100%;

	@include breakpoint2 {
		margin: 0 auto;
		padding-top: 100px;
		width: 70%;
	}

	@include breakpoint3 {
		padding-top: 0;
	}

	.card {
		border-left-width: 0;
		border-right-width: 0;
		border-radius: 0;
		margin: 0 auto;
		@include breakpoint2 {
			border-radius: 5px;
			border-width: 1px;
			margin: 0;
		}
	}
}

.facetedCardsContentFilters {
	will-change: min-height;
	z-index: 10;
	@include breakpoint3 {
		height: auto;
		position: relative;
		width: 30%;
		border-bottom: none;
		margin-top: -40px;
		padding-top: 20px;

		&.-sticky {
			margin-top: 0;
		}
	}

	.-showMobileFilters & {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	.sticky-inner-wrapper {
		background: $white;
		z-index: 1;
		.-showMobileFilters & {
			left: 0;
			height: 100%;
			position: fixed !important;
			top: 0;
			width: 100%;
			z-index: 100;
		}
	}
}

.facetedCardsContentFiltersInner {
	background: $white;
	border-bottom: 1px solid $color_grey_300;
	z-index: 10;

	@include breakpoint3 {
		border-bottom: none;
	}

	// Todo: theme once the -onSearchRoute class is being appended to the body
	// .-onSearchRoute .-sticky & {
	// 	padding-top: 100px;
	// }

	.-showMobileFilters & {
		height: 100vh;
		left: 0;
		position: fixed !important;
		top: 0;
		width: 100%;
		z-index: 100;
	}
}
